<app-header></app-header>
<div class="container-fluid s-top-banner">
    <div class="s-top-banner-wrapper">
        <div class="s-content-wrapper">
            <div class="s-top-banner-left">
                <h2 class="s-top-heading">Jack Zufelt’s the DNA of Success Master Course</h2>
                <h1 class="s-top-heading-below">Achieve Your Goals and Make Your Dreams a Reality</h1>
                <p class="s-top-heading-bottom">Experience what has been called a<br><span>“breakthrough”</span> and <span>“wake-up call”</span> for millions!</p>
                <div class="s-bottom-arrow-div">
                    <div class="s-top-user-quote">
                        <ul>
                            <li><span>Realize Your Core Desires</span></li>
                            <li><span>Live an Incredible Life</span></li>
                            <li><span>Earn the Income You Want </span></li>
                            <li><span>Build Lasting, Meaningful Relationships</span></li>
                        </ul>
                    </div>
                    <div class="s-learnmore-section">
                        <div class="s-learnmore-section-top">
                            <p>Jack Zufelt is the human potential superstar that can help you </p>
                        </div>
                        <button class="s-learnmoreButton">Learn More Today! <span>packages now!</span></button>
                    </div>
                    <div class="s-mentor">
                        <img src="../../assets/images/s_mentor_jack.png" class="s-mentor-fluid">
                    </div>
                </div>
            </div>
            <div class="s-top-banner-right">
                <div class="s-formsection">
                    <div class="s-inner-form-content">
                        <img src="../../assets/images/s_comments_icon.png" align="comment icon">
                        <h2>PICK YOUR<br>LEVEL<br>OF IMPACT NOW</h2>
                    </div>
                    <form  >
                        <input type="text" name="first_name" placeholder="First Name">
                        <input type="text" name="last_name" placeholder="Last Name">
                        <input type="email" name="email" placeholder="Email">
                        <input type="text" name="phone" placeholder="Phone Number">
                        <button type="submit">let’s get you started!</button>
                    </form>
                    <div class="s-curved-arrow">
                        <img src="../../assets/images/s_arrow.png" alt="arrow">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="s-masterCourse-sec">
    <div class="s-masterCourse-bg-right">
        <div class="s-masterCourse-bg-center">
            <div class="s-Matercontent s-content-wrapper ">
                <div class="s-mastersec-left">
                    <div class="s-master-content-left">
                        <img src="../../assets/images/s_jack.jpg" width="130px" height="120px">
                        <h2> WHAT IS THE DNA OF SUCCESS</h2>
                        <h3>MASTER COURSE?</h3>
                        <div class="s-left-bottom-para">
                            <p>Jack Zufelt has built an all-new, advanced system that will teach you the things you need to know to realize your true desires and achieve success. This program is built upon Jack’s long-held and proven <span>DNA of Success</span> philosophy that addresses the specific needs of everyone that seeks to live their truth and be the person they were meant to be.</p>
                        </div>
                    </div>
                </div>
                <div class="s-mastersec-right">
                    <div class="s-realise-sec">
                        <img src="../../assets/images/s_heart.png" alt="#"><br>
                        <p>Realize your Core Desire</p>
                    </div>
                    <div class="s-realise-sec">
                        <img src="../../assets/images/s_user.png"><br>
                        <p>Live an Incredible Life</p>
                    </div>
                    <div class="s-realise-sec">
                        <img src="../../assets/images/s_money.png"><br>
                        <p>Earn the Income You Want</p>
                    </div>
                    <div class="s-realise-sec">
                        <img src="../../assets/images/s_handshake.png"><br>
                        <p>Build Lasting, Meaningful<br>Relationships</p>
                    </div>
                </div>
                <div class="clearfix"></div>  
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="s-mentor-block">
    <div class="s-mentor-employee">
        <div class="s-key-section">
            <div class="s-section-content">
                <div class="s_content_profile">
                    <h3><span>WHO IS JACK ZUFELT?</span> Achieve Your Highest Success with the “Mentor to Millions”</h3>
                    <img src="../../assets/images/s_jack.jpg" alt="#">
                </div>
                <p><span>JACK ZUFELT is a professional speaker</span>, acclaimed success trainer, and best-selling author of the DNA of Success. As one of the most sought after and asked-back personal development trainers, <span>Jack Zufelt is making his program available</span> to the masses. With his 30 years of experience and the undeniable power of his proven system for success, Jack has created a whole new level of education.Now you and anyone you know can experience what has changed so many others' lives by helping them access the power to achieve their dreams and create happiness, health, and wealth within their lives.</p>
            </div>
            <div class="s-section-content_bottom">
                <p>You can now inevitably to achieve your highest success when you identify your Core Desires and activate your Conquering Force. With the <span>DNA of Success Program</span>, you will learn how to do this and begin to make immediate positive changes in your life immediately.</p>
            </div>
        </div>
    </div>
</div>
<div class="s-education">
    <div class="s-money-bg">
        <div class="s-mentor-icon">
            <div class="s_mentor_content">
                <p>Make More Money and<br>Live the Life You Want!</p>
            </div>
        </div>
    </div>
    <div class="s_bg_position_jointoday">
        <div class="s_btn_bg">
            <button class="s-mentor_start_today_btn bannerarrowscroll">start today</button>
        </div>
    </div>
</div>
<div class="s_science_bg">
    <div class="s_science_plant">
        <div class="science_bg_employee">
            <div class="science_content">
                <h1>THE SCIENCE BEHIND JACK’S PROVEN METHOD</h1>
                <p>Jack is the only speaker and trainer on success that is backed by science. Your success can be automatic. It is hard-coded into your DNA! Somehow Jack knew this long before it was discovered and explained by scientists. It is now the basis of these incredibly dynamic teachings and techniques, the DNA of Success Master Course.</p>
                <br>
                <h1>JACK’S SUCCESS EDUCATION</h1>
                <p>Jack has a wealth of experience and offers proven strategies to assist individuals to develop the lasting qualities that make success a reality. What Jack teaches is incredibly groundbreaking and has helped millions of people already!</p>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="s_masterCourse_work_sec">
    <div class="s_masterCourse_work-bg_right">
        <div class="s-masterCourse_work_bg_center">
            <div class="s_work_Matercontent s_mentor_content_wrapper">
                <div class="s-mastersec_work_left">
                    <div class="s-master_content_work_left">
                        <img src="../../assets/images/s_jack.jpg" width="130px" height="120px">
                        <h2> HOW DOES </h2>
                        <h3>THE MASTER COURSE WORK?</h3>
                        <div class="s-left-bottom-para s_work_paragraph">
                            <p>Based on the proven principles of his book DNA of Success, Jack Zufelt has built an advanced program that provides an in-depth look at the proven techniques of success and the steps you can take to tap into your Conquering Force and reach your highest success.</p>
                            <br>
                            <p><span> The DNA of Success</span> Program teaches you how to activate the cause of success within yourself which you already possess. This all-new and innovative success program is an actionable guide to help you discover what you want and how exactly to get it.</p>
                        </div>
                    </div>
                </div>
                <div class="s-mastersec-right">
                    <div class="s-realise-sec">
                        <img src="../../assets/images/s_heart.png" alt="#"><br>
                        <p>Realize your Core Desire</p>
                        <h5>The first step to achieving your goals is knowing your innermost Desires.</h5>
                    </div>
                    <div class="s-realise-sec">
                        <img src="../../assets/images/s_user.png"><br>
                        <p> Live an Incredible Life</p>
                        <h5>Live the kind of life you have always wanted.</h5>
                    </div>
                    <div class="s-realise-sec">
                        <img src="../../assets/images/s_money.png"> <br>
                        <p>Earn the Income You Want</p>
                        <h5>Stop living paycheck to paycheck and achieve the lifestyle of your dreams.</h5>
                    </div>
                    <div class="s-realise-sec">
                        <img src="../../assets/images/s_handshake.png"> <br>
                        <p>Build Lasting, Meaningful<br>Relationships</p>
                        <h5>Build and maintain fulfilling and <span>meaningful relationships.</span> </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="s_bottom_sec">
    <div class="s_bottom_left_bg">
        <div class="s_right_bg">
            <div class="s_bottom_start_section_content">
                <p>Make More Money and Live the Life You Want!</p>
            </div>
            <div class="s_start_button_container">
                <div class="s_bottom_startToday">
                    <button class="bannerarrowscroll">start today</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="s_last_mentor_div">
    <div class="end_block_left_bg">
    <div class="s_right_section">
        <div class="s_center_bg">
            <div class="s_end_sec_content">

                <h1>There is no reason to wait for success any longer.<br><span>Sign up for Jack’s life-changing Success Education today!</span></h1>
                <div class="s_bottom_get_started_btn">
                    <button class="bannerarrowscroll">Get Started Now!</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<app-footer></app-footer>