<app-header></app-header>

<div class="ordersuccess_body">

    <div class="ordersuccess_body_wrapper">

        <h2>CONGRATULATIONS!! </h2>
        <!-- <h3>Your Order for Jack M. Zufelt’s International Best-Seller “The DNA of Success” 2nd Edition has been successfully placed.</h3> -->
        <div class="videowrapper">
        <div class="video-responsive2">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/rOT9ij2k2uY" frameborder="0" 
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
      

        <h4>Your copy will be shipped and delivered to your doorstep within the next 5-7 Business Days!</h4>
        <div class="table_body table_body_order">
            <table width="100%"  cellspacing="0" cellpadding="0" class="success_table1">
                <thead>
                <tr>
                    <th width="50%"  valign="middle"  >Order Date:</th>
                    <th width="50%"  valign="middle"  >Order Status:</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td  valign="middle" data-label="Order Date:"> {{AllData.order_on | date:'medium'}}</td>
                    <td valign="middle" data-label="Order Status:">{{AllData.order_status}}</td>
                </tr>
            </tbody>
            </table>
    
        </div>  

        <h5>Shipping Method: Standard Shipping (Residential)</h5>

        <div class="table_body table_body2">
            <table width="100%"  cellspacing="0" cellpadding="0">
                <thead>
                <tr>
                    <th   valign="middle" >Item</th>
                    <th  valign="middle"  >Name</th>
                    <th  valign="middle" >  Qty</th>
                   
                    <th  valign="middle"  >Amount</th>
                </tr>
                </thead>
            
            
            <tbody>
            
                <ng-container *ngFor="let item of AllData.product_namebackend;index as i">
           
                    <tr>
                   
                     <td  data-label="Item:"  valign="middle"  >{{i+1}}</td>
                      <td data-label="Name:"  valign="middle" >{{item.name}}	</td>
              
                      <td data-label="Qty"  valign="middle">{{item.quantity}}</td>
                     
                    <td data-label="Amount:"  valign="middle" >${{item.price}}
                    </td>
                     
                   </tr>
                 </ng-container>
            
                   <tr class="tablelistdeta">
                    <td colspan="2" style="border: none;">&nbsp;</td>
                    <td  valign="middle">Sub Total</td>
                    <td  valign="middle" data-label="Sub Total:">${{AllData.subtotal}}</td>
                </tr> 
            
                <tr class="tablelistdeta">
                    <td colspan="2">&nbsp;</td>
                    <td  valign="middle">Shipping:</td>
                    <td valign="middle"  data-label="Shipping:">${{AllData.shipping_charge}}</td>
                </tr>
                <tr class="tablelistdeta">
                    <td colspan="2">&nbsp;</td>
                    <td  valign="middle">Sale Tax:</td>
                    <td valign="middle"  data-label="Sale Tax:">${{AllData.saletax}}</td>
                </tr>
                <tr class="tablelistdeta">
                    <td colspan="2">&nbsp;</td>
                    <td  valign="middle">Total:</td>
                    <td valign="middle"  data-label="Total:">${{AllData.total}}</td>
                </tr>
            </tbody>
                </table>
            </div>

        <h5>Billing Shipping Information</h5>

        <div class="table_body_wrapper">
            <div class="table_body">

           
               
                        <table width="100%" border="0">
                            <thead>
                           <tr>
                                <th align="left" valign="middle">Bill To</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td align="left" valign="middle">Name:  {{AllData.billing_firstname}} {{AllData.billing_lastname}}</td>
                                </tr>
                            <tr>
                                <td align="left" valign="middle">Address: {{AllData.billing_address}}</td>
                                </tr>
                            <tr>
                                <td align="left" valign="middle">City: {{AllData.billing_city}}</td>
                                </tr>
                            <tr>
                                <td align="left" valign="middle">State: {{AllData.billing_state}}</td>
                                </tr>
                            <tr>
                                <td align="left" valign="middle">Zip: {{AllData.billing_zip}}</td>
                                </tr>
                            <tr>
                                <td align="left" valign="middle">Email: {{AllData.user_info.email}}</td>
                            </tr>
                        </tbody>
                    </table>
            </div>
                    <div class="table_body">

                       
                        
                        <table width="100%" border="0">
                            <thead>
                            <tr>
                                <th align="left" valign="middle">Ship To</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td align="left" valign="middle">Name: {{AllData.shipping_firstname}} {{AllData.shipping_lastname}}</td>
                                    </tr>
                                <tr>
                                    <td align="left" valign="middle">Address: {{AllData.shipping_address}}</td>
                                    </tr>
                                <tr>
                                    <td align="left" valign="middle">City: {{AllData.billing_city}}</td>
                                    </tr>
                                <tr>
                                    <td align="left" valign="middle">State: {{AllData.billing_state}}</td>
                                    </tr>
                                <tr>
                                    <td align="left" valign="middle">Zip: {{AllData.shipping_zip}}</td>
                                    </tr>
                                
                        </tbody>
                    </table>
                


            </div>
        </div>

        <h6>Along with your copy of Jack’s “The DNA of Success” 2nd Edition, you are also granted access to a 7-Day Free Trial of Jack’s incredible DNA Master Courses!</h6>


        <div class="order_success_footer">

            <label>You can access Jack’s DNA Master Courses using the following link.</label>

            <a href="javascript:void(0);"   class="OSlogin">LOG IN</a>

        </div>


        <h6>If you need any further assistance or have any queries about our Mentorship Programs, do not hesitate to Contact Us and we will get back to you as soon as we can!</h6>

        
     <a href="javascript:void(0);"  routerLink="/contact"   class="con_BTN">CONTACT US</a>

     <h1>Good Luck!!</h1>
    </div>

</div>
 

<app-footer></app-footer>
  