<span class="home_top_section">
    
        <span class="home_top_section_col">
            <span class=" home_top_block">
                 
                    <span class=" home_top_block_col">
                        <p> Interviewed on over  <span>2,000 Radio/TV talk shows</span> including PBS and The TODAY SHOW!
</p>

<span class="top_logo_div">
                    
                            <a href="javascript:void(0);"><img src="../../assets/images/top_snewlogo1.png" alt="#"></a>
                            <a href="javascript:void(0);"><img src="../../assets/images/top_snewlogo2.png" alt="#"></a>
                            <a href="javascript:void(0);"><img src="../../assets/images/top_snewlogo3.png" alt="#"></a>
                            <a href="javascript:void(0);"><img src="../../assets/images/top_snewlogo4.png" alt="#"></a>
                            <a href="javascript:void(0);"><img src="../../assets/images/top_snewlogo5.png" alt="#"></a>
                            <a href="javascript:void(0);"><img src="../../assets/images/top_snewlogo6.png" alt="#"></a>
                            <a href="javascript:void(0);"><img src="../../assets/images/top_snewlogo7.png" alt="#"></a>
                            <a href="javascript:void(0);"><img src="../../assets/images/top_snewlogo8.png" alt="#"></a>
                            <a href="javascript:void(0);"><img src="../../assets/images/top_snewlogo9.png" alt="#"></a>
                            <a href="javascript:void(0);"><img src="../../assets/images/top_snewlogo10.png" alt="#"></a>
                            <a href="javascript:void(0);"><img src="../../assets/images/top_snewlogo11.png" alt="#"></a>
                            <a href="javascript:void(0);"><img src="../../assets/images/top_snewlogo12.png" alt="#"></a>
                              
                         

             <div class="clearfix"></div>
                    </span>

</span>
</span>

</span>


<span class="container-fluid menu_section">
    
            <span class=" menu_block">
               
                    <span class="home_banner_logo_section">
                        <a href="javascript:void(0);" (click)="goToHome()">

                           <img src="../../assets/images/logo.png" alt="#"> 


                        </a>
                    </span>
<span class=" home_banner_menu_section" (click)="clickEvent()" [ngClass]="status ? 'menushow' : 'menuhide'">
                         
                        <label class="menuiconlabel"> 
 
                                <img src="../../assets/images/menuicon_new.png" alt="#"> 
                              </label>

                            <span class="navbar-nav">
                                    <ul > 
                                        <li><a href="javascript:void(0);" [routerLink]="['/home']" routerLinkActive="active inactive">Home</a></li>
                                        <li><a href="javascript:void(0);"  routerLink="/pages/products" routerLinkActive="active inactive">Products</a></li>
                                        <li><a href="javascript:void(0);" routerLink="/pages/thewholestory" routerLinkActive="active inactive">The Whole Story</a></li>
                                        <li><a href="javascript:void(0);" routerLink="/pages/mentor" routerLinkActive="active inactive">Mentor Program</a></li>
                                        <li><a href="javascript:void(0);"  routerLink="/pages/successgenetics" routerLinkActive="active inactive">Success Genetics</a></li>
                                        <li><a href="javascript:void(0);"  routerLink="/pages/about" routerLinkActive="active inactive">About Jack Zufelt</a></li>
                                        <li><a href="javascript:void(0);" routerLink="/pages/aboutbeto"  routerLinkActive="active inactive">About Beto Paredes</a></li>
                                        <li><a href="javascript:void(0);" routerLink="/pages/blog" routerLinkActive="active inactive">Blogs</a></li>
                                        <li><a href="javascript:void(0);"  routerLink="/pages/contact-us" routerLinkActive="active inactive">Contact Us</a></li>
                                        <li><a href="javascript:void(0);" routerLink="/pages/live-webinar"  routerLinkActive="active inactive">Live Webinar</a></li>
                                        <!-- <li><a href="javascript:void(0);" (click)="comming()">Live Webinar</a></li> -->
                                         <li><a target="_blank" href="https://dna-backend.influxiq.com/login" routerLinkActive="active inactive">Login</a></li>
                                    </ul>
                                </span>
<div class="clearfix"></div>
</span>

<div class="clearfix"></div>

<!-- <input type="button" id="bookfiled" class="bookfiled" value="BOOK APPOINTMENT"> -->

</span>



</span>