<span class="foooter_section">
 
        <span class=" foooter_section_col">


            <span class="footer_info">
              <a href="javascript:void(0);" routerLink="/home"><img src="../../assets/images/logo.png" alt="#" class="foot_logo"></a> 


            </span>

            <span class="foot_menu">

                
                <a href="javascript:void(0);" routerLink="/home">Home</a>
                <a href="javascript:void(0);">Products</a>
                <a href="javascript:void(0);" routerLink="/thewholestory">The Whole Story</a>
               <a href="javascript:void(0);" routerLink="/mentor">Mentor Program</a>
                <a href="javascript:void(0);" routerLink="/successgenetics">Success Genetics</a>
                <a href="javascript:void(0);" routerLink="/about">About Jack Zufelt</a>
                <a href="javascript:void(0);" routerLink="/aboutbeto">About Beto Paredes</a>
               <a href="javascript:void(0);" routerLink="/blog">Blog</a>
                <a href="javascript:void(0);">Contact Us</a>
              
               <a href="javascript:void(0);">Login</a>
               
                <span class="clearfix"></span>
                <span class="footer_bottom_con">
                    <p>&copy; 2016 The dna  of success. All rights reserved. </p> 

                   
                    <label><a href="javascript:void(0)"  (click)="termsModal();">TERMS OF SERVICE</a> <span></span> <a href="javascript:void(0)"  (click)="privacyModal();">PRIVACY POLICY</a> </label>

                </span>
            </span>

            <span class="clearfix"></span>


        </span>
     
</span>