<span class="foooter_section">
 
        <span class=" foooter_section_col">


            <span class="footer_info">
              <a href="javascript:void(0);" routerLink="/home"><img src="../../assets/images/logo.png" alt="#" class="foot_logo"></a> 


            </span>

            <span class="foot_menu">

                
                <a href="javascript:void(0);" routerLink="/home">Home</a>
                <a href="javascript:void(0);">Products</a>
                <a href="javascript:void(0);" routerLink="/newthewholestory">The Whole Story</a>
               <a href="javascript:void(0);" routerLink="/newmentor">Mentor Program</a>
                <a href="javascript:void(0);">Success Genetics</a>
                <a href="javascript:void(0);">About Jack Zufelt</a>
                <a href="javascript:void(0);">About Beto Paredes</a>
               <a href="javascript:void(0);">Blog</a>
                <a href="javascript:void(0);">Contact Us</a>
              
                 <li><a href="javascript:void(0);">Login</a>
               
                <span class="clearfix"></span>
                <span class="footer_bottom_con">
                    <p>&copy; 2016 The dna  of success. All rights reserved. </p> 

                   
                    <label><a href="javascript:void(0)"  >TERMS OF SERVICE</a> <span></span> <a href="javascript:void(0)" >PRIVACY POLICY</a> </label>

                </span>
            </span>

            <span class="clearfix"></span>


        </span>
     
</span>