<span class="foooter_section">
 
        <span class=" foooter_section_col">


            <span class="footer_info">
              <a href="javascript:void(0);" routerLink="/home"><img src="../../assets/images/logo.png" alt="#" class="foot_logo"></a> 


            </span>

<span class="foot_menu">

                
                <a href="javascript:void(0);" routerLink="/home"   routerLinkActive="activefoter">Home</a>
                <a href="javascript:void(0);" routerLink="/pages/products" routerLinkActive="activefoter">Products</a>
                <!-- <a href="javascript:void(0);" (click)="comming()">Products</a> -->
                <a href="javascript:void(0);" routerLink="/pages/thewholestory" routerLinkActive="activefoter">The Whole Story</a>
               <a href="javascript:void(0);" routerLink="/pages/mentor" routerLinkActive="activefoter">Mentor Program</a>
                <a href="javascript:void(0);" routerLink="/pages/successgenetics" routerLinkActive="activefoter">Success Genetics</a>
                <a href="javascript:void(0);" routerLink="/pages/about" routerLinkActive="activefoter">About Jack Zufelt</a>
                <a href="javascript:void(0);" routerLink="/pages/aboutbeto" routerLinkActive="activefoter">About Beto Paredes</a>
               <a href="javascript:void(0);" routerLink="/testimonials" routerLinkActive="active inactive">Testimonials</a>
               <a href="javascript:void(0);" routerLink="/pages/blog" routerLinkActive="activefoter">Blog</a>
                <a href="javascript:void(0);"  routerLink="/pages/contact-us" routerLinkActive="activefoter">Contact Us</a>
                <a href="javascript:void(0);" routerLink="/pages/affiliatesignup" routerLinkActive="activefoter">Affiliate Signup</a>
               <a href="https://dna-backend.influxiq.com/login"  routerLinkActive="activefoter">Login</a>
               
                <span class="clearfix"></span>
<span class="footer_bottom_con">
                    <p>&copy; 2016 The DNA of Success. All rights reserved. </p> 

                   
                    <label><a href="javascript:void(0)"  (click)="termsModal();">TERMS OF SERVICE</a> <span></span> <a href="javascript:void(0)" (click)="privacyModal();">PRIVACY POLICY</a> </label>

</span>
</span>

<span class="clearfix"></span>


</span>

</span>