
.cartpagebody{  margin: 30px auto; width: 1400px;  box-shadow: none!important; border-radius: 10px!important; background: #fff!important; border: solid 1px #dedede!important; padding: 30px;}
.cartpagebody h2{ display: block; font-size: 30px; margin: 0 0 20px 0; border-bottom: solid 1px #dedede!important; padding: 0 0 16px 0;  
     font-family:'OpenSans-Semibold'; color: #282828;}


.cartbodycon{ display: flex;}

.cartleft{ width: 49%; border-right: solid 1px #dedede!important; padding: 0 20px 0 0; }

.cartright{ width: 49%; padding: 0 0 0 20px;}


.cartdetail{ display: flex; background:#f1f5f7 url(../../assets/images/cartbg.png) no-repeat right center; padding: 20px; margin-bottom: 5px;}

.cartpro{ width: 150px; background: #000; padding: 14px;}
.cartpro img{ width: 100%;}

.carttext{ padding-left: 15px; position: relative;}

.carttext h5{ margin: 0; padding: 0 0 20px 0; font-size: 26px; color: #212020;  font-family:'OpenSans-Semibold';}

.carttext label{ display: block; font-size: 30px; color: #e75248;  font-family:'OpenSans-Semibold';}

.carttext_info{ position: absolute; bottom: 0; display: block; border-top: solid 1px #fff; padding-top: 20px; width: 98%;}

.remove_btn{ display: block; float: right; width: 118px; background: #048ceb; border: none; box-shadow: none; border-radius: 4px; 
    text-align: center; line-height: 30px; cursor: pointer;
 color: #fff; font-family:'OpenSans-Semibold'; text-transform: uppercase; outline: none;  font-size: 16px;
}

.remove_cartbtn{ display: block; float: right; width: 100px; background: #048ceb; border: none; box-shadow: none; border-radius: 4px; 
    text-align: center; line-height: 30px; cursor: pointer;
 color: #fff; font-family:'OpenSans-Semibold'; text-transform: uppercase; outline: none;  font-size: 16px;
}


.Quantity_text{ display: block; width: 330px; }

.Quantity_text p{ display: inline-block;  font-size: 20px; color: #212526; text-transform: uppercase; padding-right: 25px;  font-family:'OpenSans-Semibold';}

.Quantity_text input{   background: #bebebe; padding: 5px 5px;  font-family:'OpenSans-Semibold'; font-size: 16px; color: #000; width:65px; border: none; outline: none;}

.shoppingbtn{ display: block;  width: 270px; background: #e75248; border: none; box-shadow: none; border-radius: 4px; text-align: center; line-height:45px; cursor: pointer;
    color: #fff; font-family:'OpenSans-Semibold'; text-transform: uppercase; outline: none; font-size: 18px; margin-top: 20px;}


    .cartright h3{ background: rgba(76,125,198,1);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(76,125,198,1)), color-stop(100%, rgba(60,202,230,1)));
        background: linear-gradient(to right, rgba(76,125,198,1) 0%, rgba(60,202,230,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c7dc6', endColorstr='#3ccae6', GradientType=1 );
        text-align: center;
        text-transform: uppercase;
        font-size: 20px;
        color: #ffffff;
        margin: 0;
        padding: 12px;
        font-family: 'OpenSans-Semibold';}

    .cartright table{ width: 100%;  border: solid 1px #dedede; padding: 0px 10px 10px 10px; border-bottom: none;}

    .cartright table td{ width: 50%; border-top: solid 1px #ebebeb; padding: 10px 0; text-align: left; font-size: 16px; color: #363636;  font-family:'OpenSans-Regular';}

    .cartright table th{ width: 50%; border-top: solid 1px #dedede; padding:10px 0 10px 0;  text-align: left; font-size: 16px; color: #363636;  font-family:'OpenSans-Semibold';}
    .cartright table td:last-of-type{ text-align: right;}
    .cartright table th:last-of-type{ text-align: right;}
 
    .cartright table tr:first-of-type td{ border: none;}
 
        .cartright table:last-of-type{ width: 100%; border-top: none;  padding: 40px 10px 10px 10px;  border-bottom: solid 1px #dedede;}

        .cartright table:last-of-type tr:last-of-type td{ border: none; padding: 0;}

        .checkoutbtn{ display: block;  width: 100%;  border: solid 3px #c9c9c9; box-shadow: none; border-radius: 6px; text-align: center; line-height:50px; cursor: pointer;
            color: #fff; font-family:'OpenSans-Semibold'; text-transform: uppercase; outline: none; font-size: 24px; margin-top: 20px;  background: rgba(88,88,88,1);
            background: -moz-linear-gradient(top, rgba(88,88,88,1) 0%, rgba(20,25,26,1) 100%);
            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(88,88,88,1)), color-stop(100%, rgba(20,25,26,1)));
            background: -webkit-linear-gradient(top, rgba(88,88,88,1) 0%, rgba(20,25,26,1) 100%);
            background: -o-linear-gradient(top, rgba(88,88,88,1) 0%, rgba(20,25,26,1) 100%);
            background: -ms-linear-gradient(top, rgba(88,88,88,1) 0%, rgba(20,25,26,1) 100%);
            background: linear-gradient(to bottom, rgba(88,88,88,1) 0%, rgba(20,25,26,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#585858', endColorstr='#14191a', GradientType=0 );}

 
             .empty_block_body{ display: block; padding: 30px;}
            .empty_block{ display: block; background: url(../../assets/images/empty_cartbg.png) no-repeat center top; padding: 295px 0  0px 0; text-align: center;  font-family:'OpenSans-Semibold'; font-size: 48px; color: #282828;}


            .emptycartbtn{ display: block;  width: 270px; background: #e75248; border: none; box-shadow: none; border-radius: 4px; text-align: center; line-height:45px; cursor: pointer;
                color: #fff; font-family:'OpenSans-Semibold'; text-transform: uppercase; outline: none; font-size: 18px; margin: 0 auto; margin-top: 25px;}
 
      



/*------------------*/
.cartleft h3{background: rgba(76,125,198,1);
  background: -moz-linear-gradient(left, rgba(76,125,198,1) 0%, rgba(60,202,230,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(76,125,198,1)), color-stop(100%, rgba(60,202,230,1)));
  background: -webkit-linear-gradient(left, rgba(76,125,198,1) 0%, rgba(60,202,230,1) 100%);
  background: -o-linear-gradient(left, rgba(76,125,198,1) 0%, rgba(60,202,230,1) 100%);
  background: -ms-linear-gradient(left, rgba(76,125,198,1) 0%, rgba(60,202,230,1) 100%);
  background: linear-gradient(to right, rgba(76,125,198,1) 0%, rgba(60,202,230,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c7dc6', endColorstr='#3ccae6', GradientType=1 ); text-align: center; 
  text-transform: uppercase; font-size: 20px; color: #ffffff; margin: 0; padding: 12px;   font-family:'OpenSans-Semibold';     margin-bottom: 20px!important; }
 

  .cartleft h2{background: rgba(76,125,198,1);
    background: -moz-linear-gradient(left, rgba(76,125,198,1) 0%, rgba(60,202,230,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(76,125,198,1)), color-stop(100%, rgba(60,202,230,1)));
    background: -webkit-linear-gradient(left, rgba(76,125,198,1) 0%, rgba(60,202,230,1) 100%);
    background: -o-linear-gradient(left, rgba(76,125,198,1) 0%, rgba(60,202,230,1) 100%);
    background: -ms-linear-gradient(left, rgba(76,125,198,1) 0%, rgba(60,202,230,1) 100%);
    background: linear-gradient(to right, rgba(76,125,198,1) 0%, rgba(60,202,230,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c7dc6', endColorstr='#3ccae6', GradientType=1 ); text-align: center; 
    text-transform: capitalize; font-size: 20px; color: #ffffff; margin: 0; padding: 12px;   font-family:'OpenSans-Semibold'; }


    .card_form_block{ padding-bottom: 0px;}
    .card_form_block input{ width: 96%; border: solid 1px #c4c7c8!important; height: 44px; padding: 0 2%; margin-top: 15px; font-size: 14px; color: #262626; font-family:'OpenSans-Regular'; border-radius: 0px!important; outline: none!important;}

    .card_form_block textarea{ width: 96%; border: solid 1px #c4c7c8!important; height: 80px; resize: none; padding: 10px 2%; margin-top: 15px; font-size: 14px; color: #262626; font-family:'OpenSans-Regular';  border-radius: 0px!important;  outline: none!important;}

    .card_form_block select{ width: 100%; border: solid 1px #c4c7c8!important; height: 44px; padding: 0 2%; margin-top: 15px; font-size: 14px; color: #262626; font-family:'OpenSans-Regular'; border-radius: 0px!important; outline: none!important;}

    .card_form_block ::placeholder{color: #262626!important; opacity:inherit!important;}

    .select_mm{ width: 49%; display: inline-block;}
    .select_yy{ width: 49%; display: inline-block;  margin-left: 2%;}

    .card_form_block h5{ display: block; margin: 0; padding: 15px 0 0 0; clear: both; overflow: hidden;}

    .card_form_block h5 span{ display: inline-block; float: left; font-size: 14px; color: #262626; font-family:'OpenSans-Semibold'; padding: 5px 25px 0 0;}

    .checkout_BTN{ display: block; width: 366px; height: 54px; margin: 20px auto; background: rgba(255,79,40,1);
      background: -moz-linear-gradient(top, rgba(255,79,40,1) 0%, rgba(255,58,40,1) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,79,40,1)), color-stop(100%, rgba(255,58,40,1)));
      background: -webkit-linear-gradient(top, rgba(255,79,40,1) 0%, rgba(255,58,40,1) 100%);
      background: -o-linear-gradient(top, rgba(255,79,40,1) 0%, rgba(255,58,40,1) 100%);
      background: -ms-linear-gradient(top, rgba(255,79,40,1) 0%, rgba(255,58,40,1) 100%);
      background: linear-gradient(to bottom, rgba(255,79,40,1) 0%, rgba(255,58,40,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4f28', endColorstr='#ff3a28', GradientType=0 ); border: none; cursor: pointer; border-radius: 4px;
     font-size: 24px; color: #fff; text-transform: uppercase; border: none; outline: none;
    }


    .cartblock{  background: #d0e7ef;}


    .cartblock h2{background: rgba(76,125,198,1);
      background: -moz-linear-gradient(left, rgba(76,125,198,1) 0%, rgba(60,202,230,1) 100%);
      background: -webkit-gradient(left top, right top, color-stop(0%, rgba(76,125,198,1)), color-stop(100%, rgba(60,202,230,1)));
      background: -webkit-linear-gradient(left, rgba(76,125,198,1) 0%, rgba(60,202,230,1) 100%);
      background: -o-linear-gradient(left, rgba(76,125,198,1) 0%, rgba(60,202,230,1) 100%);
      background: -ms-linear-gradient(left, rgba(76,125,198,1) 0%, rgba(60,202,230,1) 100%);
      background: linear-gradient(to right, rgba(76,125,198,1) 0%, rgba(60,202,230,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c7dc6', endColorstr='#3ccae6', GradientType=1 ); text-align: center; 
      text-transform: uppercase; font-size: 20px; color: #ffffff; margin: 0; padding: 12px;   font-family:'OpenSans-Semibold'; }

      .cartblock_wrapper{ display: flex; flex-wrap: wrap; justify-content:space-between; border: solid 1px #c5dde5; border-top: none; padding: 18px;}

      .cartblock_wrapper .cartblock_IMG{    width: 150px;
        background: #000;
        padding: 14px;}

        .cartblock_wrapper .cartblock_IMG img{ width: 100%;}

        .cartblock_text{ width: 440px;   flex-direction: column;
          justify-content: space-between;
          display: flex;
          align-items: stretch;}

          .cartblock_text label{ display: block; font-size: 18px; color: #212020;  font-family:'OpenSans-Semibold'; margin: 0; padding: 0;}

          .cartblock_text strong{ display: block; padding: 10px 0; font-size: 30px; color: #e75248;  font-family:'OpenSans-Semibold';}


          .cartblock_btnGroup{ display: block;}

      .cartblock_btnGroup{ display: flex; flex-wrap: wrap; justify-content: space-between;}

      .cartblock_btnGroup .cartblock_btnGroup_left{ width: 205px; background: url(../../assets/images/cartdevider.png) repeat-x left top; padding: 15px 0 5px 0;}

      .cartblock_btnGroup .cartblock_btnGroup_left label{ display: inline-block; font-size: 20px; color: #212526; font-family:'OpenSans-Semibold';} 

      .cartblock_btnGroup .cartblock_btnGroup_left input{ width: 60px; height: 25px; background: #50889b; font-family:'OpenSans-Semibold'; font-size: 20px; color: #ffffff; float: right;
       border: none; outline: none; padding: 0 0 0 5px;
      }

      .Remove_btn{ display: block; width: 118px; height: 30px; border-radius: 4px; text-align: center; line-height: 30px; outline: none; border: none; cursor: pointer; font-size: 16px;
         color: #ffffff; background: #048ceb; margin: 12px 0 0 0;}



         .promocode_block{    border: solid 1px #c5dde5;     background: #d0e7ef;     padding: 18px; margin: 15px 0 0 0;}

         .promocode_block h2{ margin: 0; padding: 0 0 15px 0; font-size: 20px; color: #363636; font-family:'OpenSans-Semibold';}

         .promocode_block input{    width: 500px;
          border: solid 1px #96bdca!important;
          height: 44px;
          padding: 0 5px;
      
          font-size: 14px;
          color: #262626;
          font-family: 'OpenSans-Regular';
          border-radius: 0px!important;
          outline: none!important; float: left;
      }

      .ApplyBTn{ display: block; width: 118px; height: 30px; border-radius: 4px; text-align: center; line-height: 30px; outline: none; border: none; cursor: pointer; font-size: 16px;
        color: #ffffff; background: #048ceb; margin: 8px 0 0 0; float: right;}


        .order_block{   border: solid 1px #cbd0d2;     background: #ffffff;      margin: 0;}

        .order_block h2{ background: rgba(76,125,198,1);
          background: -webkit-gradient(left top, right top, color-stop(0%, rgba(76,125,198,1)), color-stop(100%, rgba(60,202,230,1)));
          background: linear-gradient(to right, rgba(76,125,198,1) 0%, rgba(60,202,230,1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c7dc6', endColorstr='#3ccae6', GradientType=1 );
          text-align: center;
          text-transform: uppercase;
          font-size: 20px;
          color: #ffffff;
          margin: 0;
          padding: 12px;
          font-family: 'OpenSans-Semibold';}

          .order_block_wrapper{padding: 18px;}


          .mat-card-subtitle{ display: block; margin-bottom: 15px; font-size: 16px; color: #363636; font-family:'OpenSans-Semibold'; clear: both; overflow: hidden;}

          .mat-card-subtitle span{ display: inline-block; float: right; text-align: right;}

          .mat-card-subtitle:last-of-type{ margin-top: 60px;  border-top: solid 1px #cbd0d2;  padding-top: 15px; margin-bottom: 0px;  }


          .security_block{border: solid 1px #cbd0d2;     background: #ffffff;      margin: 15px 0 0 0; padding: 18px;}

          .security_block img{ width: auto; max-width: 100%; display: block; margin: 0 auto;}

          .security_block h2{ background: rgba(254,183,4,1);
            background: -moz-linear-gradient(top, rgba(254,183,4,1) 0%, rgba(254,91,4,1) 100%);
            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,183,4,1)), color-stop(100%, rgba(254,91,4,1)));
            background: -webkit-linear-gradient(top, rgba(254,183,4,1) 0%, rgba(254,91,4,1) 100%);
            background: -o-linear-gradient(top, rgba(254,183,4,1) 0%, rgba(254,91,4,1) 100%);
            background: -ms-linear-gradient(top, rgba(254,183,4,1) 0%, rgba(254,91,4,1) 100%);
            background: linear-gradient(to bottom, rgba(254,183,4,1) 0%, rgba(254,91,4,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feb704', endColorstr='#fe5b04', GradientType=0 );
             box-shadow: 0 0 8px #888;
           
           
            font-size: 20px;
            color: #ffffff;
            margin: 0;
            margin-bottom: 18px;
            padding: 12px;
            font-family: 'OpenSans-Semibold';}

/*--------------------*/

                
              
  @media screen and (max-width: 1480px) {
.cartpagebody{ width: 90%;     padding: 2%}

  }

  @media screen and (max-width:1199px) {
    .cartbodycon { 
      display: block;
  }

  .cartleft{ width: auto; border: none!important;   display: block; margin-bottom: 30px;}

  .cartright  {
    width: auto;    display: block;  padding: 0;
}
  }

  
  @media screen and (max-width:680px) {

    .cartdetail{ display: block;}

    .carttext_info{ position: inherit;}

    .carttext{ display: block; padding: 15px 0 0 0;}

    .cartpro{ display: block;     width: auto;} 
     .cartright  {
      width: auto;
      padding: 0;
      display: block;
      border: none;}

  }

  @media screen and (max-width:400px) {
    .Quantity_text {
      display: block;
      width: auto;
  }

  .remove_cartbtn{ float: none; margin-top: 10px;}
  }
              
