<app-header></app-header>

 

<mat-card class="aboutbeto_newtopbanner">
   
    <div class="aboutbeto_newtopbanner_wrapper">

          <h2>REALIZE YOUR CORE DESIRES <span>*</span> LIVE AN INCREDIBLE LIFE <span>*</span> EARN THE INCOME YOU WANT <span>*</span> BUILD LASTING MEANINGFUL RELATIONSHIPS</h2>

          <img src="../../assets/images/home_banner_top_ankle.png" alt="#" class="aboutbeto_newbannerarrow">
          <div class="aboutbeto_newtopbanner_con">
              <h3>
                  <label>About Beto Paredes</label>
                  BETO PAREDES JOINED THE DNA MASTER COURSE TEAM IN 2016 AS<br/> PARTNER AND EXECUTIVE DIRECTOR.
               

              </h3>
             


            </div>

        
    </div>


</mat-card>


<mat-card class="aboutbeto_body">

    <div class="aboutbeto_new_body1">

        <div class="aboutbeto_new_wrapper">

            <div class="aboutbeto_new_body1_text">
                
                <h2>
                  <span>Jack Zufelt and Beto Paredes were destined to be partners and work together. Jack’s DNA of Success fit perfectly with the performance sciences that Beto was applying to his own programs. 
                    Through Beto, human performance biology and psychology have 
                    been incorporated into Jack’s already highly successful model. </span>  
                </h2>

                <p>Beto is a contributing author to the second edition of the DNA of Success and he specializes in Jack’s “Success Attitude Formula”. He focuses on how to use your biological control center (heart/brain) along with epigenetics and the “Master State” to achieve the highest possible 
                    outcomes. Beto also brings a unique perspective with his deep research and practice into human energy and how to apply it.</p>


                    <p>As a successful multiple business owner, software architect, sales management expert, 
                        performance trainer and energy medicine practitioner Beto intimately knows the formula for life success.  He has mentored hundreds of sales professionals holding training and 
                        workshops all over the United States. He has been on the same stage as Google, 
                        HP and IBM in IT conferences across the nation.</p>

            </div>


        </div>

    </div>

    <div class="aboutbeto_new_body2">

        <div class="aboutbeto_new_wrapper">

            <div class="aboutbeto_new_body2_text">
                <h2>A few facts and accomplishments of note:</h2>

                <ul>

                    <li>Beto developed a highly effective modality coined “The Photonic Method” which combined energy medicine and human performance dynamics. This was taught through online 
                        courses and in person workshops all over the country. (much of this has been incorporated into the DNA of Success programs.)
                        </li>
                        <li>Beto and his companies have launched over 2,000 web based platforms since 2004 building over 5 industry first technologies.
                        </li>

                        <li>His work includes major initiatives for 7 of the Inc 500 companies playing a major in their 
                            technology development protocols over several consecutive years..
                            </li>

                            <li>Beto has launched several national and international sales organizations training and 
                                teaching over 5,000 sales people in various businesses and Joint Ventures.</li>

                            <li>He currently manages an entrepreneur based company with over 30 full time employees and an extended 60+ employees from his first services based company.
                            </li>  
                            
                            <li>He developed one of the earliest advertiser platforms in the affiliate industry managing 75,000+ transactions a month at its peak. He sold that company in 2007.
                            </li>

                            <li>He has been a consultant to Microsoft, helping them make one of the biggest decisions for their online ad center software platform. 
                            </li>

                            <li>Beto is currently a partner in the International Consultancy “Universal Tech Associates”. They cater to some of the largest corporations and several of the Fortune 50 world wide including the country of Japan.
                            </li>


                </ul>



               </div> 

               <div class="clearfix"></div>

              

        </div> 
    </div> 


    <div class="aboutbeto_new_body3">

        <div class="aboutbeto_new_wrapper" style="padding-top: 0;"> 
            <div class="aboutbeto_new_body3_text">
            <h2>For a full view into the Entrepreneurship and Business background of 
                Beto Paredes please visit his website www.BetoParedes.com .
                </h2>

                <h3>Beto has an incredible passion for the human dynamics of health 
                    and technologies in the medical industry.  </h3>

                    <p>He has developed enterprise platform technologies that display data from medical devices revealing the overall health of the human nervous and vascular systems.  His technology is used by physicians and diagnostic centers all over the country providing early detection of life threatening chronic disease.  He also spearheaded the 
                        development of the first international marketplace for medical equipment and supplies.  Through a Joint Venture with Globus Relief his platform reaches 73% of the population in 144 countries supplying life saving technologies to hospitals and medical systems world wide.  
                    </p>
                     <p>
                        On top of technology development in the health care and medical industry Beto has a passion for holistic healing and human dynamics.  Here in 2020 he has incorporated this into the overall high performance strategies taught through the DNA of Success programs. This all began early in 1994 through his formal training in energy healing and body work.
                        </p>
                        <img src="../../assets/images/about_new_beto_pic.jpg" class="aboutbeto_new_body3img">
                    </div>

                  
        
        </div>

    </div>        


    <div class="aboutbeto_new_body4">

        <div class="aboutbeto_new_wrapper" style="padding-top: 0;">
            <div class="aboutbeto_new_body4_text">
                <h2>UCMT UNIVERSITY TRAINING</h2>
                <p>Many of the techniques that Beto brings to the DNA of Success programs began early with his 
                    experience with energy medicine.  He graduated with honors from UCMT out of Salt Lake City, UT. They were the second top school in the world that he attended for energy healing and body work.
                    
                    </p>

                    <div class="aboutbeto_new_body4_con">

                        <div class="aboutbeto_new_body4_con_subdiv">
                           <h4> Body Work Training (Practiced 6  years after school independent)</h4>

                            <ul>
                                <li>Advanced Massage Therapy (several forms)</li>
                                <li>Hydrotherapy</li>
                                    <li>Deep Tissue Massage</li>
                                        <li>Anatomy/Physiology (College Level)</li>
                                            <li>Advanced Structural Training</li>
                                

                            </ul>

                        </div>

                        <div class="aboutbeto_new_body4_con_subdiv">
                            <h4>  Energy Medicine Training (still 
                            practice energy work and Shiatsu 
                            in private practice)</h4>
                            

                            <ul>
                                <li>ACraniosacral Therapy</li>
                                <li>Acupressure </li>
                                <li> Shiatsu </li>
                                <li> Feldenkrais </li>
                                <li>  Chi-Gong </li>
                                <li>  Kundalini Yoga </li>
                                <li>  Touch for Health </li>
                                   
                                

                            </ul>

                        </div>


                    </div>

                    <div class="aboutbeto_new_body4_con">

                        <div class="aboutbeto_new_body4_con_subdiv">
                           

                            <ul>
                                <li>Advanced Massage Therapy (several forms)</li>
                                <li>Hydrotherapy</li>
                                    <li>Deep Tissue Massage</li>
                                        <li>Anatomy/Physiology (College Level)</li>
                                            <li>Advanced Structural Training</li>
                                

                            </ul>

                        </div>

                        <div class="aboutbeto_new_body4_con_subdiv">
                            
                            

                            <ul>
                                <li>ACraniosacral Therapy</li>
                                <li>Acupressure </li>
                                <li> Shiatsu </li>
                                <li> Feldenkrais </li>
                                <li>  Chi-Gong </li>
                                <li>  Kundalini Yoga </li>
                                <li>  Touch for Health </li>
                                   
                                

                            </ul>

                        </div>


                    </div>


            </div>   
            
            <div class="clearfix"></div>
        </div>    
    </div>              



    <div class="aboutbeto_new_body5">

        <div class="aboutbeto_new_wrapper" style="padding-top: 0;">
            <div class="aboutbeto_new_body5_text">

                <h2>INDEPENDENT STUDY</h2>

                <p>As an entrepreneur in technology, human potential and energy medicine Beto Paredes spends a good majority of his time studying. Even so to have read over 1,000 books and 
                    hundreds of other research papers and studies.  He spends at least an hour and sometimes more every day reading and keeping up to date on all of the subjects of interest he can.
                    </p>

                    <h3>Many of his subjects include:</h3>

                    <ul>
                      <li>Psychology study and research with emphasis on Carl Jung and Robert Assolsoli through their work in depth and transpersonal development.
                    </li>
                    <li>Post-graduation from UCMT developing a deeper understanding of epigenetics, quantum mechanics, energy medicine, field electromagnetics, quantum biology, and consciousness research became a passion. Hundreds of scientific papers, books and studies cover his shelves from the last 25 years of research.
                    </li>

                    <li>Personal development, especially after the launching of his first business in 2004, became a critical theme. Beto learned from well-known trainers starting of course with Jack Zufelt. Other influences include Tony Robbins, Bryan Tracy, John Maxwell, Jim Collins, Zig Ziglar, Stephen Covey, Jason Jordan, and dozens of others. 

                    </li>

                    <li>Beto also has a passion for continual research into world history with emphasis on early civilizations, religions, ancient texts, biblical antiquity, alchemy, gnosticism, kabbalah, science, mysticism, western mystery schools and more. Always a fun side subject if you get some of his time!</li>


                    </ul>
 



             </div>
        </div>
     </div>          
     
     <div class="aboutbeto_new_body6">

        <div class="aboutbeto_new_wrapper" style="padding-top: 0;">
            <div class="aboutbeto_new_body6_text">
                <h2>SPEAKING CAREER: </h2>

                <p>Beto has also appeared several times as a guest speaker at conferences in the Automotive, MLM, Affiliate Marketing, Sales Management and Software Engineering space. These include several National IT Summits, Affiliate Convention, several state IADA’s and the Ad-Tech 
                    OfferVault Leadership Conference held at Ad-Tech.
                    </p>

                    <h3>For a full view into the Entrepreneurship and Business background of Beto Paredes please visit his website 
                        <a href="http://betoparedes.com/" target="_blank"> www.BetoParedes.com .</a>
                    </h3>


              </div>

              <div class="clearfix"></div>
         </div>
     </div>           


</mat-card>
 

<app-footer></app-footer>