<app-header></app-header>
 
<mat-card class="container-fluid product_banner_section  newaboutbeto_banner_section">
    <img src="../../assets/images/new_aboutbeto_top_banner.jpg" alt="#" class="productbanner2">
    <span class="row spandiv">
        <span class="product_banner_col spandiv">
            <span class="container home_banner_inner spandiv">
                <span class="row spandiv">
                    <span class="product_banner_inner_col spandiv">
                        <span class="product_banner_inner_top spandiv">
                            <span class="product_banner_inner_top_content spandiv">
                                <span class="ptext1 spandiv">
                                    <span>Realize Your Core Desires</span> <span>*</span> Live an Incredible Life <span>*</span> Earn the Income You Want <span>*</span> Build Lasting Meaningful Relationships
                                   
                                </span>
                            </span>
                            <img src="../../assets/images/home_banner_top_ankle.png" alt="#">
                        </span>
                        <span class="producttextblock newaboutbetobannertxt spandiv">
                            <h2>About Beto Paredes
                            </h2>
                            <span class="divtext2 spandiv">
                               BETO PAREDES JOINED THE DNA MASTER COURSE TEAM 
IN 2016 AS THE EXECUTIVE DIRECTOR.
                            </span>
                        </span>
                    </span>
                </span>
            </span>
        </span>
    </span>
</mat-card>

<mat-card class="container newaboutbeto_block1_new"> 

    <span class="newaboutbeto_block1_new_row1_main spandiv">
        <span class="newaboutbeto_block1_new_row1_wrapper spandiv">

        <span class="new_row1imgdiv spandiv">
            <span>    <img src="../../assets/images/newaboutbeto_block1_new_img1.jpg" alt="#"></span>

            <span>    <img src="../../assets/images/newaboutbeto_block1_new_img2.jpg" alt="#"></span>

        </span>

        <span class="new_row1textdiv spandiv">

            <h2> Jack and Beto came together through the power of 
revelation as they were both destined to work 
together launching the <span>DNAMasterCourse.com project.</span>
            </h2>


            <h3> Beto Paredes is a Joint Venture Partner and founder along with Jack on his new system DNAMasterCourse.com. He specializes in Jack’s 
<span>“Success Attitude Formula”</span>, and how to use your biological control center (heart/brain) to keep moving strong.  As a successful multiple business owner, software architect, sales management expert, performance trainer and energy medicine practitioner Beto intimately knows this formula for life success.  His infusion of modern-day science behind the formulas used in the DNAMasterCourse.com is 
nothing less than dynamic.

            </h3>

        </span>
        <div class="clearfix"></div>

        </span>
    </span>


    <span class="newaboutbeto_block1_new_row2_main spandiv">


        <h2>
            Body Work, Energy Medicine and High-Performance Training.
        </h2>

        <h3>Beto Paredes dedicated thousands of hours to learning, practicing and developing programs in high performance while maintaining a strong and balanced bio-electromagnetic field (balance = health).
<br/><br/>
It was through his early academy level education in 1995 in energy medicine, Chi-Gong, Shiatsu and Acupressure, graduating 
top of his class from UCMT, that his interest in the human energy field began. Since then he has incorporated 
depth psychology, consciousness research, quantum biology, human energetics, and epigenetics into 
the high-performance principles of personal development.  Through several personal breakthroughs and helping 
dozens of others, he’s created his own cross modality in energy health and performance
 coined <span>“The Photonic Method.”</span> This he taught through various organizations and in his personal practice. 
        </h3>

        <h4>Now he is with Jack doing his absolute best work to bring his discoveries and scientific research to Jack’s 
            system. A system that fit his model so well that he had a eureka moment. <span>“Jack’s system, especially
                 his “Success Attitude Formula” really DOES = the state you need to be in to succeed!”</span>
        </h4>


    </span>
    <span class="newaboutbeto_block1_new_row3_mainbody spandiv">
    <span class="newaboutbeto_block1_new_row3_main spandiv">
        <span class="newaboutbeto_newcon spandiv">
        <h2>
             Beto Paredes Joined the DNA of Success and DNA Master Course 
team in 2016 as the Executive Director 
        </h2>


            <h3>Beto's impressive background is very diverse. Many of his projects have seen revenues in the millions. His experience includes international sales, award winning branding, sales organization management, business management, web development and core software engineering. He continues to launch successful companies and platforms to this day. He expects his partnership with Jack Zufelt to be one of the best he has ever done. </h3>

            <img src="../../assets/images/newaboutbeto_block1_new_img5.jpg" alt="#">
        <h3>
           <span class="newbetolabelcon spandiv"><h5>Beto’s accomplishments include:</h5>
<label>Major direct response international affiliate systems </label>
<label>High level web development </label>
<label>Highly successful online marketing</label>
<label>Automotive sales technology and medial industry sales</label>
<label>Massive online community development</label>
<label>National sales organization development for major companies</label>


 
           </span>



<span class="newbetolabelcon newbetolabelconnew2 spandiv" style="margin-top: 15px;">
<h5>Here are a few of his impressive clients:</h5>
<label>The highly successful 5Linx (Inc. 500) </label>
<label>Affiliate.com (Inc. 500)</label>
<label>Hydra Networks (Inc. 500)</label>
<label>Media Trust (Inc. 500) </label>
<label>Jeunesse Skin Care   </label> 
<label>LinkTrust (Inc. 5000)</label>
<label>Bluecoast Savings (Inc. 5000).</label>	
</span>					
 

        </h3>



        <div class="clearfix"></div>
        </span>

        <span class="newaboutbeto_block1_new_row3_main_bottom spandiv">

            <h5>
                 
                 <label>Through the Beto Paredes Family of Companies there are over 50 full time employed professionals working world wide in the various brands.  These include new launching and funded projects, as well as, companies that have been in the space for over a decade. His original engineering company is still going strong after almost 17 years.</label>

<label>As Beto has such as passion for energy medicine and preventative health his company also operates outsourced sales training for a national medical device company overseeing 800 sales rep’s nationwide.  Their health care model is saving the private practice with preventative based early detection medical equipment.</label>

<label>Beto has built several independent channels in sales for several of his own operating companies and maintains his own nationwide sales team.</label>

            </h5>


            <h3>For a full view into the Entrepreneurship and Business background of Beto Paredes please visit his website 
                 <a href="http://www.betoparedes.com" target="_blank">www.BetoParedes.com</a> .

 
            </h3>

        </span>



    </span>

    </span>
</mat-card>


<mat-card class="container newaboutbeto_block3">

    <span class="container newaboutbeto_block3_new spandiv">

        <span class="newaboutbeto_block3_new_row2_wrapper spandiv">

            <h2> UCMT University Training
               </h2>

            <h3>Many of the techniques that Beto brings to the DNAMasterCourse.com Mastery programs have had their
                 foundation from before he became a successful internet engineer and entrepreneur. His earliest 
                 experience with energy medicine he gained from UCMT. They were one of the top 5 schools in the 
                 world at the time for Body Work.
            </h3>

            <h4>

               Body Work Training
                (Practiced 6 years after
                school independent)

            </h4>


            <label>Advanced Massage Therapy (several forms)</label>
            <label> Hydrotherapy</label>
            <label> Deep Tissue Massage</label>
            <label>Anatomy/Physiology (College Level)</label>
            <label>Advanced Structural Training</label>

            <h4>Energy Medicine Training
                (still practice energy work and
                Shiatsu in private practice)
            </h4>


            <label> Craniosacral Therapy</label>
            <label> Acupressure</label>
            <label> Shiatsu</label>
            <label>Feldenkrais</label>
            <label> Chi-Gong</label>
            <label> Kundalini Yoga</label>
            <label> Touch for Health</label>



        </span>

    </span>


    <span class="newaboutbeto_main_wrapper spandiv">
        <span class="newaboutbeto_block3_row2_wrapper spandiv">
            <h2>Independent Study
            </h2>
            <h3>Beto is a productive and very engaged father, husband, entrepreneur, trainer and of 
                course motivator but there is an interesting side to this character.  Beto spends, 
                and has this scheduled, 13.5 hours a week dedicated to research and study.  He has 
                held this discipline for years! The subjects he covers are vast but here are the ones 
                that have helped him shape his system the most.
            </h3>
            <span class="newaboutbeto_block3_row2_wrapper_right spandiv">
<ul>
                <li>Psychology study and research with emphasis on Jung and Assolsoli through their work in depth and transpersonal psychology  (over 20 total fully published works researched).</li>
                <li>Post-graduation he continued to go much deeper into energy medicine, field electromagnetics, quantum biology, and consciousness research for the last 15 years. (Over 20 fully published works; many textbook multiple contributors, and over 300 independent studies from various Journals researched)</li>
                <li>Personal development, sales training and business management study and seminar attendance. Beto learned from well-known trainers starting of course with Jack Zufelt. Others such as Tony Robbins, Bryan Tracy, John Maxwell, Jim Collins, Zig Ziglar, Stephen Covey, Jason Jordan, and dozens of others. (Over 40 fully published works researched, and hundreds of seminar hours spent)</li>              
                <li>Deep study into performance physiology as seen in quantum biology. Especially, within the biology is consciousness systems developed by the stem cell biologists Bruce Lipton and Robert Lanza. (Over 10 fully published works researched and dozens of published studies)</li>
                <li>Beto also has a passion for continual research into world history with emphasis on early civilizations, religions, ancient texts, Biblical antiquity, alchemy, Gnosticism, kabbalah, science, mysticism, western mystery schools and more. (Well over 200 fully published works researched, practiced, incorporated)</li>
            </ul>
            </span>
        </span>
    </span>
</mat-card>

<mat-card class="container newaboutbeto_block6">
    <span class="newaboutbeto_main_wrapper spandiv">
        <span class="newaboutbeto_block6_row1_wrapper spandiv">
            <h2>SPEAKING CAREER:
            </h2>
            <h3>
               <span class="span1">Beto has also appeared several times as a guest speaker at conferences in the Automotive, 
                   MLM, Affiliate Marketing, Sales Management and Software Engineering space. These include IT Summit, 
                   Affiliate Convention, several state IADA’s and the Ad-Tech OfferVault Leadership Conference.</span>
            </h3>
            <h4>
                <span>For a full view into the Entrepreneurship and Business background of Beto Paredes please 
                    visit his website <a href="http://www.betoparedes.com" target="_blank">www.BetoParedes.com</a> .</span>
            </h4>
        </span>
    </span>
</mat-card>

<mat-card class="container newaboutbeto_block2">
    <span class="newaboutbeto_main_wrapper spandiv">
        <span class="newaboutbeto_block2_row1_wrapper spandiv">
            <h2>
                FROM BETO PAREDES
            </h2>
            <h3> "I come from a very hardworking entrepreneurial background. When my father was in his late
                 twenties he decided to move from his home of Chile to come to the United States. From that
                  point on, every day spent here was a learning experience and opportunity to progress and succeed. 
                  Through dedication and hard work my father learned English and opened up an electronic technician 
                  service. His business flourished, as did his career, and he was eventually able to open up 
                  multiple locations as well as his own school for electronics. Very early on my brothers and 
                  I incorporated the tech industry into our lives as well, which was really a natural evolution 
                  from our father's technical line of work. <br><br>I am also a father and have two amazing sons 
                  and three lovely daughters. Respectively they are Gabriel, Scarlet, Marisol, Amelia and Liam.
                   I am married to the woman of my dreams who is also my business partner. I love them all dearly 
                   and they are a daily inspiration for everything I do.
            </h3>
            <span class="newabout_block5_btn spandiv"><a href="javascript:void(0);"  routerLink="/product">Get Started with the DNA Master Course right away!</a></span>
        </span>
    </span>
</mat-card>




<app-footer></app-footer>


