<app-header></app-header>

 

<mat-card class="aboutbeto_newtopbanner">
   
    <div class="aboutbeto_newtopbanner_wrapper">

          <h2>REALIZE YOUR CORE DESIRES <span>*</span> LIVE AN INCREDIBLE LIFE <span>*</span> EARN THE INCOME YOU WANT <span>*</span> BUILD LASTING MEANINGFUL RELATIONSHIPS</h2>


          <div class="aboutbeto_newtopbanner_con">
              <h3>
                  <label>About Beto Paredes</label>
                  BETO PAREDES JOINED THE DNA MASTER COURSE TEAM IN 2016 AS<br/> PARTNER AND EXECUTIVE DIRECTOR.
               

              </h3>
             


            </div>

        
    </div>


</mat-card>


<mat-card class="aboutbeto_body">

    <div class="aboutbeto_new_body1">

        <div class="aboutbeto_new_wrapper">

            <div class="aboutbeto_new_body1_text">
                
                <h2>
                  <span>Jack Zufelt and Beto Paredes were destined to be partners and work together. Jack’s DNA of Success fit perfectly with the performance sciences that Beto was applying to his own programs. 
                    Through Beto, human performance biology and psychology have 
                    been incorporated into Jack’s already highly successful model. </span>  
                </h2>

                <p>Beto is a contributing author to the second edition of the DNA of Success and he specializes in Jack’s “Success Attitude Formula”. He focuses on how to use your biological control center (heart/brain) along with epigenetics and the “Master State” to achieve the highest possible 
                    outcomes. Beto also brings a unique perspective with his deep research and practice into human energy and how to apply it.</p>


                    <p>As a successful multiple business owner, software architect, sales management expert, 
                        performance trainer and energy medicine practitioner Beto intimately knows the formula for life success.  He has mentored hundreds of sales professionals holding training and 
                        workshops all over the United States. He has been on the same stage as Google, 
                        HP and IBM in IT conferences across the nation.</p>

            </div>


        </div>

    </div>

    <div class="aboutbeto_new_body2">

        <div class="aboutbeto_new_wrapper">

            <div class="aboutbeto_new_body2_text">
                <h2>A few facts and accomplishments of note:</h2>

                <ul>

                    <li>Beto developed a highly effective modality coined “The Photonic Method” which combined energy medicine and human performance dynamics. This was taught through online 
                        courses and in person workshops all over the country. (much of this has been incorporated into the DNA of Success programs.)
                        </li>
                        <li>Beto and his companies have launched over 2,000 web based platforms since 2004 building over 5 industry first technologies.
                        </li>

                        <li>His work includes major initiatives for 7 of the Inc 500 companies playing a major in their 
                            technology development protocols over several consecutive years..
                            </li>

                            <li>Beto has launched several national and international sales organizations training and 
                                teaching over 5,000 sales people in various businesses and Joint Ventures.</li>

                            <li>He currently manages an entrepreneur based company with over 30 full time employees and an extended 60+ employees from his first services based company.
                            </li>  
                            
                            <li>He developed one of the earliest advertiser platforms in the affiliate industry managing 75,000+ transactions a month at its peak. He sold that company in 2007.
                            </li>

                            <li>He has been a consultant to Microsoft, helping them make one of the biggest decisions for their online ad center software platform. 
                            </li>

                            <li>Beto is currently a partner in the International Consultancy “Universal Tech Associates”. They cater to some of the largest corporations and several of the Fortune 50 world wide including the country of Japan.
                            </li>


                </ul>



               </div> 

               <div class="clearfix"></div>

               <h4>For a full view into the Entrepreneurship and Business background of 
                Beto Paredes please visit his website www.BetoParedes.com .
                </h4>

        </div> 
    </div> 

</mat-card>
 

<app-footer></app-footer>