<app-header></app-header>


<mat-card class=" product_banner_section  newabout_banner_section">
    <img src="../../assets/images/new_about_top_banner.png" alt="#" class="productbanner2">
    <span class="row spandiv">
        <span class=" product_banner_col spandiv">
            <span class=" home_banner_inner spandiv">
                <span class="row spandiv">
                    <span class="  product_banner_inner_col spandiv">
                        <span class="product_banner_inner_top spandiv">
                            <span class="product_banner_inner_top_content spandiv">
                                <span class="ptext1 spandiv">
                                    <span>Realize Your Core Desires</span> <span>*</span> Live an Incredible Life <span>*</span> Earn the Income You Want <span>*</span> Build Lasting Meaningful Relationships

    </span>
    </span>
    <img src="../../assets/images/home_banner_top_ankle.png" alt="#">
    </span>
    <span class="producttextblock newaboutbannertxt spandiv">
                            <h2>About Jack Zufelt</h2>
                          
                            <span class="divtext2 spandiv">
                               
                              "Mentor to Millions"
                               
                            </span>
    </span>
    </span>
    </span>
    </span>
    </span>
    </span>
</mat-card>

<mat-card class=" newabout_block1">
    <span class=" newabout_block1_con spandiv">
    <span class="newabout_block1_wrapper spandiv">

        <h2> ACHIEVE YOUR HIGHEST SUCCESS</h2>


        <h3> Jack Zufelt,</h3>

        <h4> professional speaker, acclaimed success trainer, and best-selling author of DNA of Success, has now produced a life-changing program that teaches you how to work with a Success Attitude and achieve all your Core Desires.
<br/><br/>
Based on the proven principles of his book DNA of Success, Jack Zufelt has built an advanced program that provides an in-depth look at the proven techniques of success and the steps you can take to tap into your Conquering Force and reach your highest success.
<br/><br/>
The DNA of Success Program teaches you how to activate the cause 
of success within yourself which you already possess. This all-new 
and innovative success program is an actionable guide to 
help you discover what you want and how exactly to get it.</h4>



    </span>

    </span>

</mat-card>


<mat-card class=" newabout_block2">
    <span class=" newabout_block2_con spandiv">
        <span class="newabout_block2_wrapper spandiv">


            <h2>ACTIVATE THE POWER WITHIN</h2>

            <h3> As one of the most sought after and asked-back personal development trainers, Jack Zufelt is making his program available to the masse's. With his 30 years of experience and the undeniable power of his proven system for success, Jack has created a whole new level of education.
<br/><br/>
Now you and anyone you know can experience what has changed so many others lives by helping them access the power to achieve their dreams and create happiness, health, and wealth within their lives.
<br/><br/>
You can now inevitably to achieve your highest success when you identify your Core Desires and activate your 
Conquering Force. With the DNA of Success Program, you will learn how to do this and begin to make immediate 
positive changes in your life immediately.</h3>

            <span class="newabout_block2_btn spandiv"> <a href="javascript:void(0);" routerLink="/pages/products">Check Out Our 
                Products Now!</a></span>

    <div class="clearfix"></div>


    </span>
    </span>
</mat-card>



<mat-card class=" newabout_block3">
    <span class=" newabout_block3_con_body spandiv">
        <span class=" newabout_block3_con spandiv">
        <span class="newabout_block3_wrapper spandiv">

            <h2> PROVEN SUCCESS METHOD</h2>


            <span class="newabout_block3_wrapper_left spandiv">

                <h3> With hundreds of live events, books and audio recordings, and thousands of hours of 
                    educational development, Jack Zufelt has witnessed millions of lives change for the 
                    better through his Success Method.</h3>
            </span>

    <span class="newabout_block3_wrapper_right spandiv">
                <img src="../../assets/images/new_about_con3_img.png" alt="#">

            </span>


    <div class="clearfix"></div>


    <h4>Jack Zufelt is one of the most successful speakers and business consultants on the national and international scene. He is very popular keynote speaker. His client list includes companies and associations of all sizes including many Fortune 500 companies.
        His success as a speaker and trainer on achievement is legendary.
        <br/><br/> He has won worldwide acclaim for blazing a trail that others can easily understand and follow. Dozens of luminaries, celebrities and corporate business leaders give him and his revolutionary concepts glowing testimonials.</h4>


    </span>

    </span>
    </span>
</mat-card>


<mat-card class=" newabout_block4">

    <span class=" newabout_block4_con_body spandiv">
        <span class=" newabout_block4_con spandiv">

            <span class=" newabout_block4_con_text spandiv">

                <span class=" newabout_block4_con_sub spandiv">

                    <span class="newabout_block4_con_sub_img spandiv">
                       <img src="../../assets/images/new_about_con4_img1.png" alt="#">

                    </span>

    <span class="newabout_block4_con_sub_text spandiv">

                        <h2>
                             "Jack Zufelt has developed and refined one of the most powerful ideas in human success
                              and achievement"
                        </h2>

                        <h3>
                            ~Brian Tracy
                        </h3>

                    </span>

    <div class="clearfix"></div>



    </span>

    <span class=" newabout_block4_con_sub spandiv">

                    <span class="newabout_block4_con_sub_img spandiv">
                        <img src="../../assets/images/new_about_con4_img2.png" alt="#">

                    </span>

    <span class="newabout_block4_con_sub_text spandiv">

                        <h2>
                            “Mr. Zufelt's formula gives you that intense drive to conquer obstacles and succeed despite any circumstances. His concepts are unbelievably powerful and they work! “
                        </h2>

                        <h3>
                             ~Mary Kay Ash
                        </h3>

                    </span>

    <div class="clearfix"></div>



    </span>


    <span class=" newabout_block4_con_sub spandiv">

                    <span class="newabout_block4_con_sub_img spandiv">
                         <img src="../../assets/images/new_about_con4_img3.png" alt="#">

                    </span>

    <span class="newabout_block4_con_sub_text spandiv">

                        <h2>
                           "It is very astute thinking that Zufelt puts forth."
                        </h2>

                        <h3>
                            ~Norman Vincent Peale
                        </h3>

                    </span>

    <div class="clearfix"></div>



    </span>

    <span class=" newabout_block4_con_sub spandiv">

                    <span class="newabout_block4_con_sub_img spandiv">
                        <img src="../../assets/images/new_about_con4_img4.png" alt="#">
                    </span>

    <span class="newabout_block4_con_sub_text spandiv">

                        <h2>
                            “With Jack's DNA of Success you'll become vastly successful super fast! “
                        </h2>

                        <h3>~Mark Victor Hansen
                        </h3>

                    </span>

    <div class="clearfix"></div>



    </span>

    <span class=" newabout_block4_con_sub spandiv">

                    <span class="newabout_block4_con_sub_img spandiv">
                       <img src="../../assets/images/new_about_con4_img5.png" alt="#">

                    </span>

    <span class="newabout_block4_con_sub_text spandiv">

                        <h2>
                            "Jack Zufelt successfully challenges the standard concepts about success. 
                            He proves we all have the DNA of success in our hearts and can pull it 
                            out to create any level of success you want."
                        </h2>

                        <h3>~Jack Canfield
                        </h3>

                    </span>

    <div class="clearfix"></div>



    </span>

    </span>


    </span>


    </span>


</mat-card>



<mat-card class=" newabout_block5">

    <span class=" newabout_block5_con_body spandiv">
        <span class=" newabout_block5_wrapper spandiv">
            <span class=" newabout_block5_left spandiv">

            <h2>MY GOAL IS YOUR SUCCESS!</h2>



                <h3> Jack is the Author of the best selling book, The DNA of Success which hit the #1 bestseller slot
                     in the first 3 weeks it was out. It is now in 15 languages.</h3>

                <h3>Jack was awarded the Presidential Medal of Merit by a President of the United States.</h3>

                <h3> He was honored by the United States Senate for teaching Americans how to achieve 
                    better results in their personal lives and careers.</h3>

                <h3> He has been interviewed on over 2,000 radio and TV talk shows including The 
                    Today Show. PBS aired a special on Jack and his concepts that was sent via 
                    satellite to 127 countries.</h3>

                <h3> Zufelt was selected by Winners Digest, a publication for Fortune 500 executives, as one of
                     the two most effective speakers in the U.S. The other was elected President of the United
                      States that year.</h3>

                <h3> Jack is listed as a "Who’s Who" of Human Potential Superstars and the "Best of the Best" by the
                     world famous Nightingale-Conant. They featured his best selling audio-series on the cover
                      of their catalog.</h3>

                <h3> The American Salesman Magazine, in a cover story, said, "Jack Zufelt turns salespeople 
                    into top producers".</h3>


            </span>

    <span class=" newabout_block5_left spandiv">


                <h3> He was given the status of Honorary Citizen by the Mayors of 15 major cities in the USA.</h3>

                <h3>The readers and editors of Motivation International, a multi-national publication 
                    focusing on self-help and motivational concepts, voted Jack as one of two, 
                    of the last decade’s top international speakers.</h3>

                <h3> Sales and Marketing Digest reported, "Zufelt has a proven Formula for success."</h3>

                <h3> Rev. Robert Schuller of TV’s Hour of Power and Crystal Cathedral fame said, "We all need 
                    that winning ability and Jack Zufelt can help you get it."</h3>

                <h3> Life Insurance Selling Magazine published a two part series on Zufelt’s Conquering Force concept and said "Zufelt is a leading national speaker on achievement dynamics."
                 </h3>

                <h3> Florida Living Magazine, in an article featuring Jack Zufelt on the cover, 
                    reported, "Jack is one of America’s most booked speakers."
                       </h3>


                <h3> <img src="../../assets/images/newaboutimage4.jpg" alt="#">Jack has been featured on the cover of many other magazines that published articles written by, or about, him in several countries including America, Canada, Malaysia, Taiwan, Singapore, Hong Kong, New Zealand, Australia, Japan, Indonesia, Philippines, Korea and Thailand. Here is the latest in March 2019</h3>

            </span>

    <div class="clearfix"></div>

    <span class="newabout_block5_btn spandiv"> <a href="http://www.dnamastercourse.com/newproductlist">Check Out Our Products Now!</a>
              </span>

    <div class="clearfix"></div>
    </span>
    </span>
</mat-card>



<mat-card class=" newabout_block6">


    <span class=" newabout_block6_body spandiv">



        <span class="newabout_block6_con1 spandiv">

            <h2> WE LOVE DOING WHAT WE DO</h2>

            <h3>Jack has discovered a concept about achievement that has never been taught before. 
                It has caused him to become very popular as a speaker, trainer, business consultant and mentor to millions.
<br/><br/>
He has gained worldwide recognition because of his unique and life changing approach to all achievement
 and success in all areas of life.</h3>



        </span>

    <span class="newabout_block6_con2 spandiv">

            <h2> JACK HAS BECOME A "MENTOR TO MILLIONS" 
AND HAS HELPED THEM:</h2>

            <h3>Isolate the single root cause of all Success</h3>
            <h3> Apply his foolproof method to zero in on the automatic mechanism that causes all action 
                resulting in success.</h3>
            <h3> Drill down to discover their Core Desires which unleashes the Conquering Force.</h3>

            <h3>  Be an unstoppable force in every area of their lives. </h3>


            <h3> Tap into a limitless source of self-deiscipline.</h3>

            <h3>Apply the Success Attitude Formula that never fails to create success.</h3>

            <h3>Access the hidden power switch with and flip it to the "ON" position to unleash your 
                Conquering Force at will.</h3>

            <h3>Overcome all obstacles such as fear, stress, and procrastination.</h3>
        </span>


    <span class="newabout_block6_con3 spandiv">
            <h2>See for yourself how this important breakthrough in success can affect your life. Sign Up today and 
                experience what the power of the DNA of Success can do for YOU!</h2>
        </span>


    </span>


</mat-card>



<app-footer></app-footer>