<app-header></app-header>
 
<div class="MDetailadmindashboard_block1_bg">

    <span class="MDetailadminDB_block1">
      
        <span class="MDetailadminDB_block1_con">

            <span class="MDetailadminDB_block1_con_text">
                <span class="MDetailadminDB_block1_con_text_block">
                 <h2>I AM A DNA OF SUCCESS MASTER MENTOR
                    <label>Please review our programs with the DNA Master Course.com 
and choose a package to get started so we can 
start working together!  </label>
                </h2>
    
                   
                </span>
            </span>
    
    
        </span>


        <span class="mentordetail_wrapper">

            <span class="mentordetail_block1">

                <span class="mentordetail_block1_img">
                    <img src="../../assets/images/Mentor_DetaiIMG1l.jpg" alt="#">

                </span>

                <span class="mentordetail_block1_text">
                    <h2>ROCK TEST  </h2>

                    <h3 >Email: rocktest@yopmail.com</h3>   
                    
                    <h4>cvbn, kol, AL, 123456
                        <br/>
                       <span> Mob: 000000000 </span></h4>

                        <h5>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h5>

                        <h6>Mentor Since : Jun 16, 2020, 4:28:52 PM</h6>
                </span>
            </span>

            <span class="mentordetail_block2">

                <label class="fb_icon"  ><a target="_blank">https://www.facebook.com/</a></label>
                <label class="ig_icon" ><a  target="_blank" >https://www.tumblr.com/</a></label>
                <label class="tw_icon" ><a  target="_blank" >https://twitter.com/</a></label>
                <label class="in_icon" ><a  target="_blank" >https://in.linkedin.com/</a></label> 
            </span>


            <span class="mentordetail_block3">

                   <h2>Gallery</h2>


                   <span class="mentordetail_block3_wrapper">

                    <!-- !!!!*image  upload size height='560px' width='315px' (16:9 ratio)* -->
 
                        <span class="MDgaller_imagewrapper">
                            <span class="MDgaller_imagecon">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/8qkgcCBOQM4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                 <span class="MDgaller_detail">
                                   <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                 </span>
                            </span>
                        </span>
                        <span class="MDgaller_imagewrapper">
                            <span class="MDgaller_imagecon"><img src="../../assets/images/Mentor_DetaiIMG3.jpg">
                                <span class="MDgaller_detail">
                                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                 </span>
                            </span>
                        </span>
                        <span class="MDgaller_imagewrapper">
                            <span class="MDgaller_imagecon"><img src="../../assets/images/Mentor_DetaiIMG4.jpg">
                                <span class="MDgaller_detail">
                                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                 </span>
                            
                            </span>
                        </span>
                        <span class="MDgaller_imagewrapper">
                            <span class="MDgaller_imagecon"><img src="../../assets/images/Mentor_DetaiIMG5.jpg">
                                <span class="MDgaller_detail">
                                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                 </span>
                            
                            </span>
                        </span>
                        <span class="MDgaller_imagewrapper">
                            <span class="MDgaller_imagecon"><img src="../../assets/images/Mentor_DetaiIMG6.jpg">
                            
                                <span class="MDgaller_detail">
                                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                 </span>
                            </span>
                        </span>




                    </span>

                    <button class="MDetailPurchase_BTN">Choose this Mentor as your Guide <span>(No Cost for Choice) </span> </button>


                </span>



        </span>
   
    </span>

   


</div>

<app-footer></app-footer>
 