<app-header></app-header>

<mat-card class="login_box">
		
						
    <h3 class="login_welcome_msg" >Welcome to DNA of Success <img src="../../assets/images/home_banner_top_ankle_new.png" alt="#"></h3>


                
    <form >
        <span class="spandiv fornrow">
            
            <span class="spandiv username_contain" >
                                    
                <input type="text" name="username" id="username" class="login_box_input" maxlength="255" value="" placeholder="Username"/>								
            </span>
            <span class="spandiv password_contain"  >
            
                <input type="password" name="password" id="password" class="login_box_input" maxlength="255" value="" placeholder="Password"/>
            </span>

            <span  class="spandiv controls_area">
                <span  class="spandiv remember_me_area">
                    <input type="checkbox" name="chkRememberMe" class=""/>&nbsp;<label >Remember me</label>
                    <a  href="javascript:void(0);"  class="login_box_iforget">Forgot your password?</a>

                    <div class="spandiv clear"></div>
                </span>
                <span  class="spandiv submit_bo">
                    <input type="submit" value="Login" class="login_button">
                </span>
            </span>
        </span>
         
      
    </form> 
</mat-card >



<app-footer></app-footer>
