<app-header></app-header>
<mat-card class="container-fluid product_banner_section  newcon_banner_section">
    <img src="../../assets/images/new_con_banner2.jpg" alt="#" class="productbanner2">
    <span class="spandiv contatcwrapper">
        <span class="spandiv product_banner_col">
            <span class="spandiv container home_banner_inner">
                <span class="spandiv row">
                    <span class="spandiv product_banner_inner_col">
                        <span class="spandiv product_banner_inner_top">
                            <span class="spandiv product_banner_inner_top_content">
                                <span class="spandiv ptext1"> 
                                    <span>Realize Your Core Desires</span> <span>*</span> Live an Incredible Life <span>*</span> Earn the Income You Want <span>*</span> Build Lasting Meaningful Relationships
                                   
                                </span>
                            </span>
                            <img src="../../assets/images/home_banner_top_ankle.png" alt="#">
                        </span>
                        <span class="spandiv producttextblock">
                            <h2>Get in touch with the dna of
                                success team today!</h2>

                            <span class="spandiv divtext2">
                            If you want to help others be successful for a living, you have come home. Get certified to tech and train people and business in our incredibly effective methods for success.
                                
                            </span>
                        </span>
                    </span>
                </span>
            </span>
        </span>
    </span>
</mat-card>

<mat-card class="container-fluid contact_new_form_block">


<span class="spandiv contact_new_form_block_body">
    <span class="spandiv contact_new_form_block_bodycon">

    <span class="spandiv contact_new_form_block_wrapper">

         <div > 
             <!-- <input [(ngModel)]="temtdata" > -->
             <!-- <button (click)="updateformval()">Update Form and Table </button>   -->

             <h2>Fill out this short form </h2>
          
            <lib-showform *ngIf="formdata !=null"
                          [formdata]="formdata"
                          [formfieldrefresh]="formfieldrefresh"
                          [formfieldrefreshdata]="formfieldrefreshdata" class="contactlib"> 
             </lib-showform>
             <!-- <span class="spandiv contact_submit"> <button type="submit" [routerLink]="['/product']"  >Submit Now</button></span> -->
             </div> 
    <!-- <form >
        <h2>Fill out this short form </h2>
        <input type="text" class="contact_form_input" placeholder="Name" name="name"> -->
        <!--<span class="errmsg">Error</span>-->
        <!-- <div class="clearfix"></div>
        <input type="text" class="contact_form_input" placeholder="Email" name="email"> -->
        <!--<span class="errmsg">Error</span>-->
        <!-- <div class="clearfix"></div>
        <input type="text" class="contact_form_input" placeholder="Phone" name="phone"> -->
        <!--<span class="errmsg">Error</span>-->
        <!-- <div class="clearfix"></div>
        <textarea rows="8" class="contact_form_textarea" placeholder="Message" name="message"></textarea>
    
       <span class="spandiv contact_submit"> <button type="submit" >Submit Now</button></span>
        <div class="clearfix"></div>
    </form> -->
    </span>
        <div class="clearfix"></div> 
</span>

</span>
    <div class="clearfix"></div>

</mat-card>

 

<app-footer></app-footer>
