<app-header></app-header>

<div class="container success_wrapper">
    <div class="success_heading">  success  </div>

    


<div class="success_msg_con">

  


    <div class="success_msg_text">
      <h2>Congrats On Taking The Step Towards The Life you Deserve </h2>

        <h3>THANKS FOR BEING AN AWESOME CUSTOMER!</h3> 
        <a target="_blank" href="https://dna-backend.influxiq.com/login">Login</a>
    </div>


</div>

<div class="success_msg_con_aminew">

    <div class="success_msg_text2new">
        <h2>Join our page on Facebook to keep updated on <br/>all of the most current information from Jack!</h2>
        <a href="https://www.facebook.com/DNAMasterCourse/" target="_blank">Join the DNA Master Courses on Facebook today!</a>

        <h3>Please keep an eye on your E-mail and Shipping updates</h3>
    </div>


</div>

<div class="success_msg_carttable">

    <table width="100%"  cellspacing="0" cellpadding="0" class="success_table1">
        <thead>
        <tr>
            <th width="50%"  valign="middle" style="text-align: center;">Order Date:</th>
            <th width="50%"  valign="middle"  style="text-align: center;">Order Status:</th>
        </tr>
    </thead>
        <tr>
            <td  valign="middle" data-label="Order Date:">{{AllData.order_on | date:'medium'}}</td>
            <td valign="middle" data-label="Order Status:">{{AllData.order_status}}</td>
        </tr>
    </table>
    <h5>Shipping Method: Standard Shipping (Residential)</h5>
    <table width="100%"  cellspacing="0" cellpadding="0" class="success_table2">
        <thead>
        <tr>
            <th width="12%"  valign="middle">Item</th>
            <th width="45%" valign="middle"   >Name</th>
            <th width="13%"  valign="middle"  >Qty</th>
            <th width="20%">&nbsp;</th>
            <th width="10%" valign="middle"  >Amount</th>
        </tr>
        </thead>
   

  

           <tr class="tablelistdeta1">
          
            <td  data-label="Item:"  valign="middle" style="padding:8px 10px;  font-size:16px; color:#111; font-weight:normal;   font-family:Arial, Helvetica, sans-serif;">1</td>
             <td data-label="Name:"  valign="middle" style="padding:8px 10px;  font-size:16px; color:#111; font-weight:normal;   font-family:Arial, Helvetica, sans-serif;">The Essential Success Method with Weekly PLUS	</td>

             <td data-label="Qty:"  valign="middle" style="padding:8px 10px;  font-size:16px; color:#111; font-weight:normal;   font-family:Arial, Helvetica, sans-serif;">1</td>
             <td data-label=""  valign="middle" style="padding:8px 10px;  font-size:16px; color:#111; font-weight:normal;    font-family:Arial, Helvetica, sans-serif;">&nbsp;</td>
            
           <td data-label="Amount:"  valign="middle" style="padding:8px 10px;  font-size:16px; color:#111; font-weight:normal;    font-family:Arial, Helvetica, sans-serif;">$249.00
           </td>
            
          </tr>

          <tr class="tablelistdeta">
            <td colspan="3" style="border: none;">&nbsp;</td>
            <td  valign="middle">Sub Total</td>
            <td  valign="middle" data-label="Sub Total:">$249.00</td>
        </tr>

        <tr class="tablelistdeta">
            <td colspan="3">&nbsp;</td>
            <td  valign="middle">Shipping</td>
            <td valign="middle"  data-label="Shipping:">$0.00</td>
        </tr>
        <tr class="tablelistdeta">
            <td colspan="3">&nbsp;</td>
            <td  valign="middle">Tax Rate</td>
            <td valign="middle"  data-label="Tax Rate:">$0.00</td>
        </tr>
        <tr class="tablelistdeta">
            <td colspan="3">&nbsp;</td>
            <td  valign="middle">Total</td>
            <td valign="middle"  data-label="Total:">$249.00</td>
        </tr>

        </table>

        <h5>Billing Shipping Information</h5>
        <table width="100%"  cellspacing="0" cellpadding="0"  valign="top" class="success_table3">
            <tbody><tr class="success_table3TR">
                <td class="success_table3_tdl">
                    <table width="100%" border="0">
                        <tbody><tr>
                            <th align="left" valign="middle">Bill To</th>
                        </tr>
                        <tr>
                            <td align="left" valign="middle">Name: Menteeg One</td>
                            </tr>
                        <tr>
                            <td align="left" valign="middle">Address: Add Road no. 1</td>
                            </tr>
                        <tr>
                            <td align="left" valign="middle">City: Blessedcity</td>
                            </tr>
                        <tr>
                            <td align="left" valign="middle">State: Indiana</td>
                            </tr>
                        <tr>
                            <td align="left" valign="middle">Zip: 778899</td>
                            </tr>
                        <tr>
                            <td align="left" valign="middle">Email: ramseybolton2@yopmail.com</td>
                        </tr>
                    </tbody></table></td>
                <td class="success_table3_tdr"><table width="100%" border="0">
                        <tbody><tr>
                            <th align="left" valign="middle">Ship To</th>
                            </tr>
                        <tr>
                            <td align="left" valign="middle">Name: Menteeg One</td>
                            </tr>
                        <tr>
                            <td align="left" valign="middle">Address: Add Road no. 1</td>
                            </tr>
                        <tr>
                            <td align="left" valign="middle">City: Blessedcity</td>
                            </tr>
                        <tr>
                            <td align="left" valign="middle">State: Indiana</td>
                            </tr>
                        <tr>
                            <td align="left" valign="middle">Zip: 778899</td>
                        </tr>
                        <tr>
                            <td align="left" valign="middle">&nbsp;</td>
                        </tr>
                    </tbody></table></td>
            </tr>
        </tbody></table>

    </div>



</div>

<app-footer></app-footer>
  