<app-header></app-header>

<mat-card class="menteelanding_top_banner">


     <span class="menteelanding_top_banner_text">
         <h2>DON’T MISS THE CHANCE TO LEARN FROM </h2>
         <h3>‘MENTOR TO MILLIONS’, JACK M. ZUFELT.</h3>
         <h4>Pave Your Own Path To Success With <span>DNA Of Success</span> Master Courses. </h4>

         <span class="menteelanding_top_banner_text2">
            <h5>HURRY!</h5>
            <h6> GRAB ONE OF OUR INCREDIBLE PACKAGES. </h6>

         </span>


     </span>

</mat-card>
 
<app-footer></app-footer>