<app-header></app-header>

<mat-card class="container-fluid product_banner_section  newshop_banner_section">
    <img src="../../assets/images/new_shoptbanner2.png" alt="#" class="productbanner2">
    <span class="row spandiv">
        <span class="spandiv product_banner_colnew ">
            <span class="spandiv container home_banner_inner">
                <span class="spandiv row">
                    <span class="spandiv product_banner_inner_col">
                        <span class="spandiv product_banner_inner_top">
                            <span class="spandiv product_banner_inner_top_content">
                                <span class="spandiv ptext1">
                                   <span>Realize Your Core Desires</span> <span>*</span> Live an Incredible 
                                   Life <span>*</span> Earn the Income You Want <span>*</span> Build 
                                   Lasting Meaningful Relationships
                                </span>
                            </span>
                            <img src="../../assets/images/home_banner_top_ankle.png" alt="#">
                        </span>
                        <span class="spandiv producttextblock">
                            <h2>The DNA of Success Master Courses Always has so many incredible things to offers!</h2>
                            <span class="spandiv divtext2">
                               There is so much value packed in to every one of our products and services that you 
                               cannot go wrong no matter what you choose! You will receive a combination of 
                               IMMEDIATE access to online course materials and incredible products that we will 
                               ship within 24 hours!
                            </span>
                        </span>
                    </span>
                </span>
            </span>
        </span>
    </span>
</mat-card>

<mat-card class="container newshop_block1">
    <span class="spandiv newshop1_main_wrapper">
        <span class="spandiv newshop_block1_wrapper">
            <h2>The DNA of Success Incredible Quarterly Success Intensive Webinar - Fall - 2021</h2>
            <h3>Fuel your success with incredible training directly from Jack Zufelt to you! Over the course of two days, 
                Jack and his incredible guests will deliver messages that will fuel, inspire, and enable you to engage fully in 
                your Core Desires and live the reality of the DNA of Success. You’ll get:
            </h3>
            <h4><label>Training on how to maximize your success</label>
                <label> Knowledge about your innate abilities, and</label>
                <label> Know-how that will allow you to succeed in life.</label> 

                
            </h4>


            <h5>The master himself will show you to live your best life and 
                make your dreams a reality!
            </h5>


            <span class="nwshoppriceblock">
            <label> <del> $ 89</del></label>
             <span><strong>$ 49</strong> for you</span>

            </span>

            <span class="spandiv newshop_img">
               <!-- <img src="../../assets/images/new_shop_con1_img1.png" alt="#"> -->
               <span class="spandiv newshop_buynow">
                <a href="javascript:void(0)">Buy Now</a>
               
                    </span>
            </span>
            <!-- <span class="spandiv newshop_buynow">
                <a href="javascript:void(0)">Buy Now</a>
               
            </span> -->
        </span>

       
          

    </span>

    <span  class="webinar_newconblock">
        <span  class="webinar_newconblock_wrapper">
            <h2>THIS WEBINAR WILL BE HOSTED BY:</h2>
    
            <span  class="webinar_newconblock_wrapper_con">
    
                <span  class="webinar_newrow">
                    <span  class="webinar_newrow_img"><img src="../../assets/images/jack_img.png"  alt="#"> </span>
                    <span  class="webinar_newrow_text">
                        <label>jack</label>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
                    
                    </span>
                  
    
                </span>
    
                <span  class="webinar_newrow">
                    <span  class="webinar_newrow_img"><img src="../../assets/images/beto_img.png"  alt="#"> </span>
                    <span  class="webinar_newrow_text">
                        <label>BETO</label>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
                    
                    </span>
                  
    
                </span>
    
             </span>
        </span>
    
    </span>
</mat-card>

<mat-card class="container newshop_block2">
    <span class="spandiv newshop2_main_wrapper">
        <span class="spandiv newshop_block2_wrapper">
            <h2>The DNA of Success Incredible Quarterly Success Intensive Webinar - Winter - 2021</h2>
            <h3>Don’t let the winter blues get you down! With Jack Zufelt and his amazing guests, you can spend those long winter nights 
                working towards your dream of living your best life. 
                Jack Zufelt and his team have carefully crafted amazing lessons that are straight from the master himself. You’ll get:
            </h3>
            <h4><label>Tips and tricks to unlocking the success within you,</label><label>Best practices to 
                find out what you really want in life, and</label><label>Guidance on how to live your most 
                    fulfilling life.</label>
            </h4>
            <h5>Don’t miss out!
            </h5>

            <span class="nwshoppriceblock">
                <label> <del> $ 89</del></label>
                 <span><strong>$ 49</strong> for you</span>
    
                </span>
            <span class="spandiv newshop_img">
               <!-- <img src="../../assets/images/new_shop_con2_img1.png" alt="#"> -->
             <!-- <img src="../../assets/images/new_shop_con1_img1.png" alt="#"> -->
             <span class="spandiv newshop_buynow">
                <a href="javascript:void(0)">Buy Now</a>
               
                    </span>
            </span>
            <!-- <span class="spandiv newshop_buynow">
                <a href="javascript:void(0)">Buy Now</a>
               
            </span> -->
        </span>

      
    </span>

    <span  class="webinar_newconblock">
        <span  class="webinar_newconblock_wrapper">
            <h2>THIS WEBINAR WILL BE HOSTED BY:</h2>
    
            <span  class="webinar_newconblock_wrapper_con">
    
                <span  class="webinar_newrow">
                    <span  class="webinar_newrow_img"><img src="../../assets/images/jack_img.png"  alt="#"> </span>
                    <span  class="webinar_newrow_text">
                        <label>jack</label>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
                    
                    </span>
                  
    
                </span>
    
               
                <span  class="webinar_newrow">
                    <span  class="webinar_newrow_img"><img src="../../assets/images/beto_img.png"  alt="#"> </span>
                    <span  class="webinar_newrow_text">
                        <label>BETO</label>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
                    
                    </span>
                  
    
                </span>

                <span  class="webinar_newrow">
                    <span  class="webinar_newrow_img"><img src="../../assets/images/demo_img1.png"  alt="#"> </span>
                    <span  class="webinar_newrow_text">
                        <label>John Doe</label>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
                    
                    </span>
                  
    
                </span>
             </span>
        </span>
    
    </span>

</mat-card>

<mat-card class="container newshop_block3">
    <span class="spandiv newshop3_main_wrapper">
        <span class="spandiv newshop_block3_wrapper">
            <h2>The DNA of Success Incredible Quarterly Success Intensive Webinar - Spring - 2021</h2>
            <h3>New year new you, right? Wrong! Discover who you really are by learning not only how to get
                 what you want, but to know what you truly desire. With Jack Zufelt and his amazing and inspiring guests, you will:
            </h3>
            <h4><label>Discover your Core Desires</label><label>Learn how to live your dream,</label><label>And 
                know that nothing is impossible if it’s what you truly want. </label>
            </h4>
            <h5>Be the authentic you and learn how to live your dream life!
            </h5>
            <span class="nwshoppriceblock">
                <label> <del> $ 89</del></label>
                 <span><strong>$ 49</strong> for you</span>
    
                </span>
            <span class="spandiv newshop_img">
                <!-- <img src="../../assets/images/new_shop_con3_img1.png" alt="#"> -->
                <span class="spandiv newshop_buynow">
                    <a href="javascript:void(0)">Buy Now</a>
                  
                </span>
            </span>
            <!-- <span class="spandiv newshop_buynow">
                <a href="javascript:void(0)">Buy Now</a>
              
            </span> -->
        </span>
      
    </span>
    <span  class="webinar_newconblock">
        <span  class="webinar_newconblock_wrapper">
            <h2>THIS WEBINAR WILL BE HOSTED BY:</h2>
    
            <span  class="webinar_newconblock_wrapper_con">
    
                <span  class="webinar_newrow">
                    <span  class="webinar_newrow_img"><img src="../../assets/images/jack_img.png"  alt="#"> </span>
                    <span  class="webinar_newrow_text">
                        <label>jack</label>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
                    
                    </span>
                  
    
                </span>
    
                
                <span  class="webinar_newrow">
                    <span  class="webinar_newrow_img"><img src="../../assets/images/beto_img.png"  alt="#"> </span>
                    <span  class="webinar_newrow_text">
                        <label>BETO</label>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
                    
                    </span>
                  
    
                </span>

                <span  class="webinar_newrow">
                    <span  class="webinar_newrow_img"><img src="../../assets/images/demo_img1.png"  alt="#"> </span>
                    <span  class="webinar_newrow_text">
                        <label>John Doe</label>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
                    
                    </span>
                  
    
                </span>

                <span  class="webinar_newrow">
                    <span  class="webinar_newrow_img"><img src="../../assets/images/demo_img2.png"  alt="#"> </span>
                    <span  class="webinar_newrow_text">
                        <label>John Doe</label>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
                    
                    </span>
                  
    
                </span>
             </span>
        </span>
    
    </span>

</mat-card>
<mat-card class="container newshop_block4">
    <span class="spandiv newshop4_main_wrapper">
        <span class="spandiv newshop_block4_wrapper">
            <h2>The DNA of Success Incredible Quarterly Success Intensive Webinar - Winter - 2021</h2>
            <h3>Don’t let the winter blues get you down! With Jack Zufelt and his amazing guests, you can spend those long winter nights working towards your 
                dream of living your best life. Jack Zufelt and his team have carefully crafted amazing lessons that are straight from the master himself. You’ll get:
            </h3>
            <h4><label>Tips and tricks to unlocking the success within you,</label>
                <label> Best practices to find out what you really want in life, and</label>
                <label>Guidance on how to live your most fulfilling life.</label>
            </h4>
            <h5>Don’t miss out!
            </h5>

            <span class="nwshoppriceblock">
                <label> <del> $ 89</del></label>
                 <span><strong>$ 49</strong> for you</span>
    
                </span>
                <span class="spandiv newshop_img">
                    <!-- <img src="../../assets/images/new_shop_con2_img1.png" alt="#"> -->
                  <!-- <img src="../../assets/images/new_shop_con1_img1.png" alt="#"> -->
                  <span class="spandiv newshop_buynow">
                     <a href="javascript:void(0)">Buy Now</a>
                    
                         </span>
                 </span>
            <!-- <span class="spandiv newshop_buynow">
                <a href="javascript:void(0)">Buy Now</a>
               
            </span> -->
        </span>
    </span>

    <span  class="webinar_newconblock">
        <span  class="webinar_newconblock_wrapper">
            <h2>THIS WEBINAR WILL BE HOSTED BY:</h2>
    
            <span  class="webinar_newconblock_wrapper_con">
    
                <span  class="webinar_newrow">
                    <span  class="webinar_newrow_img"><img src="../../assets/images/jack_img.png"  alt="#"> </span>
                    <span  class="webinar_newrow_text">
                        <label>jack</label>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
                    
                    </span>
                  
    
                </span>
    
               
                <span  class="webinar_newrow">
                    <span  class="webinar_newrow_img"><img src="../../assets/images/beto_img.png"  alt="#"> </span>
                    <span  class="webinar_newrow_text">
                        <label>BETO</label>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
                    
                    </span>
                  
    
                </span>

                <span  class="webinar_newrow">
                    <span  class="webinar_newrow_img"><img src="../../assets/images/demo_img1.png"  alt="#"> </span>
                    <span  class="webinar_newrow_text">
                        <label>John Doe</label>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
                    
                    </span>
                  
    
                </span>

                <span  class="webinar_newrow">
                    <span  class="webinar_newrow_img"><img src="../../assets/images/demo_img2.png"  alt="#"> </span>
                    <span  class="webinar_newrow_text">
                        <label>John Doe</label>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
                    
                    </span>
                  
    
                </span>
                <span  class="webinar_newrow">
                    <span  class="webinar_newrow_img"><img src="../../assets/images/demo_img1.png"  alt="#"> </span>
                    <span  class="webinar_newrow_text">
                        <label>John Doe</label>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
                    
                    </span>
                  
    
                </span>

                <span  class="webinar_newrow">
                    <span  class="webinar_newrow_img"><img src="../../assets/images/demo_img2.png"  alt="#"> </span>
                    <span  class="webinar_newrow_text">
                        <label>John Doe</label>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
                    
                    </span>
                  
    
                </span>
             </span>
        </span>
    
    </span>
</mat-card>


<app-footer></app-footer>