.completedsuccess_wrapper{ width: 1400px; margin: 0 auto; margin-top: 45px;}


.AddON_modal_heading{ width: 100%;}


.AddON_modal_heading h2 {
    background: rgba(254,187,4,1);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,187,4,1)), color-stop(100%, rgba(254,91,4,1)));
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(254,187,4,1)), to(rgba(254,91,4,1)));
    background: linear-gradient(to bottom, rgba(254,187,4,1) 0%, rgba(254,91,4,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#febb04', endColorstr='#fe5b04', GradientType=0);
    border-radius: 10px;
    padding: 15px;
    color: #ffffff;
    font-family: 'robotoblack'!important;
    text-transform: uppercase;
    text-shadow: 0 1px 2px #983906;
   
    font-size: 50px!important;
    line-height: 50px!important;
    margin: 0;
    box-shadow: 0 2px 5px #888; text-align: center;
}

 

    .AddON_modal_block3new { padding: 20px!important;}
  .AddON_modal_block3new label {
        align-items: start; line-height: 34px; display: block; clear: both; overflow: hidden; margin: 0px!important;}

       .AddON_modal_block3new input[type="radio"]{ margin-top: 8px; float: left;}

       .AddON_modal_block3new label span p{ display: inline; font-size: 25px;}

       .AddON_modal_block3new label span { 
        padding-left: 36px; display: block;}

        .AddON_modal_block3new label:nth-of-type(2){ margin-top: 10px!important;}


.completedsuccess_newblock{ margin: 0 auto;}

.completedsuccess_newblock h2{background: rgba(68,211,240,1);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(68,211,240,1)), color-stop(100%, rgba(8,141,202,1)));
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(68,211,240,1)), to(rgba(8,141,202,1)));
  background: linear-gradient(to bottom, rgba(68,211,240,1) 0%, rgba(8,141,202,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#44d3f0', endColorstr='#088dca', GradientType=0);
  box-shadow: 0 0 4px #888;
  border-radius: 5px;
  margin:36px 0  0 0; text-align: center; padding: 15px;}


  .completedsuccess_newblock h2 label {text-align: center;
    font-family: 'robotoblack';
    font-size: 40px;
    line-height: 46px;
    text-transform: uppercase;
    display: block;
    background: -webkit-linear-gradient(#ffffff, #e4e4e4, #ffffff, #cfcccd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;}

    .completedsuccess_newblock h2 label b{background: -webkit-linear-gradient(#ea4040, #9c2020, #ea4040, #9c2020);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;}


      .completedsuccess_newblock_contain{background: -moz-linear-gradient(27deg, rgba(195,202,209,1) 0%, rgba(250,252,252,1) 45%, rgba(228,236,243,1) 100%);
        background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(195,202,209,1)), color-stop(45%, rgba(250,252,252,1)), color-stop(100%, rgba(228,236,243,1)));
        background: -webkit-linear-gradient(27deg, rgba(195,202,209,1) 0%, rgba(250,252,252,1) 45%, rgba(228,236,243,1) 100%);
        background: -o-linear-gradient(27deg, rgba(195,202,209,1) 0%, rgba(250,252,252,1) 45%, rgba(228,236,243,1) 100%);
        background: -ms-linear-gradient(27deg, rgba(195,202,209,1) 0%, rgba(250,252,252,1) 45%, rgba(228,236,243,1) 100%);
        background: linear-gradient(63deg, rgba(195,202,209,1) 0%, rgba(250,252,252,1) 45%, rgba(228,236,243,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c3cad1', endColorstr='#e4ecf3',GradientType=1);
        position: relative; margin: 36px auto;     border: solid 3px #f7f8f9!important;
        padding: 2px!important; border-radius: 5px;}


        .completedsuccess_newblock_contain .completedsuccess_newblock_contain_wrapper {
          background: url(../../assets/images/completedsuccess_newimg.png) no-repeat left bottom; border-radius: 10px;
         
          overflow: hidden;
          padding: 20px; padding-left: 540px;
      }


      .completedsuccess_newblock_contain_wrapper h6 {
        background: url(../../assets/images/new_about_con_icon2.png) no-repeat left 10px;
        font-size: 18px;
        color: #000000;
        font-family: 'OpenSans-Regular';
        margin: 10px 0px;
        padding: 5px 0 5px 40px;
        line-height: 24px;
        list-style: none;
        font-weight: normal;
    }

 @media screen and (max-width:1480px){
       
    .completedsuccess_wrapper{ width: 90%;}

    .completedsuccess_newblock_contain .completedsuccess_newblock_contain_wrapper{ padding-left: 20px;}

    .completedsuccess_newblock_contain_wrapper h6{ margin-left: 500px;}

    .completedsuccess_newblock_contain_wrapper h6:nth-of-type(1){ margin-left: 0px;}

  }

  @media screen and (max-width:1310px){

    .completedsuccess_newblock_contain_wrapper h6:nth-of-type(2){ margin-left: 0px;}
  }


  @media screen and (max-width:1199px){

    .completedsuccess_newblock_contain_wrapper h6{ margin-left: 0px;}

    .AddON_modal_heading h2{ font-size: 40px!important; line-height: 40px!important;}

    .AddON_modal_block3new label span{ margin: 0px; line-height: 34px; }

    .AddON_modal_block3new label span{ padding-left: 15px;}

    .completedsuccess_newblock_contain .completedsuccess_newblock_contain_wrapper{ background-position: center bottom; padding-bottom: 530px;}

    .completedsuccess_newblock_contain .completedsuccess_newblock_contain_wrapper{ padding-left: 20px;}

    .completedsuccess_wrapper{ margin-top: 15px;}
  }


  @media screen and (max-width:560px){

    .completedsuccess_newblock_contain .completedsuccess_newblock_contain_wrapper{ background-size: 100%; padding-bottom: 90%;}
  }

  @media screen and (max-width:420px){
    .AddON_modal_block3new label span{ margin: 0px; line-height: 34px; text-align: left;   padding-left: 35px;}
    .AddON_modal_block3new input[type="radio"]{ margin-top: 5px; float: left;}

  }