.completedsuccess_wrapper{ width: 1400px; margin: 0 auto; margin-top: 45px;}


.AddON_modal_heading{ width: 100%;}


.AddON_modal_heading h2 {
    background: rgba(254,187,4,1);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,187,4,1)), color-stop(100%, rgba(254,91,4,1)));
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(254,187,4,1)), to(rgba(254,91,4,1)));
    background: linear-gradient(to bottom, rgba(254,187,4,1) 0%, rgba(254,91,4,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#febb04', endColorstr='#fe5b04', GradientType=0);
    border-radius: 10px;
    padding: 15px;
    color: #ffffff;
    font-family: 'robotoblack'!important;
    text-transform: uppercase;
    text-shadow: 0 1px 2px #983906;
   
    font-size: 50px!important;
    line-height: 50px!important;
    margin: 0;
    box-shadow: 0 2px 5px #888; text-align: center;
}


.AddON_modal_block2_newpage{ margin-top: 30px;}

.AddON_modal_block2_newpage .AddON_modal_block2_heading h2 label:nth-of-type(1)::before{ display: none;}

.AddON_modal_block2_newpage .AddON_modal_block2_heading h2{ background-image: none;}

.AddON_modal_block2_newpage .AddON_modal_block2_heading h2 label b{ background: -webkit-linear-gradient(#ea4040, #9c2020, #ea4040, #9c2020);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;}


    .AddON_modal_block2_newpage  h6 {
        margin: 0!important;
        padding: 20px;   border-radius: 8px;
        position: relative;
        border: solid 1px #fff;
        font-size: 22px!important;
        color: #ffffff!important;
        font-family: 'OpenSans-Semibold'!important;
        line-height: 28px!important;  border-radius: 0px; 
    }   
    
    .AddON_modal_block2_newpage  h6:first-of-type{ border-radius:  10px 10px 0 0;}

    .AddON_modal_block2_newpage  h6:last-of-type{ border-radius:  0 0  10px 10px;}

    .AddON_modal_block2_newpage  h6:nth-child(4n+1){    background: #01a4cc!important;  }

    .AddON_modal_block2_newpage  h6:nth-child(4n+2){    background: #5bbb15!important;  }

    .AddON_modal_block2_newpage  h6:nth-child(4n+3){    background: #f8bc02!important;  }

    .AddON_modal_block2_newpage  h6:nth-child(4n+4){    background: #7362ca!important;  }

    .AddON_modal_block3new { padding: 20px!important;}
  .AddON_modal_block3new label {
        align-items: start; line-height: 34px; display: block; clear: both; overflow: hidden; margin: 0px!important;}

       .AddON_modal_block3new input[type="radio"]{ margin-top: 8px; float: left;}

       .AddON_modal_block3new label span p{ display: inline; font-size: 25px;}

       .AddON_modal_block3new label span { 
        padding-left: 36px; display: block;}

        .AddON_modal_block3new label:nth-of-type(2){ margin-top: 10px!important;}

 @media screen and (max-width:1480px){
       
    .completedsuccess_wrapper{ width: 90%;}

  }


  @media screen and (max-width:1199px){

    .AddON_modal_heading h2{ font-size: 40px!important; line-height: 40px!important;}

    .AddON_modal_block3new label span{ margin: 0px; line-height: 34px; }

    .AddON_modal_block3new label span{ padding-left: 15px;}
  }

  @media screen and (max-width:420px){
    .AddON_modal_block3new label span{ margin: 0px; line-height: 34px; text-align: left;   padding-left: 35px;}
    .AddON_modal_block3new input[type="radio"]{ margin-top: 5px; float: left;}

  }