<app-header></app-header>

<div class="completedsuccess_wrapper">

<div class="AddON_modal_body">

    <div class="AddON_modal_heading">   <h2>You decided to get the DNA of Success Second Edition! What an incredible decision! Your Copy of the DNA of Success Second Edition will be shipped SOON!</h2>   </div>
 

      <div class="completedsuccess_newblock">
        <h2>
          <label> We want to add our <b>7-Day Free Trial</b> to the DNA Master Courses as an incredible bonus to your purchase! Just by paying Shipping, you are getting this incredible resource for free.
          </label>  
       
       </h2>


       <div class="completedsuccess_newblock_contain">
        <div class="completedsuccess_newblock_contain_wrapper">
             <h5>You will get access to all of the following right away! </h5>
           
              <h6>The online Advanced Master Courses week by week course material that will take your personal development to a completely new level. (Updated Quarterly)  </h6>
              <h6>Access to the incredible video training from Jack Zufelt broken out into the online course training system! Read this incredible training and then listen to Jack while you learn!
              </h6>

              <h6>Master Course Guideline that takes a comprehensive look at the DNA of Success principles with all-new, advanced materials! If you have ever been exposed to Jack before you are really going to love this!</h6>
              <h6>Access to a tremendous amount of other incredible opportunities with the DNA Master Courses if you decide to continue! Including our powerful home study program sent in the mail, access to live webinars and training, and much more.
              </h6>


        

        </div>

      </div>
      </div>


 

    <div class="AddON_modal_block3 AddON_modal_block3new">

        <label>
            <input type="radio" [(ngModel)]="value" value="mentee">
          <span>
                Yes, sign me up for the <strong>7-Day Free Trial</strong>. (If not Cancelled within 7 days, you will be billed $149 for 1-year 
                access to the <strong>“GOOD PACKAGE”</strong>.) Terms and Conditions

              </span>
         </label>
        
    </div>


    <div class="completedsuccess_newblock">
       
     <div class="completedsuccess_newblock_contain">
      <div class="completedsuccess_newblock_contain_wrapper completedsuccess_wrapper2">
           <h5>The “GOOD PACKAGE” includes:</h5>
         
            <h6>DNA of Success Stories which includes rare insights from Brian Tracy, Jack Canfield, and several other authors.
            </h6>
            <h6>Lifetime access to the online Advanced Master Courses week by week course material that will take your personal development to a completely new level. (Updated Quarterly)
            </h6>
          <h6>Access to the incredible audio training from Jack Zufelt broken out into the online course training system! Read this incredible training and then listen to Jack while you learn!
          </h6>
          <h6>Master Course Guideline that takes a comprehensive look at the DNA of Success principles with all-new, advanced materials! If you have ever been exposed to Jack before you are really going to love this!
          </h6>
          <h6>A front-row seat to 1 of Jack 's Incredible Quarterly 1/2 day Webinars "Master Courses in Action" presentations. You can choose from one of the next 4 you are able to attend right after purchase. (This is a $249 dollar value)
          </h6>
      
          <h6>Monthly Review: One time a month Jack holds his live webinar "The Success Method Monthly Review" You get to hear an in-depth, 60-minute session each month with creator Jack Zufelt as he talks about his Success concepts and guides you to achieve your own success. (You will receive this for an entire year before any required renewal.)
          </h6>

      </div>

    </div>
    </div>




  <div class="AddON_modal_block3 AddON_modal_block3new">

      <label>
          <input type="radio" [(ngModel)]="value" value="mentee">
        <span>
          No, thank you. I don’t need this incredible offer.
            </span>
       </label>
      
  </div>
 

      <!-- <button class="addonbtn" (click)="continue();"><span>CONTINUE</span></button> -->



 

</div>
<mat-dialog-actions >
  <button mat-button cdkFocusInitial  (click)="onNoClick()" ></button> 
   
  </mat-dialog-actions>

</div>
  <app-footer></app-footer>