<app-header></app-header>

<div class="completedsuccess_wrapper">

<div class="AddON_modal_body">

    <div class="AddON_modal_heading">   <h2>Your Order For DNA Of Sucess 2nd Addition Shipped Out Immediately</h2>   </div>
 

   

    <div class="AddON_modal_block2 AddON_modal_block2_newpage">


        
       <div class="AddON_modal_block2_heading">
             <h2>
                 <label> <span>GOOD PACKAGE FOR <b>$149</b>
                    "The Essential Success Method" includes</span></label>  
              
              </h2>
           </div>



           <h6>The DNA of SuccessThe #1 Best-selling book that started it all! It highlights the true cause of achievement. And as a BONUS we will also send you the 
               DNA of Success Stories which includes rare insights from Brian Tracy, Jack Canfield and several other authors.</h6>

           <h6>Lifetime access to the online Advanced Master Courses week by week course material that will take your personal development to a
                completely new level. (Updated Quarterly)</h6>

         <h6>Access to the incredible audio training from Jack Zufelt broken out into the online course training system! Read this incredible 
                    training and then listen to Jack while you learn!</h6>


            <h6>Master Course Guideline that takes a comprehensive look at the DNA of Success principles with all-new, advanced materials! If you have ever 
                been exposed to Jack before you are really going to love this!</h6>  
                
                <h6>A front row seat to 1 of Jack 's Incredible Quarterly 1/2 day Webinars "Master Courses in Action" presentations. You can choose from one of the next 4 you are able to attend 
                    right after purchase. (This is a $249 dollar value)</h6>

                    <h6>Monthly Review: One time a month Jack holds his live webinar "The Success Method Monthly Review" You get to hear an in-depth, 60 minute session each month with creator Jack Zufelt as he talks about 
                        his Success concepts and guides you to achieve your own success. (You will receive this for an entire year before any required renewal.)</h6>




          
    </div>

    <div class="AddON_modal_block3 AddON_modal_block3new">

        <label>
            <input type="radio" [(ngModel)]="value" value="mentee">
              <span><strong>Yes Please Add the 7 days Trial to my order </strong>
                <p>You will be billed for 1st year's of access for $149(if Not Cancelled with in 7 days )</p>

              </span>
         </label>
         <label>
            <input type="radio" [(ngModel)]="value" value="guest">
              <span>No, thank you. I do not need ths incredible offer. </span>
         </label>
    </div>
 

      <button class="addonbtn" (click)="continue();"><span>CONTINUE</span></button>



 

</div>
<mat-dialog-actions >
  <button mat-button cdkFocusInitial  (click)="onNoClick()" ></button> 
   
  </mat-dialog-actions>

</div>
  <app-footer></app-footer>