<app-header></app-header>


        <mat-card class="ansignup_top_block">

            <div class="ansignup_top_block_wrapper">

                <div class="ansignup_top_block_text">
                   <h1>WELCOME, </h1>
                   <h2>POTENTIAL DNA MASTER COURSE AFFILIATES </h2>
                    <h3>I AM JACK M. ZUFELT, </h3>
                    <h4>An international celebrity speaker and trainer, and 
                        I have been heard or seen by over 150 Million people around the World. That’s why I have been 
                        given the title “Mentor to Millions”.
                        </h4>

                     <h5>I have appeared on The </h5>  
                     <h6>TODAY SHOW,</h6> 
                     <h5>and have also been<br/> 
                        interviewed on over 2,000 TV <br/> 
                        and radio stations!</h5>

                </div>
                        <img src="../../assets/images/affiliatenewsignup_jack.png"  class="affiliatenewsignup_jack">

                        <img src="../../assets/images/affiliatenewsignup_toparrow.png"  class="affiliatenewsignup_toparrow">


              

            </div>

            <mat-card class="affiliatenewsignup_form">
                <div class="affiliatenewsignup_form_wrapper">
                        <h2>Become an<br/> 
                            affiliate TODAY</h2>
                            <div class="affiliatenewsignup_formdevider"></div>
    
                            <div class="affiliatenewsignup_form_con">
    
                                  <form>
                                    <mat-form-field appearance="fill">
                                        <mat-label>First Name</mat-label>
                                        <input matInput>
                                      </mat-form-field>
    
                                      <mat-form-field appearance="fill">
                                        <mat-label>Last Name</mat-label>
                                        <input matInput>
                                      </mat-form-field>
    
                                      <mat-form-field appearance="fill">
                                        <mat-label>Business Name</mat-label>
                                        <input matInput>
                                      </mat-form-field>
    
                                      <mat-form-field appearance="fill">
                                        <mat-label>City</mat-label>
                                        <input matInput>
                                      </mat-form-field>
    
                                      <mat-form-field appearance="fill">
                                        <mat-label>Select State</mat-label>
                                        <mat-select>
                                          <mat-option value="option">Select State1</mat-option>
                                          <mat-option value="option">Select State2</mat-option>
                                          <mat-option value="option">Select State3</mat-option>
                                        </mat-select>
                                      </mat-form-field>
    
                                      <mat-form-field appearance="fill">
                                        <mat-label>Telephone</mat-label>
                                        <input matInput>
                                      </mat-form-field>
    
                                      <mat-form-field appearance="fill">
                                        <mat-label>Email</mat-label>
                                        <input matInput>
                                      </mat-form-field>
    
                                      <mat-form-field appearance="fill">
                                        <mat-label>Website Address</mat-label>
                                        <input matInput>
                                      </mat-form-field>
    
                                      <mat-form-field appearance="fill">
                                        <mat-label>Please describe what kind of traffic you have</mat-label>
                                        <textarea matInput></textarea>
                                      </mat-form-field>
    
                                      <mat-form-field appearance="fill">
                                        <mat-label>Additional notes or questions</mat-label>
                                        <textarea matInput></textarea>
                                      </mat-form-field>
    
                                      <mat-form-field appearance="fill">
                                        <mat-label>User Name</mat-label>
                                        <input matInput>
                                      </mat-form-field>
    
                                      <mat-form-field appearance="fill">
                                        <mat-label>Password</mat-label>
                                        <input matInput>
                                      </mat-form-field>
    
                                      <button mat-button>sign up now</button>
    
    
                                  </form>
    
    
                            </div>
    
                
                </div>
    
            </mat-card>
        </mat-card>

     

        <mat-card class="ansignup_block2">

            <div class="ansignup_block2_text">
                <p>I am officially launching my most advanced system to date,<br/> <span>the <u>DNA Master Course</u> Online Training system and mentor program</span> and you are invited to the company grand opening to participate as one of our<br/> 
                    early adopter Affiliates!</p>

            </div>


        </mat-card>

        <div style="height: 200px;"></div>


<app-footer></app-footer>
 