<app-header></app-header>
<mat-card class="newmentorsignup_top_banner">
    <div class="newmentorsignup_top_banner_wrapper">
        <div class="newmentorsignup_top_banner_wrappertext">

            <h1>MAJOR GLOBAL ANNOUNCEMENT!</h1>
            <h2><span>DNA</span> OF SUCCESS
                <img src="../../assets/images/newmentorsignup_banneTEXT1.png" alt="#">
            </h2>

            <h3>is making history ... and YOU can be a part of it!</h3>

            <h4><span>WE NEED MENTORS!!!</span></h4>

            <h5>My name is <span>Jack Zufelt</span>,</h5>


            <img src="../../assets/images/newmentorsignup_bannerimg1.png" alt="#" class="bannerimg1">


        </div>

        <div class="newmentorsignup_form">

            <div class="newmentorsignup_formwrapper">

                <div class="newmentorsignup_formbody">

                    <h2>Become a</h2>

                     <h3>mentor TODAY</h3>

                    <form    >
                       
                        <div class="form-group">
                            <input type="text" name="first_name" placeholder="First Name">
                        </div>
                        <div class="form-group">
                            <input type="text" name="last_name" placeholder="Last Name">
                        </div>
                        <div class="form-group">
                            <input type="text" name="company" placeholder="Business Name">
                        </div>
                        <div class="form-group">
                            <input type="text" name="address_1" placeholder="Physical Address">
                        </div>
                        <div class="form-group">
                            <input type="text" name="city" placeholder="City">
                        </div>
                        <div class="form-group">
                            <select class="region ">
                                <option value="">-- Select a State/Region --</option>
                                <option value="AL">Alabama</option>
                                <option value="AK">Alaska</option>
                                <option value="AS">American Samoa</option>
                                <option value="AZ">Arizona</option>
                                <option value="AR">Arkansas</option>
                                <option value="CA">California</option>
                                <option value="CO">Colorado</option>
                                <option value="CT">Connecticut</option>
                                <option value="DE">Delaware</option>
                                <option value="DC">District of Columbia</option>
                                <option value="FL">Florida</option>
                                <option value="GA">Georgia</option>
                                <option value="GU">Guam</option>
                                <option value="HI">Hawaii</option>
                                <option value="ID">Idaho</option>
                                <option value="IL">Illinois</option>
                                <option value="IN">Indiana</option>
                                <option value="IA">Iowa</option>
                                <option value="KS">Kansas</option>
                                <option value="KY">Kentucky</option>
                                <option value="LA">Louisiana</option>
                                <option value="ME">Maine</option>
                                <option value="MD">Maryland</option>
                                <option value="MA">Massachusetts</option>
                                <option value="MI">Michigan</option>
                                <option value="MN">Minnesota</option>
                                <option value="MS">Mississippi</option>
                                <option value="MO">Missouri</option>
                                <option value="MT">Montana</option>
                                <option value="NE">Nebraska</option>
                                <option value="NV">Nevada</option>
                                <option value="NH">New Hampshire</option>
                                <option value="NJ">New Jersey</option>
                                <option value="NM">New Mexico</option>
                                <option value="NY">New York</option>
                                <option value="NC">North Carolina</option>
                                <option value="ND">North Dakota</option>
                                <option value="MP">Northern Mariana Islands</option>
                                <option value="OH">Ohio</option>
                                <option value="OK">Oklahoma</option>
                                <option value="OR">Oregon</option>
                                <option value="PA">Pennsylvania</option>
                                <option value="PR">Puerto Rico</option>
                                <option value="RI">Rhode Island</option>
                                <option value="SC">South Carolina</option>
                                <option value="SD">South Dakota</option>
                                <option value="TN">Tennessee</option>
                                <option value="TX">Texas</option>
                                <option value="UT">Utah</option>
                                <option value="VT">Vermont</option>
                                <option value="VA">Virginia</option>
                                <option value="VI">Virgin Islands, U.S.</option>
                                <option value="WA">Washington</option>
                                <option value="WV">West Virginia</option>
                                <option value="WI">Wisconsin</option>
                                <option value="WY">Wyoming</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="text" name="phone" placeholder="Telephone">
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="text" name="zip" placeholder="zip">
                        </div>

                        <div class="form-group">
                            <textarea name="notes" placeholder="Additional notes or questions"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="text" name="username" placeholder="User Name">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" placeholder="Password">
                        </div>
                        
                        <input type="submit" value="sign up now" class="afsignbtnnewami">
                    </form>

                </div>



            </div>


        </div>



    </div>

</mat-card>


<mat-card class="  newmentorsignup_block2">


    <span class="spandiv newmentorsignup_block2_wrapper">

        <span class="spandiv newmentorsignup_block2_text1">

            <p>I am officially launching my most advanced system to date, the <span>DNA Master Course</span> online training system and mentor program and you are invited to the company grand opening to participate as one of our early adopter Mentors!</p>

            <h2>WE ARE OFFERING YOU A <span>special LIMITED TIME OPPORTUNITY</span> TO JOIN OUR PROGRAM AT NO COST! OUR REGULAR MENTOR PACKAGES ARE A $795 DOLLAR VALUE!
            </h2>

         </span>


        <span class="spandiv newmentorsignup_block2_text2">
<p>You will make money by scheduled mentor sessions set with you by the buyers of our online training programs! No other Mentors that join us in the future will have the same opportunities as you will be joining us early. <span>We are bringing the mentees for the first several weeks through our marketing programs!</span></p>
        </span>


        <span class="spandiv newmentorsignup_block2_text3">

            <span class="spandiv newmentorsignup_block2_text3_wrapper">

                <p>I am sending this special invitation to a chosen group of individuals around the globe who I think would love to help others……<span>and make a lot of money doing it</span>. Over 150 million people have heard or seen me…that’s why I have been given the title <strong><i>“Mentor to Millions”</i></strong>.
            </p>


            <p>It even got me on The <strong>TODAY SHOW</strong> and interviewed on over 2,000 TV and radio stations! As an international celebrity speaker and trainer, I have the pedigree and background that will give you very high conversion rates. People buy my products. Become one of my Mentor and make a lot of money with my world famous, <span>“DNA of Success”</span> that has been taught to people in over 50 countries.

            </p>

            </span>
        </span>


    </span>


</mat-card>



<mat-card class=" newmentorsignup_block3">
    <span class="spandiv newmentorsignup_block3_wrapper">

        <h2>As a Mentor you have several ways you are able to make money and engage with our programs.</h2>

        <h3>Including:</h3>

        <ul>

           <li> Mentees that will choose you as a Mentor and purchase a session from you from our marketing efforts (only the group that have been given this link will get this privilege)</li>

            <li> Selling our packages, yourself through any marketing efforts you make</li>

            <li> Offering your mentorship through our program to those you sell to exclusively (if you bring them, they are automatically coded to you!)</li>

            <li> Selling packages for our live events that happen in Utah every year.</li>

        </ul>


    </span>
</mat-card>


<mat-card class=" newmentorsignup_block4">
    <span class="spandiv newmentorsignup_block4_wrapper">

        <h2>WHY DO WE NEED YOU NOW?</h2>

        <p>We are currently onboarding affiliate marketers that are here to do one thing. Enroll new mentees into our programs and they are going to need Mentors right away!
        </p>
        <p>
            I’ve already paid out over $900,000 in affiliate commissions and we will be onboarding dozens of new enrollees a day. You could be getting maximum benefit from our
            marketing efforts as we need Mentors ready and available!
        </p>
        <p>
            Seven of the Inc 500 companies including Affiliate.com, Hydra Networks, Media Trust, and LinkTrust have retained my super star partner, Beto Paredes to create major
            marketing systems for them. He founded Product2Web, one of the first advertiser CRM’s in the space with over 100 advertisers achieving 75,000+ affiliate offer transactions a month. He has generated tens of millions of dollars in sales through affiliate and internet marketing for himself and his clients. Now he is doing that with me! We are going to make a huge impact and you can benefit from that like no one else in the future!
        </p>



    </span>
</mat-card>


<mat-card class=" newmentorsignup_block5">
    <h2>GET IN EARLY AND BE AN EARLY ADOPTER MENTOR. WE WANT YOU TO BE PART OF THE BIGGEST PROGRAM IN PERSONAL DEVELOPMENT AND HIGH-PERFORMANCE ACHIEVEMENT TO HIT THE INDUSTRY!</h2>
</mat-card>

<mat-card class=" newmentorsignup_block6">

    <span class=" spandiv newmentorsignup_block6_wrapper">

        <span class="spandiv newmentorsignup_block6_left">  <img src="../../assets/images/newmentorsignup_block6jackimg.jpg" alt="#"></span>
        
        <span class="spandiv newmentorsignup_block6_right">

            <span class="spandiv newmentorsignup_block6_right_heading">
 <span>Jack M. Zufelt</span>

                <span>"Mentor to Millions"</span>
                <div class="clearfix"></div>
            </span>


            <span class="spandiv newmentorsignup_block6_right_bodycon">

                <span><p>Author of the #1 best-selling book,
                        The DNA of Success (Now in 16 languages)</p></span>

                <span><p>Interviewed on over 2,000 radio and TV talk
                        shows including The TODAY SHOW and PBS</p></span>

                <div class="clearfix"></div>

            </span>

        </span>
        
        
        

 <div class="clearfix"></div>

    </span>
</mat-card>

<app-footer></app-footer>
 