<app-header></app-header>
 
<mat-card class="container-fluid newaffiliatesignup_conblock s_newAffiliate">
    <div class="newaffiliatesignup_conbody">
        <div class="newaffiliatesignup_conwrapper">
            <div class="newaffiliatesignup_conleft">
            


                <div class="content_section">
                    <div>
                        <h2 class="title">Welcome </h2>
                        <p class="sub_title">to the <span> dna </span> master course</p>
                    </div>
                    <div class="arrow_section">
                        <h5>an online training system<br>
                            and mentor program <br>
                            <sup>by</sup> <span>Jack M. Zufelt</span></h5>
                    </div>

                    <div class="bottom_content">
                        <h3>International celebrity speaker and<br>
                            trainer who has also been titled <br>
                            <span>“Mentor to Millions”</span><br>
                            due to the wide outreach of his mentorship. </h3>
                    </div>
                    <img class="image_quote" src="../../assets/images/newAffilliateQuote.png">
                    <img class="image_top" src="../../assets/images/newAffilliatetopItem.png">
                    <img class="small" src="../../assets/images/newAffilliatetopItem_Small.png">
                </div>
                <br><br><br><br>
                <div class="content_part2">
                    <div class="content_af">
                        <h2> Become an affiliate TODAY, and make a lot of money with Jack's world famous, <span>“DNA of Success”</span>
                            that has been taught to people in over 50 countries. His one-of-a-kind concept is backed by scientific evidence, 
                            and is proven to create incredible results, making it one of the most amazing, personal development master courses that exist on the planet! </h2>


                        <div class="arrow_2">
                            <p>The program has already paid out over $900,000 in affiliate<br>
                                commissions, and now YOU can also make $$$ with Jack's<br>proven system!</p>
                           
                        </div>


                    </div>


                </div>
             
            </div>

            
            <div class="newaffiliatesignup_conright">
                <div class="newaffiliatesignup_formwrapper">
                    <div class="newaffiliatesignup_formbody">
                        <h2>Become an </h2>
                        <h3>affiliate TODAY</h3>
                        <lib-showform  class='form-inline' *ngIf="formdata !=null"
                        [formdata]="formdata"
                        [formfieldrefresh]="formfieldrefresh"
                        [formfieldrefreshdata]="formfieldrefreshdata"
                        > </lib-showform>
                        <!-- <input type="submit" value="sign up now" class="afsignbtn" [routerLink]="['/affiliatesignup']"> -->
                        <!-- <form  class='form-inline'  > 
                            <div class="form-group">
                                <input type="text" name="first_name" placeholder="First Name">
                            </div>
                            <div class="form-group">
                                <input type="text" name="last_name" placeholder="Last Name">
                            </div>
                            <div class="form-group">
                                <input type="text" name="company" placeholder="Business Name">
                            </div>
                            <div class="form-group">
                                <input type="text" name="address_1" placeholder="Physical Address">
                            </div>

                            <div class="form-group">
                                <input type="City" name="city" placeholder="City">
                            </div>
                            <div class="form-group">
                                <input type="State" name="state" placeholder="State">
                            </div>
                            <div class="form-group">
                                
                            </div>
                            <div class="form-group">
                                <input type="text" name="phone" placeholder="Telephone">
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input type="text" name="website_url" placeholder="Website Address">
                            </div>
                            <div class="form-group">
                                <textarea name="about_me"
                                          placeholder="Please describe what kind of traffic you have"></textarea>
                            </div>
                            <div class="form-group">
                                <textarea name="notes" placeholder="Additional notes or questions"></textarea>
                            </div>
                            <div class="form-group">
                                <input type="text" name="username" placeholder="User Name">
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" placeholder="Password">
                            </div>
                         
                            <input type="submit" value="sign up now" class="afsignbtn">
                        </form> -->
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>


            <div class="bottom_con">
                <div class="girl_image">
                    <img class="af_large" src="../../assets/images/newAffilliatetopItem2.png">
                    <img class="af_small" src="../../assets/images/newAffilliatetopItem2Small.png">
                </div>

                <div class="af_downpara">
                    <p class="affiliate_quote">As an affiliate, you have the scope to make a lot of money by drawing
                        mentors and mentees to the program, as well as through the sales of the many products on offer.
                        Tremendous appeal to the program, coupled with high conversion rates, ensure that you have loads
                        of money on offer, simply out there for the taking.
                    </p>


                    <div class="good_news">
                        <img src="../../assets/images/goodnewsicon.png">


                        <p class="goodnews_quote">We have all the media assets you expect to have in a professional
                            affiliate offer! We have mobile marketing banners, Facebook media, email templates, LinkedIn
                            banners and converting direct sales landing pages. And if you need custom media, we have a
                            full time in-house design team at your disposal. Making money doesn’t get any easier than
                            that.
                        </p>
                    </div>
                </div>
            </div>


       

        </div>
    </div>


</mat-card>

<mat-card class="video_training_wrapper">
    <div class="text_header">
        <p>If you would like to learn more NOW, check out our opportunity here on this short video:</p>
    </div>

    <div class="source_container">
        <div class="video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ET8oymGd1VI?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</mat-card>
<div class="clearfix"></div>


 


<app-footer></app-footer>


