<app-header></app-header>

<mat-card class="container-fluid product_banner_section  newblog_banner_section">
    <img src="../../assets/images/new_blog_banner2.jpg" alt="#" class="productbanner2">
    <span class="spandiv row">
        <span class= "spandiv product_banner_col">
            <span class="spandiv container home_banner_inner">
                <span class="spandiv row">
                    <span class="spandiv product_banner_inner_col">
                        <span class="spandiv product_banner_inner_top">
                            <span class="spandiv product_banner_inner_top_content">
                                <span class="spandiv ptext1">  
                                    <span>Realize Your Core Desires</span> <span>*</span> Live an Incredible Life <span>*</span> Earn the Income You Want <span>*</span> Build Lasting Meaningful Relationships
                                    
                                </span>
                            </span>
                            <img src="../../assets/images/home_banner_top_ankle.png" alt="#">
                        </span>
                        <span class="spandiv producttextblock">
                            <h2>DNA Performance Blog</h2>

                            <span class="spandiv divtext2">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.                             
                            </span>
                        </span>
                    </span>
                </span>
            </span>
        </span>
    </span>
</mat-card>

<mat-card class="blog_mainbody">
    <span class="spandiv container-fluid blog_body">
        <span class="spandiv blog_left_con">
         
            <span class="spandiv blog_heading">LIST BY  <span>ROBERT</span></span>
    
                    <span class="spandiv blog_detail_div blog_detail_divdetailpage">

                        <span class="spandiv blog_text">
                            <h4>THROW YOUR “GOALS” AND “TO-DO” LISTS OUT THE WINDOW. TRY SOMETHING NEW
                            </h4>
                          
                        </span>
                        <div class="clearfix"></div>

                        <img src="../../assets/images/blog_img1.jpg" alt="#" class="blogdetailbanner">

                    <span class="spandiv blogdesc">
                    <p>
                       <strong>Lorem ipsum dolor sit amet</strong><br/>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <br/><hr><br/>
                    <p>
                        <strong>Lorem ipsum dolor sit amet</strong><br/>
                         Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                     </p>
                     <br/><hr><br/>

                     <p>
                        <strong>Lorem ipsum dolor sit amet</strong><br/>
                         Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                     </p>

                   </span>

                        
                        <div class="clearfix"></div>
                        <span class="spandiv blog_detail_bottom">

                            <span class="blog_post_by">By  robert </span>
                            <span class="blog_post_date">Mar 15, 2019</span>

                            <span class="spandiv blog_share">

                                <a  class="copyclipclass" href="javascript:void(0);" ><img src="../../assets/images/link__1.png" alt="#" ></a>
                                <a href="javascript:void(0);" ><img src="../../assets/images/blog_sicon2.png" alt="#"></a>
                                <a href="javascript:void(0);" target="_blank"><img src="../../assets/images/blog_sicon3.png" alt="#"></a>
                                <a href="javascript:void(0);" target="_blank"><img src="../../assets/images/blog_sicon4.png" alt="#"></a>
                                <a href="javascript:void(0);" target="_blank"><img src="../../assets/images/blog_sicon5.png" alt="#"></a>

                                <div class="clearfix"></div>

                            </span>

                            <div class="clearfix"></div>
                        </span>
                    </span>

                
                   
                    
               
            <div class="clearfix"></div>
       

       
       
        </span>
        <span class="spandiv blog_right_con">
            <span class="spandiv blog_right_con1">
                <h2>OTHER BLOG POSTS</h2>
                <ul>
                    
                            <li>
                                <a href="javascript:void(0);">DNAMasterCourse – Changing the Dynamics for the World of Personality Development</a>
                           </li>
                      
                </ul>
            </span>
            <span class="spandiv blog_right_con2">
                <h2>CATEGORIES</h2>
                <ul>
                    
                            <li>
                                <a href="javascript:void(0);">Science of Success</a>

                            </li>
                            <li>
                                <a href="javascript:void(0);">Success Attitude Formula</a>

                            </li>
                            <li>
                                <a href="javascript:void(0);">Words of Jack Zufelt</a>

                            </li>
                           
                    




                </ul>
            </span>
        </span>
        <div class="clearfix"></div>
    </span>
</mat-card>




<app-footer></app-footer>


