<app-header></app-header>

<mat-card class="container-fluid product_banner_section  newblog_banner_section">
    <img src="../../assets/images/new_blog_banner2.jpg" alt="#" class="productbanner2">
    <span class="spandiv row">
        <span class= "spandiv product_banner_col">
            <span class="spandiv container home_banner_inner">
                <span class="spandiv row">
                    <span class="spandiv product_banner_inner_col">
                        <span class="spandiv product_banner_inner_top">
                            <span class="spandiv product_banner_inner_top_content">
                                <span class="spandiv ptext1">  
                                    <span>Realize Your Core Desires</span> <span>*</span> Live an Incredible Life <span>*</span> Earn the Income You Want <span>*</span> Build Lasting Meaningful Relationships
                                    
                                </span>
                            </span>
                            <img src="../../assets/images/home_banner_top_ankle.png" alt="#">
                        </span>
                        <span class="spandiv producttextblock">
                            <h2>DNA Performance Blog</h2>

                            <span class="spandiv divtext2">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.                             
                            </span>
                        </span>
                    </span>
                </span>
            </span>
        </span>
    </span>
</mat-card>

<mat-card class="blog_mainbody">
    <span class="spandiv container-fluid blog_body">
        <span class="spandiv blog_left_con">
         
            <span class="spandiv blog_heading">  <span></span></span>
    
                    <span class="spandiv blog_detail_div blog_detail_divdetailpage">

                        <span class="spandiv blog_text">
                            <h4 *ngIf="blogDetailstData !=null">{{blogDetailstData.blogtitle}}
                            </h4>
                          
                        </span>
                        <div class="clearfix"></div>

                        <img *ngIf="blogDetailstData !=null && blogDetailstData.image !=null" [src]="blogDetailstData.image" alt="#" class="blogdetailbanner">

                    <span class="spandiv blogdesc">
                    <p *ngIf="blogDetailstData !=null" [innerHTML]="blogDetailstData.description">
                       <!-- <strong></strong><br/> -->
                        
                    </p>
              

                   </span>

                        
                        <div class="clearfix"></div>
                        <span class="spandiv blog_detail_bottom">

                            <span class="blog_post_by" *ngIf="blogDetailstData !=null">By  {{blogDetailstData.author}} </span>
                            <span class="blog_post_date" *ngIf="blogDetailstData !=null">{{blogDetailstData.createdon_datetime | date}}</span>

                            <span class="spandiv blog_share">

                                <!-- <a  class="copyclipclass" href="javascript:void(0);" ><img src="../../assets/images/link__1.png" alt="#" ></a> -->

                                <a href="javascript:void(0);"  target="_blank" (click)="fbShare()"><img src="../../assets/images/blog_sicon2.png" alt="#"></a>

                                <a href="javascript:void(0);" target="_blank" (click)="twitterShare()"><img src="../../assets/images/blog_sicon3.png" alt="#"></a>

                                <a href="javascript:void(0);" target="_blank" (click)="linkedinShare()"><img src="../../assets/images/blog_sicon4.png" alt="#"></a>

                                <a href="javascript:void(0);" target="_blank" (click)="tumblrShare()"><img src="../../assets/images/blog_sicon5.png" alt="#"></a>

                                <div class="clearfix"></div>

                            </span>

                            <div class="clearfix"></div>
                        </span>
                    </span>

                
                   
                    
               
            <div class="clearfix"></div>
       

       
       
        </span>
        <span class="spandiv blog_right_con">
            <span class="spandiv blog_right_con1">
                <h2>OTHER BLOG POSTS</h2>
                <ul>
                    
                            <li>
                                <a href="javascript:void(0);">DNAMasterCourse – Changing the Dynamics for the World of Personality Development</a>
                           </li>
                      
                </ul>
            </span>
            <span class="spandiv blog_right_con2">
                <h2>CATEGORIES</h2>
                <ul>
                    
                    <li *ngFor="let category of blogCatList">
                        <a href="javascript:void(0);" (click)="viewAllByBlogCat(category)">{{category.blogtitle}}</a>

                    </li>
                           
                    




                </ul>
            </span>
        </span>
        <div class="clearfix"></div>
    </span>
</mat-card>




<app-footer></app-footer>


