<app-header></app-header>
<mat-card class="container-fluid product_banner_section product_banner_position as_product_banner">
    <span class="spandiv product_banner_wrapper">
        <img src="../../assets/images/banner_ca.png" alt="#" class="productbanner2">
    </span>
    <span class="spandiv product_bannerrow">
        <span class="spandiv product_banner_col">
            <span class="spandiv container home_banner_inner">
                <span class="spandiv row">
                    <span class="spandiv product_banner_inner_col">
                        <span class="spandiv product_banner_inner_top">
                            <span class="spandiv product_banner_inner_top_content">
                                <span class="spandiv ptext1">
                                    <span>Realize Your Core Desires</span> <span>*</span> Live an Incredible Life
                                    <span>*</span> Earn the Income You Want <span>*</span> Build Lasting Meaningful
                                    Relationships

                                </span>
                            </span>
                            <img src="../../assets/images/home_banner_top_ankle.png" alt="#">
                        </span>
                        <span class="spandiv producttextblock newprodutlistbannertxt">

                            <h2>CHOOSE ONE OF OUR INCREDIBLE, LIFE-CHANGING PACKAGES!</h2>

                            <span class="spandiv divtext2">

                                There is so much value packed into every one of my courses - you can’t go wrong no
                                matter which one you choose! You will receive IMMEDIATE access to online course
                                materials and products within 24-hours!

                            </span>
                        </span>
                    </span>
                </span>
            </span>
        </span>
    </span>
</mat-card>



<mat-card class="container as_container">
    <div class="row" id="mentor">
        <div class="left_pro_blog as_bodycon">


            <!-- <div class="newproduct_list1">


                    <div class="newproduct_list1_top">

                        <div class="newproduct_list1_top_wrapper" >

                            <h2>
                                  Good Package for <span>$149</span> 

                            </h2>

                            <h3> 
                              "The Essential Success Method" includes 

                            </h3>


                        </div>
                    </div>


                    <div class="newproduct_list1_bottom">

                        <div class="newproduct_list1_bottom_wrapper">

                            <h2>
                              <p> The DNA of Success Bestselling book which highlights the true cause of achievement. 
                                  "<span>Know what you want to get what you want!</span>" (The book that started it all!) And as a BONUS we will also send you the DNA of Success Stories which includes rare insights from Bryan Tracy, Jack Canfield and several other authors.</p>
                               
                             <p>Lifetime access to the online Advanced Master Courses week by week course material that will take your personal development to a completely new level. (Updated Quarterly)</p>
                           <p>Access to the incredible audio training from Jack Zufelt broken out into the online course training system! Read this incredible training and then listen to Jack while you learn! </p>

                       
                           <p>Master Course Guideline that takes a comprehensive look at the DNA of Success principles with all-new, advanced materials! If you have ever been exposed to Jack before you are really going to love this!</p>

                           <p>A front row seat to 1 of Jack\'s Incredible Quarterly 1/2 day Webinars <b>"Master Courses in Action"</b> presentations. You can choose from one of the next 4 you are able to attend right after purchase. (This is a $249 dollar value)

                        </p>
                            </h2>


                            <div class="newproduct_con1_btn1 ">
                                <a *ngIf="selectedProduct.good == 1" class="choosenbtn" style="background: rgb(249, 94, 25);" (click)="chooseProduct(selectedProduct.good = 0,'good');">Choosen</a>

                                <a *ngIf="selectedProduct.good == 0" (click)="chooseProduct(selectedProduct.good = 1,'good');" style="background-image: linear-gradient(to right, #4b4c66,#494a64);">CHOOSE THIS PACKAGE</a>
                            </div>

                        </div>
                    </div>


                </div> -->


            <!-- <div class="newproduct_list2" id="newproduct_list2">

                    <div class="newproduct_list2_top">
                        <div class="newproduct_list2_top_wrapper">

                            <h2>
                                Better Package - <span>$249</span>
                            </h2>
                            <h3>
                                “The Essential Success Methods With Weekly Plus”


                            </h3>

                

                        </div>
                    </div>

                    <div class="newproduct_list2_bottom">

                        <div class="newproduct_list2_bottom_wrapper">

                            <h2> 
                                <p><span>The DNA of Success</span>….This is the #1 Best-selling book that started it all! It highlights the true cause of achievement. And as a BONUS we will also send you the DNA of Success Stories which includes rare insights from Brian Tracy, Jack Canfield and several other authors.</p>

                                    <p>Lifetime access to the online Advanced Master Courses week by week course material that will take your personal development to a completely new level. (Updated Quarterly)</p>
                                
                                       
                                                  

                            </h2>

                          





                            <h2>
                                <p>Access to the incredible audio training from Jack Zufelt broken out into the online course training system! Read this incredible training and then listen to Jack while you learn!</p>
                                
                                <p>Master Course Guideline And Bonus PDF Material that takes a comprehensive look at the DNA of Success principles with all-new, advanced materials! If you have ever been exposed to Jack before you are really going to love this!</p>
                    
                                    <p>A front row seat to 2 of Jack's Incredible Quarterly 1/2 day Webinars "Master Courses in Action" presentations. You can choose from one of the next 4 you are able to attend right after purchase. (A $996 value)</p>
                    
                                <p> Weekly Plus Review: A special weekly newsletter to keep you motivated and informed that is written fresh by Jack Zufelt himself! (You will receive this for an entire year before any required renewal.)</p>
                                
                                <p> Monthly Review: One time a month Jack holds his live webinar <b>"The Success Method Monthly Review"</b>: spend an in-depth 60 minute session each month with Creator Jack Zufelt as he talks about his Success theory and guides you to achieve your own. (You will receive this for an entire year before any required renewal.)</p>
        
                               
                            </h2>

                            <div class="newproduct_con2_btn1">
                                <a *ngIf="selectedProduct.better == 1" class="choosenbtn" style="background: rgb(249, 94, 25);" (click)="chooseProduct(selectedProduct.better = 0, 'better')">Choosen</a>

                                <a *ngIf="selectedProduct.better == 0" (click)="chooseProduct(selectedProduct.better = 1, 'better')">CHOOSE THIS PACKAGE</a>
                            </div>



                        </div>

                    </div>


                </div> -->



            <!-- 
                <div class="newproduct_list3" id="newproduct_list3">

                    <div class="newproduct_list3_top">
                        <div class="newproduct_list3_top_wrapper">

                            <h2>
                                Best Package - <span>$349</span>
                            </h2>

                           

                            <h3>"The Advanced Success Method with Weekly PLUS" <span>$ 347</span> INCLUDES:

                            </h3>



                        </div>
                    </div>


                    <div class="newproduct_list3_bottom">

                        <div class="newproduct_list3_bottom_wrapper">


                            <h2> 
                                <p><span>The DNA of Success</span>….The #1 Best-selling book that started it all! It highlights the true cause of achievement. And as a BONUS we will also send you the DNA of Success Stories which includes rare insights from Brian Tracy, Jack Canfield and several other authors.</p>

                                    <p> Lifetime access to the online Advanced Master Courses week by week course material that will take your personal development to a completely new level. (Updated Quarterly)</p>
                                
                                <p> Access to the incredible audio training from Jack Zufelt broken out into the online course training system! Read this incredible training and then listen to Jack while you learn!</p>
                                
                                    <p>  Master Course Guideline that takes a comprehensive look at the DNA of Success principles with all-new, advanced materials! If you have ever been exposed to Jack before you are really going to love this!</p>
                                
                                        <p> A front row seat to ALL 4 of Jack's Incredible Quarterly 1/2 day Webinar "Master Courses in Action" presentations! THIS GIVES YOU 4 INCREDIBLE TRAINING AT AN UNBELIEVABLE SAVINGS! (A $996 dollar value)</p>
                              

                            </h2>

                            <h3>THE INCREDIBLE WEEKLY PLUS ADVANCED
                            </h3>

                            <h4>
                                 
                                 <p>Weekly Plus Review: A special weekly newsletter to keep you motivated and informed that is written fresh by Jack Zufelt himself! (You will receive this for an entire year before any required renewal.)</p>

                                 <p> Monthly Review: One time a month Jack holds his live webinar "<span>The Success Method Monthly Review</span>": spend an in-depth 60 minute session each month with Creator Jack Zufelt as he talks about his Success theory and guides you to achieve your own. (You will receive this for an entire year before any required renewal.)</p>
                                

                            </h4>


                            <div class="newproduct_con3_btn1">
                                <a *ngIf="selectedProduct.best == 1" class="choosenbtn" style="background: rgb(249, 94, 25);" (click)="chooseProduct(selectedProduct.best = 0, 'best')">Choosen</a>

                                <a *ngIf="selectedProduct.best == 0" (click)="chooseProduct(selectedProduct.best = 1, 'best')">CHOOSE THIS PACKAGE</a>
                            </div>



                        </div>

                    </div>



                </div> -->




            <!-- <div class="newproduct_list4">

                    <div class="newproduct_list4_top">
                        <div class="newproduct_list4_top_wrapper">

                            <h2>
                                Mentor Package for
                                

                            </h2>

                            <h3>
                                <span>$749 includes:</span>


                            </h3>




                        </div>
                    </div>


                    <div class="newproduct_list4_bottom">

                        <div class="newproduct_list4_bottom_wrapper">


                            <h2>
                            <p>5 Copies of The DNA of Success Bestselling book which highlights the true cause of achievement. "<span>Know what you want to get what you want!</span>" (The book that started it all!) And as a BONUS we will also send you 5 Copies of the DNA of Success Stories which includes rare insights from Bryan Tracy, Jack Canfield and several other authors.</p>

  <p>Lifetime access to the online Advanced Master Courses week by week course material and the specialized Mentor and Leadership training and certification. This is all all INCREDIBLY EFFECTIVE course material that will take your personal development to a completely new level.</p>

  <p>Access to the incredible audio training from Jack Zufelt broken out into the online course training system! Read this incredible training and then listen to Jack while you learn!

  <p>Master Course Guideline that takes a comprehensive look at the DNA of Success principles with all-new, advanced materials! If you have ever been exposed to Jack before you are really going to love this!</p>

  <p>A front row seat to ALL 4 of Jack's Incredible Quarterly 1/2 day Webinar "Master Courses in Action" presentations! THIS GIVES YOU 4 INCREIDLBE TRAINING AT AN UNBELEIVEABLE SAVINGS! (A $996 dollar value)</p>
                               
                                

                            </h2>



                            <div class="newproduct_list4_con_banner">
                                <h3>The incredible 
                               Weekly PLUS Mentor
                                </h3>

                            </div>



                            <h2>
                          <p> Weekly Intensive: Jack holds a very special live weekly webinar intensive that is made just for those that are in the Mentor Program. This training covers, teaching, mentoring, leadership and how to present the DNA of Success to others. (You will receive this for an entire year before any required renewal.)</p>

<p>Weekly Review: A special weekly newsletter to keep you motivated and informed that is written fresh by Jack Zufelt himself! (You will receive this for an entire year before any required renewal.)</p>

<p>Monthly Review: One time a month Jack holds his live webinar "<span>The Success Method Monthly Review</span>": spend an in-depth 60-minute session each month with Creator Jack Zufelt as he talks about his Success theory and guides you to achieve your own. (You will receive this for an entire year before any required renewal.)</p>
                          

                            </h2>






                            <div class="newproduct_con4_btn1">
                                <a *ngIf="selectedProduct.mentor == 1" class="choosenbtn" style="background: rgb(249, 94, 25);" (click)="chooseProduct(selectedProduct.mentor = 0, 'mentor')">Choosen</a>

                                <a class="pro_packagebtn221_btn" *ngIf="selectedProduct.mentor == 0" (click)="chooseProduct(selectedProduct.mentor = 1, 'mentor')">CHOOSE THIS PACKAGE</a>
                            </div>



                        </div>

                    </div>

                    <div class="bgupwrapper">
                        <img src="../../assets/images/product_left_upimg3.png" alt="#">
                        <img src="../../assets/images/product_left_upimg03.png" alt="#">
                    </div>

                </div> -->
            <ng-container *ngFor="let item of allPackage;let i = index;">

                <div class="cooming">
                    <div class="{{i}}">

                        <div class="cooming" [innerHTML]="item.description">
                        </div>
                        <div class="cooming">
                            <div class="cooming">
                                <div class="newproduct_con4_btn1">
                                    <a class="choosenbtn" *ngIf="item.flag == item._id && index == i"
                                        style="background: rgb(249, 94, 25);" (click)="choose(i,item)">Choosen</a>

                                    <a class="pro_packagebtn221_btn" *ngIf="item.flag !=item._id || index != i"
                                        (click)="choose(i,item)">CHOOSE THIS PACKAGE</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </ng-container>


            <div class="newproduct_list5">

                <div class="newproduct_list5_top">
                    <div class="newproduct_list5_top_wrapper">

                        <h2>NOTICE:

                        </h2>

                        <h3>THE INCREDIBLE DNA OF SUCCESS MENTOR<br />
                            PROGRAM HAS SO MUCH MORE

                        </h3>




                    </div>
                </div>

                <div class="newproduct_list5_bottom">

                    <div class="newproduct_list5_bottom_wrapper">


                        <h2>
                            <p> You will receive everything that you see above, but there is so much more to this
                                program. Please take the time to review the special page that we have dedicated to
                                understand what this program can do for your life.</p>

                            <p>This is a career path for the right person. One that will change your life financially
                                while you are helping others changes their entire lives completely.
                                You are able to charge for your services, earn money selling our products and much more.
                            </p>
                        </h2>







                        <h3>
                            Learn more about our Mentor Program Now!

                        </h3>






                        <div class="newproduct_con5_btn1"><a href="javascript:void(0);" routerLink="/mentor">CLICK
                                HERE</a>
                        </div>


                    </div>

                </div>
                <div class="bgupwrapper">
                    <img src="../../assets/images/product_left_upimg4.png" alt="#">
                    <img src="../../assets/images/product_left_upimg04.png" alt="#">
                </div>
            </div>
        </div>





        <div class="product_div">
            <div class="product_form as_product_form">



                <!-- <form> -->

                <div class="product_form_main">
                    <div class="cart_formbox1 cart_formbox1new">
                        <ng-container
                            *ngIf="productDetails != null && productDetails != 'undefined' && productDetails.name != null">
                            <h3 class="productCartDetails">Order Summary</h3>

                            <table class="product_new_tableblock productCartDetails">
                                <tr>
                                    <td colspan="2" id="productName">{{productDetails.name}}</td>
                                </tr>

                                <tr>
                                    <td>Product Price</td>
                                    <td id="productPrice">${{productDetails.price}}</td>
                                </tr>

                                <tr>
                                    <td>Shipping Charge</td>
                                    <td>${{productDetails.delivery}}</td>
                                </tr>
                                <tr>
                                    <td>SaleTax</td>
                                    <td>${{saletax}}</td>
                                </tr>

                                <tr>
                                    <th>Total</th>
                                    <th id="productPriceTotal">${{total}}</th>
                                </tr>

                                <!-- <tr><td><input type="text" class="form-control"  placeholder="Promo Code"></td>

                                        <td> <button>Apply</button> </td>
                                    </tr> -->


                            </table>
                        </ng-container>
                        <h3>BILLING Address</h3>
                        <lib-showform class='form-inline productform' *ngIf="formdata !=null" [formdata]="formdata"
                            [formfieldrefresh]="formfieldrefresh" [formfieldrefreshdata]="formfieldrefreshdata"
                            (onFormFieldChange)="listenFormFieldChange($event)"> </lib-showform>
                        <!-- <div class="form-group">
                                    <label>First Name</label>
                                    <input type="text" class="form-control" name="bill_first_name" placeholder="First Name">
                                    <div class="clearfix"></div>
                                </div>
                                <div class="form-group">
                                    <label>Last Name</label>
                                    <input type="text" class="form-control" name="bill_last_name" placeholder="Last Name">
                                    <div class="clearfix"></div>
                                </div>
                                <div class="form-group">
                                    <label>Address</label>
                                    <textarea class="form-control_textarea" name="bill_address_line_1" placeholder="Address"></textarea>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="form-group">
                                    <label>City</label>
                                    <input type="text" class="form-control" name="bill_city" placeholder="City">
                                    <div class="clearfix"></div>
                                </div>
                                <div class="form-group">
                                    <label>State</label>
                              <select class="form-control">
                                      <option>State</option>
                                      <option>State</option>
                                      <option>State</option>
                                  </select>
                                    <div class="clearfix"></div>
                                </div>
                               
                                <div class="form-group">
                                    <label>Zip</label>
                                    <input type="text" class="form-control" name="bill_postal_code" placeholder="Zip">
                                    <div class="clearfix"></div>
                                </div>
                                <div class="form-group">
                                    <label>Phone</label>
                                    <input type="text" class="form-control" name="phone" placeholder="Phone">
                                    <div class="clearfix"></div>
                                </div>
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="text" class="form-control" name="email" placeholder="Email">
                                    <div class="clearfix"></div>
                                </div>

                                    <div class="form-group">
                                        <label>User Name</label>
                                        <input type="text" autocomplete="new-user" class="form-control" name="username" placeholder="User Name">
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="form-group passwordinputclass">
                                        <label>Password</label>
                                        <input autocomplete="new-password" type="password" class="form-control" name="password" placeholder="Password">
                                        <div class="clearfix"></div>
                                    </div>


                                <div class="form-group chakeboxdiv">
                                    <input type="checkbox" name="shipping_is_billing" id="chk_bill_ship" value="1">
                                    Use my billing address as my ship-to address
                                    <div class="clearfix"></div>
                                </div> -->

                        <!-- <h3>Shipping Address</h3> -->


                        <!-- <div class="form-group">
                                    <label>First Name</label>
                                    <input type="text" class="form-control" name="ship_first_name" placeholder="First Name">
                                    <div class="clearfix"></div>
                                </div>
                                <div class="form-group">
                                    <label>Last Name</label>
                                    <input type="text" class="form-control" name="ship_last_name" placeholder="Last Name">
                                    <div class="clearfix"></div>
                                </div>
                                <div class="form-group">
                                    <label>Address</label>
                                    <textarea class="form-control_textarea" name="ship_address_line_1" placeholder="Address"></textarea>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="form-group">
                                    <label>City</label>
                                    <input type="text" class="form-control" name="ship_city" placeholder="City">
                                    <div class="clearfix"></div>
                                </div>
                                <div class="form-group">
                                    <label>State</label>
            <select class="form-control">
                                        <option>State</option>
                                        <option>State</option>
                                        <option>State</option>
                                    </select>
                                    <div class="clearfix"></div>
                                </div>
                             
                                <div class="form-group">
                                    <label>Zip</label>
                                    <input type="text" class="form-control" name="ship_postal_code" placeholder="Zip">
                                    <div class="clearfix"></div>
                                </div> -->
                        <!-- <div class="credicardcls"> -->
                        <!-- <h4>Pay with Credit or Debit Card</h4>


                                    <div class="form-group pay_car">
                                        <label style="font-size: 12px; display: block;">We Accept</label>
                                        <img src="../../assets/images/cardinfo.png" alt="#" class="cardinfo2">
                                        <div class="clearfix"></div>
                                    </div> -->



                        <!-- <div class="pay_car_group">

                                        <div class="form-group">
                                            <label>Card Type</label>
                                            <select class="form-control" id="sel2" name="card_type">

                                                <option value="Others">Others</option>
                                                <option value="Visa">Visa</option>
                                                <option value="Mastercard">Mastercard</option>
                                                <option value="AmericanExpress">American Express</option>
                                                <option value="Discover">Discover</option>
                                            </select>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="form-group">
                                            <label>CC #</label>
                                            <input type="text" class="form-control" name="card_number" placeholder="CC #">
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="form-group">
                                            <label>Exp Date</label>
                                            <div class="Exp_Date">
                                                <input type="text" class="form-control"  placeholder="MM">
                                                <input type="text" class="form-control"  placeholder="yyyy">
                                            </div>
                                            
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="form-group">
                                            <label>CVV</label>
                                            <input type="text" class="form-control cvvno" name="card_cvv" placeholder="CVV">
                                            <div class="clearfix"></div>
                                        </div>

 

                                    </div> -->

                        <!-- </div> -->
                        <!-- <input type="submit" class="subbtn_pro" value="Rush my order"> -->
                    </div>
                </div>
                <!-- </form> -->
            </div>

        </div>
        <div class="clearfix"></div>



    </div>

</mat-card>



<app-footer></app-footer>