<div class="top_body_con">
<div class="top_body">

    <div class="top_body_wrapper">

        <div class="top_body_left">

           <div class="top_body_left_logo"> <a href="javascript:void(0);"  [routerLink]="['/home']">  <img src="../../assets/images/logo.png" alt="#">  </a></div>

                 <div class="top_body_left_text_wraaper">

              <div class="top_body_left_text1">
                <div class="top_body_left_text1_wrapper">
                 <label>

                    <span>"</span>Identify your personal barriers to a successful life and destroy them. Never give them power over you again.<span>"</span>
                 </label>

                </div>
              </div>

              <div class="top_body_left_text2">
                  <label>Get Your <span>FREE</span> Copy Of The Second Edition of the <span>“DNA Of Success” TODAY!!!</span> Just Pay Shipping. </label>

                </div>
            </div>

            <img src="../../assets/images/successbook_bg1.png" alt="#" class="successbook_bg1"> 
           <img src="../../assets/images/successbook_top_bookimg.png" alt="#" class="successbook_top_bookimg"> 

          


           <img src="../../assets/images/successbook_top_guarantee_img.png" alt="#" class="successbook_top_guarantee_img"> 

          <img src="../../assets/images/successbook_top_img1.png" alt="#" class="successbook_top_img1"> 



          <div class="clearfix"></div>
   

          <div class="top_arrowtext">
            <div class="top_arrowtext_div">

            <h2>Order Now and Just Pay Shipping  </h2>
                
            </div>

           
          </div>


        </div>

        <div class="top_body_right">
            <div class="top_body_right_wrapper">

                <div class="formheading">
                    <h2>RUSH MY ORDER</h2>
                </div>

                <h3>YOU’RE JUST A FEW STEPS AWAY FROM MAKING THE BEST DECISION OF YOUR LIFE TO GET THE SUCCESS YOU WANT!</h3>

                <h4>It only takes a few minutes... </h4>

                <form>
                    <div class="form_step">

                        <div class="ster1"> <span class="activestep"> <span class="linespan"> </span>  </span> </div>
                        <div class="ster2"> <span > <span class="linespan"></span> </span> </div>
                        <div class="ster3"> <span> <span class="linespan"></span> </span> </div>
                        <div class="ster4"> <span> <span class="linespan"></span> </span> </div>

                    </div>

                    <label class="activelabel">USER INFORMATION</label>
                    <label>BILLING INFORMATION</label>
                    <label>Shipping Address</label>
                    <label>card INFORMATION</label>

                     <div class="SB_topformwrapper">
                   <!-- user info here -->
                   <ng-container *ngIf="form1">
                    <lib-showform *ngIf="formdata !=null"
                    [formdata]="formdata"
                    [formfieldrefresh]="formfieldrefresh"
                    [formfieldrefreshdata]="formfieldrefreshdata"
                    (onFormFieldChange)="listenFormFieldChange($event)">
                     </lib-showform>
                   </ng-container>
                <!-- billing address -->
                   <ng-container *ngIf="form2">
                    <lib-showform *ngIf="formdata1 !=null"
                    [formdata]="formdata1"
                    [formfieldrefresh]="formfieldrefresh"
                    [formfieldrefreshdata]="formfieldrefreshdata"
                    (onFormFieldChange)="listenFormFieldChange1($event)"
                    >
                     </lib-showform>
                   </ng-container>
                   <!-- shipping address -->
                 
                   <ng-container *ngIf="form3">
                    <lib-showform *ngIf="formdata2 !=null"
                    [formdata]="formdata2"
                    [formfieldrefresh]="formfieldrefresh"
                    [formfieldrefreshdata]="formfieldrefreshdata"
                    (onFormFieldChange)="listenFormFieldChange2($event)"
                    >
                     </lib-showform>
                   </ng-container>
                    <!-- CARD INFORMATION-->
                    <ng-container *ngIf="form4">
                      <lib-showform *ngIf="formdata3 !=null"
                      [formdata]="formdata3"
                      [formfieldrefresh]="formfieldrefresh"
                      [formfieldrefreshdata]="formfieldrefreshdata"
                      (onFormFieldChange)="listenFormFieldChange1($event)"
                      >
                       </lib-showform>
                     </ng-container>
                      <button class="nextbtn" (click)="AddONModal();"><span>next</span></button>

                    </div>

                   
                </form>

                

            </div>

        </div>

        <div class="clearfix"></div>
    </div> 


</div>
</div>
 
<div class="SB_body2">
  <div class="SB_body2_con">
    <div class="SB_body2_con_sub">
  <div class="SB_body2_wrapper">

    <h1>Introducing <span>Jack M. Zufelt</span> - Author of the International Best-Seller, <span>“The DNA of Success”</span></h1>
    <div class="SB_body2_con_box"> 
    <div class="SB_body2_context1"> 

     <div class="SB_body2_img">
      <img src="../../assets/images/sb_jack.png" alt="#" > 
    </div>
    <div class="SB_body2_context2">

      <p>Jack's world famous, <span>“DNA of Success”</span> that has been taught to people in over 50 countries. His one-of-a-kind concept 
        is backed by scientific evidence, and is proven to create incredible results</p>

        <p>Jack M. Zufelt, one of the most successful, globally-established businessmen, consultants, and influencers, brings to you his <span>International Best-Seller, 
          “The DNA Of Success”.</span> Considered by many to be the ultimate guide, Jack’s book will help you make radical changes to your life and make better decisions quickly.</p>

    </div>



  </div>

  <div class="SB_body2_con2"> 
    <h2>Interviewed on over <span>2,000 Radio/TV talk shows </span>
      including PBS and The <span>TODAY SHOW!</span></h2>

      <div class="SB_body2_con2_img">

        <img src="../../assets/images/top_snewlogo1.png" alt="#" > 
        <img src="../../assets/images/top_snewlogo2.png" alt="#" > 
        <img src="../../assets/images/top_snewlogo3.png" alt="#" > 
        <img src="../../assets/images/top_snewlogo4.png" alt="#" > 
        <img src="../../assets/images/top_snewlogo5.png" alt="#" > 
        <img src="../../assets/images/top_snewlogo6.png" alt="#" > 
        <img src="../../assets/images/top_snewlogo7.png" alt="#" > 
        <img src="../../assets/images/top_snewlogo8.png" alt="#" > 

        <img src="../../assets/images/top_snewlogo9.png" alt="#" > 
        <img src="../../assets/images/top_snewlogo10.png" alt="#" > 
        <img src="../../assets/images/top_snewlogo11.png" alt="#" > 
        <img src="../../assets/images/top_snewlogo12.png" alt="#" >
      </div>

    </div>


  </div>

</div>
</div>
</div>
</div>


<div class="SB_body3">
  
  <div class="SB_body3_con">

    <div class="SB_body3_con_sub">
       <div class="SB_body3_wrapper">

           <div class="SB_body3_heading">
            <div class="SB_body3_heading_con">
             <label><span>The “DNA Of Success” 2ND Edition by Jack  M. Zufelt  </span></label>
             <label><span>will give you the answer that you seek.</span></label>
            </div>
           </div>

           <div class="SB_body3_contain_block">
       
               <h2>Do you lay down specific plans and set goals, 
                only to find them end up being unfulfilled?</h2>

                <h2>Do you witness daily affirmations fail to get 
                  you the success you desire?</h2>

                  <h2>Do you fail to retain your motivation and 
                    enthusiasm soon after motivational speakers 
                    conclude their sessions?</h2>

                    <h2>Do you find yourself failing to get over the finish 
                      line every time you set out in pursuit of a goal?</h2>


                      <button class="SB_body3_btn" (click)="scroll()"><span>ORDER now</span></button>
           </div>
              

         

   
       </div>

       </div>

    </div>

</div>


<div class="SB_body4">
  
  <div class="SB_body4_con">

    <div class="SB_body4_con_sub">

       <div class="SB_body4_wrapper">

       

        <div class="SB_body4_text">

          <div class="SB_body4_text_heading">
            <span>So, Why Don’t They Seem To Work? </span>
          </div>
            
          <p><span>“The DNA Of Success”</span> debunks the conventional myths of success and achievement, while showing you how you can find the recipe 
            for SUCCESS within yourself.  <span>And in this second edition, all of our methods are backed up by science!</span></p>
            <p>Using practical, Easy-to-follow steps, Jack sets forth a unique and revolutionary program to help anyone identify and fulfill their Core 
              Desires - The things in our lives for which we have intense, unwavering, and deeply-felt desires. Through the use of Case Studies, Anecdotes, Testimonials, Success Tips, etc., Jack reveals the proven methods (as well as the science behind these methods) that have helped him to transform his own life along with the lives of thousands of people from around the world.</p>
                



        </div>
        <img src="../../assets/images/SB_block3_IMG.png" alt="#" class="SB_block3_IMG">


          <div class="clearfix"></div>

          <div class="SB_body4_text_part2">

            <div class="SB_body4_text_part2_text">

              <div class="SB_body4_text_part2_text_h1">
                <h1><span>ACHIEVE YOUR DESIRES AND REALIZE YOUR HIGHEST POTENTIAL WITH SCIENTIFICALLY PROVEN METHODS LAID OUT IN “THE DNA OF SUCCESS”.</span> </h1>
              
              </div>


              <p>Decide exactly what you want and where you want to go. Take action on your plan and never hold back. With the guidance of Jack M. Zufelt,
                 you will master the ultimate formula for a successful life and will enjoy your life like never before. You also get the DNA of Success 
                 Stories which includes rare insights from Brian Tracy, <span>Jack Canfield, and several other authors.</span> </p>

            </div>

            <img src="../../assets/images/SB_block3_book.png" alt="#" class="SB_block3_book">

            <button class="SB_body4_btn" (click)="scroll()"><span>ORDER now</span></button> 

            <div class="clearfix"></div>

            </div>


        </div>


      </div>  



    </div>

  </div>   


  <div class="SB_body5">
    <div class="SB_body5_wrapper">

      <div class="SB_body5_textH1">
        <div class="SB_body5_textH1_wrapper">

        <span>Limited Time Offer</span>
        </div>

      </div>

      <div class="SB_body5_text_wrapper">


        <div class="SB_body5_text_wrapper_con">
              <h2>Get your hands on Jack Zufelt’s <span>“The DNA Of Success” </span>
                (2nd Edition) for <span>FREE</span> and learn about his revolutionary methods to achieve success at very high levels in every area of your life. Only pay Shipping Cost of $6.95, and get the books delivered 
                to your very doorstep.</h2>

                <h3>TAKE YOUR FIRST STEP TOWARDS  SUCCESS.</h3>

                <h4>Follow Jack's ground-breaking ideas and methods, and take your relationships, 
                  careers, and personal lives to a completely new level!</h4>
          

        </div>

        <button class="SB_body5_btn" (click)="scroll()"><span>ORDER now</span></button> 

        <div class="clearfix"></div>



        </div>




    </div>

  </div>


  <div class="SB_body6">
  
    <div class="SB_body6_con">
  
      <div class="SB_body6_con_sub">
  
         <div class="SB_body6_wrapper">

          <h2>Learn more about <span>Jack M. Zufelt's</span> Co-author- <span>Beto Paredes</span></h2>

          <div class="SB_body6_TEXTwrapper">

             <h3>Beto's background is extremely diverse and ranges from <span>Core Software Engineering, Entrepreneur-Training, Presenting, 
               Public Speaking, International Sales, Massive Sales Organizational Management, Business Management, Award-winning Branding and Web Development.</span> Beto Paredes has worked as a professional in the internet space for 17+ years. Many of his projects have seen revenues into the millions and he continues to launch successful 
              platforms to this day. He has launched over 2000 projects since 2004 and has done major platform 
              initiative for several of the 500 Inc. companies. </h3>

              <h4>Besides his tremendous business background, Beto holds a degree in Energy 
                Modalities and Body Work from UCMT. Additionally, he has spent countless hours 
                researching <span>Quantum Biology, Neuro-performance, Epi-genetics, Energy medicine, and how they all relate 
                to the High-performance environment.</span> He has had a breakthrough, applying many of the most recent discoveries 
                in performance science, combined with Jack's incredible success methods. 
                <br/>
              <span> You will gain all of this incredible knowledge in this second edition!</span></h4>
              <img src="../../assets/images/SB_beto.png" alt="#"  class="SB_beto"> 
            </div>


            <button class="SB_body6_btn" (click)="scroll()"><span>Order Now and Just Pay Shipping</span></button>




        </div>

      </div>
      
    </div>
    
  </div>  

  <div class="SB_body_footer">

   <p>
  <span>© 2016 The dna of success. All rights reserved.   TERMS OF SERVICE  PRIVACY POLICY</span>

  <a href="javascript:void(0);"  (click)="termsModal();"> TERMS OF SERVICE </a> 
  <a href="javascript:void(0);"  (click)="privacyModal();"> PRIVACY POLICY</a> 
   </p>

    </div>

  