<div class="top_body">

    <div class="top_body_wrapper">

        <div class="top_body_left">

           <div class="top_body_left_logo"> <a href="javascript:void(0);" (click)="goToHome()">  <img src="../../assets/images/logo.png" alt="#">  </a></div>

                 <div class="top_body_left_text_wraaper">

              <div class="top_body_left_text1">
                <div class="top_body_left_text1_wrapper">
                 <label>

                    <span>"</span>Identify your personal barriers to a successful life and destroy them. Never give them power over you again.<span>"</span>
                 </label>

                </div>
              </div>

              <div class="top_body_left_text2">
                  <label>Get Your <span>FREE</span> Copy Of The Second Edition of the <span>“DNA Of Success” TODAY!!!</span> Just Pay Shipping. </label>

                </div>
            </div>

            <img src="../../assets/images/successbook_bg1.png" alt="#" class="successbook_bg1"> 
           <img src="../../assets/images/successbook_top_bookimg.png" alt="#" class="successbook_top_bookimg"> 

          


           <img src="../../assets/images/successbook_top_guarantee_img.png" alt="#" class="successbook_top_guarantee_img"> 

          <img src="../../assets/images/successbook_top_img1.png" alt="#" class="successbook_top_img1"> 



          <div class="clearfix"></div>
   

          <div class="top_arrowtext">
            <div class="top_arrowtext_div">

            <h2>Order Now and Just Pay Shipping  </h2>
                
            </div>

           
          </div>


        </div>

        <div class="top_body_right">
            <div class="top_body_right_wrapper">

                <div class="formheading">
                    <h2>RUSH MY ORDER</h2>
                </div>

                <h3>YOU’RE JUST A FEW STEPS AWAY FROM MAKING THE BEST DECISION OF YOUR LIFE TO GET THE SUCCESS YOU WANT!</h3>

                <h4>It only takes a few minutes... </h4>

                <form>
                    <div class="form_step">

                        <div class="ster1"> <span class="activestep"> <span class="linespan"> </span>  </span> </div>
                        <div class="ster2"> <span> <span class="linespan"></span> </span> </div>
                        <div class="ster3"> <span> <span class="linespan"></span> </span> </div>
                        <div class="ster4"> <span> <span class="linespan"></span> </span> </div>

                    </div>

                    <label class="activelabel">USER INFORMATION</label>
                    <label>BILLING INFORMATION</label>
                    <label>Shipping Address</label>
                    <label>card INFORMATION</label>

                     <div class="SB_topformwrapper">
                    <mat-form-field appearance="fill">
                        <mat-label>First Name</mat-label>
                        <input matInput>
                      </mat-form-field>

                      <mat-form-field appearance="fill">
                        <mat-label>Last Name</mat-label>
                        <input matInput>
                      </mat-form-field>

                      <mat-form-field appearance="fill">
                        <mat-label>Company</mat-label>
                        <input matInput>
                      </mat-form-field>

                      <mat-form-field appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput>
                      </mat-form-field>

                      <mat-form-field appearance="fill">
                        <mat-label>Username</mat-label>
                        <input matInput>
                      </mat-form-field>
                      <mat-form-field appearance="fill">
                        <mat-label>Password</mat-label>
                        <input matInput>
                      </mat-form-field>

                      <button class="nextbtn"><span>next</span></button>

                    </div>

                   
                </form>

                

            </div>

        </div>

        <div class="clearfix"></div>
    </div> 


</div>


<div style="width: 100%; height: 100px;"></div>