<app-header></app-header>

<mat-card class="container-fluid product_banner_section  newblog_banner_section">
    <img src="../../assets/images/new_blog_banner2.jpg" alt="#" class="productbanner2">
    <span class="spandiv row">
        <span class= "spandiv product_banner_col">
            <span class="spandiv container home_banner_inner">
                <span class="spandiv row">
                    <span class="spandiv product_banner_inner_col">
                        <span class="spandiv product_banner_inner_top">
                            <span class="spandiv product_banner_inner_top_content">
                                <span class="spandiv ptext1">  
                                    <span>Realize Your Core Desires</span> <span>*</span> Live an Incredible Life <span>*</span> Earn the Income You Want <span>*</span> Build Lasting Meaningful Relationships
                                    
                                </span>
                            </span>
                            <img src="../../assets/images/home_banner_top_ankle.png" alt="#">
                        </span>
                        <span class="spandiv producttextblock">
                            <h2>DNA Performance Blog</h2>

                            <span class="spandiv divtext2">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.                             
                            </span>
                        </span>
                    </span>
                </span>
            </span>
        </span>
    </span>
</mat-card>

<mat-card class="blog_mainbody"  >
    <span class="spandiv container-fluid blog_body">

      
            <span class="spandiv blog_left_con" >
                <span class="blog_top_btn" >
                <a href="javascript:void(0);" (click)="blogbyDate()">BY DATE</a>
                <a href="javascript:void(0);" (click)="blogbyAuthor()">BY AUTHOR</a>
                <a href="javascript:void(0);" (click)="blogbycategory()">BY CATEGORY</a>
                <div class="clearfix"></div>

                </span>
                <span  *ngIf="blogListData !=null && blogListData !=''"  class="spandiv blog_heading">LIST BY  <span>{{headertxt}}</span></span>
                <div *ngIf="blogListData !=null && blogListData !=''">
    
                    <span class="spandiv blog_detail_div" *ngFor="let item of blogListData">


                        <span class="spandiv blog_media_div">

                            <span class="spandiv blog_mediasrc_con">
                                <span class="spandiv blog_mediasrc" *ngIf="item !=null && item.blogs_image !=null">
                                    <img [src]="item.blogs_image[0].basepath + item.blogs_image[0].image" alt="#">
                                   
                                </span>
                            </span>

                            <span class="blog_post_by" *ngIf="item !=null && item.author !=null">By  {{item.author}}  </span>
                            <span class="blog_post_date" *ngIf="item !=null && item.createdon_datetime !=null">{{item.createdon_datetime | date}}</span>
                            <div class="clearfix"></div>

                        </span>
                        <span class="spandiv blog_text">
                            <h4 *ngIf="item !=null && item.blogtitle !=null">{{item.blogtitle}}</h4>
                            <h6 *ngIf="item !=null && item.description !=null" [innerHTML]="item.description">
                               
                            </h6>
                        </span>
                        <div class="clearfix"></div>
                        <span class="spandiv blog_detail_bottom">

                            <a href="javascript:void(0);"  class="blog_read" (click)="readMoreDetails(item)">Read More…</a>

                            <span class="spandiv blog_share">

                                <!-- <a  class="copyclipclass" href="javascript:void(0);" ><img src="../../assets/images/link__1.png" alt="#" ></a> -->

                                <a href="javascript:void(0);"  target="_blank" (click)="fbShare(item)"><img src="../../assets/images/blog_sicon2.png" alt="#"></a>

                                <a href="javascript:void(0);" target="_blank" (click)="twitterShare(item)"><img src="../../assets/images/blog_sicon3.png" alt="#"></a>

                                <a href="javascript:void(0);" target="_blank" (click)="linkedinShare(item)"><img src="../../assets/images/blog_sicon4.png" alt="#"></a>

                                <a href="javascript:void(0);" target="_blank" (click)="tumblrShare(item)"><img src="../../assets/images/blog_sicon5.png" alt="#"></a>

                                <div class="clearfix"></div>

                            </span>

                            <div class="clearfix"></div>
                        </span>
                    </span>
                </div>

                    
               
                <div class="clearfix"></div>
            <span class="spandiv blog_pagination" *ngIf="blogListData !=null && blogListData !=''" >

              
                <ul>
                      <li><a href="javascript:void(0)" class="blogpageactive">1</a></li>
                      <li> <a href="javascript:void(0)">2</a></li>
                      <li> <a href="javascript:void(0)">3</a></li>
                      <li> <a href="javascript:void(0)">...</a></li>
                      <li> <a href="javascript:void(0)">Next</a></li>

                  </ul>

            </span>
        </span>
    
        <div class='spandiv blog_pagination'>
            <span *ngIf="blogListData ==null || blogListData ==''">No Record Found</span>

        </div>

        <span class="spandiv blog_right_con">
            <span class="spandiv blog_right_con1">
                <h2>OTHER BLOG POSTS</h2>
                <ul>
                    
                            <li>
                                <a href="javascript:void(0);">DNAMasterCourse – Changing the Dynamics for the World of Personality Development</a>
                           </li>
                      
                </ul>
            </span>
            <span class="spandiv blog_right_con2">
                <h2>CATEGORIES</h2>
                <ul>
                    
                            <li *ngFor="let category of blogCatList">
                                <a href="javascript:void(0);" (click)="viewAllByBlogCat(category)">{{category.blogtitle}}</a>

                            </li>
                            <!-- <li>
                                <a href="javascript:void(0);">Success Attitude Formula</a>

                            </li>
                            <li>
                                <a href="javascript:void(0);">Words of Jack Zufelt</a>

                            </li> -->
                           
                </ul>
            </span>
        </span>
        <div class="clearfix"></div>
    </span>
</mat-card>




<app-footer></app-footer>


