<app-header></app-header>
<mat-card class="container-fluid product_banner_section newmentor_banner_section">
    <img src="../../assets/images/new_newmentor_top_banner.jpg" alt="#" class="productbanner2">
    <span class="row spandiv">
        <span class=" product_banner_col spandiv">
            <span class="container home_banner_inner spandiv">
                <span class="row spandiv">
                    <span class=" product_banner_inner_col spandiv">
                        <span class="product_banner_inner_top spandiv">
                            <span class="product_banner_inner_top_content spandiv">
                                <span class="ptext1 spandiv"> 
                                    <span>Realize Your Core Desires</span> <span>*</span> Live an Incredible Life <span>*</span> Earn the Income You Want <span>*</span> Build Lasting Meaningful Relationships
                                    
                                </span>
                            </span>
                            <img src="../../assets/images/home_banner_top_ankle.png" alt="#">
                        </span>
                        <span class="producttextblock newmentorbannertxt spandiv">
                            <h2> We want you to join our incredible team and change the lives around you 
                            </h2>
                            <span class="divtext2 spandiv"> If you want to help others be successful for a living, you have 
                                come home. Get certified to tech and train people and business in our incredibly 
                                effective methods for success. 
                            </span>
                        </span>
                    </span>
                </span>
            </span>
        </span>
    </span>
</mat-card>


<mat-card class="container newmentor_block2">
    <span class="newmentor_block2_con_body spandiv">
        <span class="newmentor_block2_con spandiv">
            <span class="newmentor_block2_wrapper spandiv">
                <h2> JACK ZUFELT HAS TOUCHED THE LIVES OF MILLIONS OF PEOPLE WORLDWIDE! OVER THE LAST 3
                     DECADES HE HAS PROOF THAT WHAT HE TEACHES HAS A LASTING EFFECT ON LIVES. 
                </h2>
                <span class="newmentor_block2_wrapper_left spandiv">
                    <h3> During the time that Jack has worked in the Personal Development field he has had many opportunities to work with people in more intimate settings and in smaller groups. He calls these “high touch” opportunities and they have been shown to be extremely effective. He wants more people to be helped like he has done so he developed a “Mentor Program” that will allow YOU to carry on his incredible work of change in the lives of others.
<br><br>
His Mentorship program is unlike anything you have ever experienced. You will get to represent yourself as a “DNA of Success Trainer”...a “DNA Mentor” for short.
<br><br>
Through his training you will learn how to live the principles so that it comes natural to you to transfer this knowledge to those you train and help make changes in their lives. As Jack says, “You cannot transfer knowledge and wisdom to others that you don’t have”.   
<br><br>
So the first objective in the Mentor program is to make sure YOU have accurately identified YOUR Core Desires and experienced the unleashing of the real and awesome power of Conquering Force within yourself. Then you will be qualified to help others do it too.
 
                    </h3>
                </span>
                <span class="newmentor_block2_wrapper_right spandiv">
                    <img src="../../assets/images/newmentor_block2_col1_img2.jpg" alt="#">
                </span>
                <div class="clearfix"></div>
                <span class="newabout_block5_btn spandiv"><a href="http://www.dnamastercourse.com/newproductlist">Sign up as a Mentor today and gain access to these incredible benefits!</a></span>
            </span>
        </span>
    </span>
</mat-card>


<mat-card class="container newmentor_block3">
    <span class="newmentor_main_wrapper spandiv">
        <span class="newmentor_block3_row2_wrapper spandiv">
            <h2> In addition to all of the training that you get with the highest product package we offer before
                 the Mentor level you will also receive all of the following: 
            </h2>
            <span class="newmentor_block3_imgleft spandiv">
                <img src="../../assets/images/new_mentor_block3_row2_bg1.png" alt="#">
            </span> 
            <ul>
                <li>The ability to sell and have paid for the full 12 session lesson plan or individual sessions with your potential mentees directly through the online calendar system.</li>
                <li>Master Courses on how to mentor teach and train others with the incredible "DNA of Success" method. This includes an entire how to Mentor guide.</li>
                <li>A program guide on how to work as an incredible DNA Training Mentor with several kinds of potential opportunities. Including mentoring business owners, individuals, entrepreneurs and more.</li>
                <li>The full opportunity to engage others and offer them the opportunity to come to the live webinar and seminars put on by Jack and make 50%!</li>
                <li>The ability to work in develop and be a DNA Mentor in two different markets with confidence. These are business performance and personal performance Mentorship.</li>
                <li>Outlines on how to hold invitational where you introduce the basic principles of working directly with you as a mentor on a local level.</li>
                <li>Access to a very special Mentor only live weekly webinars that are held by Jack himself on how to mentor and train people in this program. (These are priceless!)</li>
                <li>An official letter of certification that shows you are official "DNA of Success" mentor and Trainer in Jacks program once you have tested in the Mentor and Method programs.</li>
                <li>The ability to have your customers come to the DNA of Success Master Courses website and buy the products and services we have there making a full 50% commission!</li>
                <li>The ability to come to our live conventions in Salt Lake City Utah where you will have an opportunity to sit in the "Mentors Corner" up front and participate in the event more directly than the rest of the audience.</li>
            </ul> 
            <div class="clearfix"></div>
            <span class="newabout_block5_btn spandiv"><a href="http://www.dnamastercourse.com/newproductlist">SIGN UP TODAY AND GAIN ACCESS TO THESE INCREDIBLE BENEFITS SO YOU CAN START MAKING MONEY HELPING PEOPLE AS THEIR MENTOR!</a></span>
        </span>
    </span>
</mat-card>


<mat-card class="container newmentor_block4">
    <span class="newmentor_block4_con_body spandiv">
        <span class="newmentor_block4_con spandiv">
            <span class="newmentor_block4_wrapper spandiv">
                <span class="newmentor_block4_wrapper_left spandiv">
                    <h3> Getting certified is a matter of taking the training course for the DNA of Success Mentor
                         Program and then committing to at least 2 of the 4 monthly calls with Jack. 
                         To remain certified, you just need to take one specific Master Course per year, 
                         pass the qualifying test, and then pay the yearly renewal cost of $500.
                    </h3>
                </span>
                <span class="newmentor_block4_wrapper_right spandiv">
                    <img src="../../assets/images/newmentor_block4_col1_img2.png" alt="#">
                </span>
                <span class="clearfix spandiv"></span>
                <h4> THERE IS NO REASON TO WAIT FOR SUCCESS ANY LONGER. SIGN UP FOR ONE OF <span>JACK’S LIFE-CHANGING 
                    SUCCESS PACKAGES</span> TODAY!
                    
                </h4>
                <h3 class="bottomh3"> Click to learn what your choices are and become one of the people Jack has helped take their lives, 
careers and personal lives to a completely new level! 
                </h3>
                <span class="newabout_block5_btn spandiv"><a href="http://www.dnamastercourse.com/newproductlist">See our incredible products now!</a></span>
            </span>
        </span>
    </span>
</mat-card>

<app-footer></app-footer>
