<app-header></app-header>
<mat-card class=" product_banner_section  newthewholestory_banner_section">
    <img src="../../assets/images/new_thewholestory_top_banner.jpg" alt="#" class="productbanner2">
    <span class="row spandiv">
        <span class="product_banner_col spandiv">
            <span class="container home_banner_inner spandiv">
                <span class="row spandiv">
                    <span class=" product_banner_inner_col spandiv">
                        <span class="product_banner_inner_top spandiv">
                            <span class="product_banner_inner_top_content spandiv">
                                <span class="ptext1 spandiv">
                                    <span>Realize Your Core Desires</span> <span>*</span> Live an Incredible Life <span>*</span> Earn the Income You Want <span>*</span> Build Lasting Meaningful Relationships

    </span>
    </span>
    <img src="../../assets/images/home_banner_top_ankle.png" alt="#">
    </span>
    <span class="producttextblock newthewholestorybannertxt spandiv">
                            <h2>Jack’s methods and message have been called a "breakthrough" and a "wake up call" for
                                 millions 
                            </h2>
                        </span>
    </span>
    </span>
    </span>
    </span>
    </span>
</mat-card>

<mat-card class="container newthewholestory_block2">
    <span class="newthewholestory_main_wrapper spandiv">
        <span class="newthewholestory_block2_row1_wrapper spandiv">
            <h2>HUMAN POTENTIAL SUPERSTAR, JACK ZUFELT, WILL SHOW YOU HOW TO USE WHAT IS ALREADY WITHIN YOU TO GET
                 WHAT YOU WANT. THIS TOPIC IS SO INCREDIBLY GROUND BREAKING THAT JACK HAS BEEN ON 2000 RADIO & TV
                  TALK SHOWS.
            </h2>
            <h3>What you will learn through these master course will shatters all of your 
                conventional ideas about success such as goal setting, daily affirmations,
                 visualization, self-help books, motivational speakers or other self-help 
                 techniques. If these things actually worked. Then WHY are they NOT
                  working for you?  research proves there
                   is a better way! It is truly astonishing and valuable. The newest edition 
                   of Jack’s timeless teachings are right here now. Right in front of you! This
                    is the New DNA of Success Master Courses. See products now.<br><br>Jack Zufelt has 
                    teamed up with some top leaders and trainers to bring you the ultimate in the DNA of 
                    Success. Jack Zufelt has created a new corporation <span>"DNA of Success, Corp."</span> to expand his mission and bring his message to a whole new place. Please read more about Jack on his bio page here.
    </h3>
    <span class="newabout_block5_btn spandiv"><a href="javascript:void(0);"  routerLink="/pages/about">Click Here to Jack’s Bio</a></span>
    </span>
    </span>
</mat-card>

<mat-card class="container newthewholestory_block3">
    <span class="newthewholestory_main_wrapper spandiv">
        <span class="newthewholestory_block3_row2_wrapper spandiv">
            <h2>MY GOAL IS YOUR SUCCESS!
            </h2>

                <ul>
                <li>I focus my simple, powerful, and proven formula towards one end only. The enrichment and success rates of those that enlist in my proven system.</li>
                <li>I believe that understanding the physiological, psychological, and core disciplines of my methods will allow everyone that applies them success.</li>
                <li>I believe in taking immediate action towards developing one’s truest identity through fully recognizing Core Desires and acting on them.</li>
                <li>I believe that success is not a single definition, rather a set of values, clear vision, and purpose that includes financial, emotional, mental, and physical wellbeing.</li>
                <li>I believe that being centered and peaceful while unleashing the Conquering Force at maximum capacity is not only achievable but absolutely necessary.</li>
                <li>One of my central focuses is the reality that we are all living in a world that requires each of us to earn a living. Much of my course material is centered on helping you earn more money and live your unlimited potential.</li>
                <li>I understand the incredible power of mentorship and have worked tirelessly to add a dimension of leadership and opportunities for others to teach my program.</li>
                <li>I know that my programs will change your life and the lives of everyone around you. I have seen this happen time and time again. I was coined "Mentor to Millions" and my message has changed the lives of thousands those following these principals.</li>
            </ul>
        </span>
    </span>
</mat-card>

<mat-card class="container newthewholestory_block4">
    <span class="newthewholestory_block4_con_body spandiv">
        <span class="newthewholestory_block4_con spandiv">
            <span class="newthewholestory_block4_wrapper spandiv">
                <span class="newthewholestory_block4_wrapper_left spandiv">
                    <h3> I have built an all-new, advanced system that will teach you the things you need 
                        to know to realize your true desires and achieve success. This program is built upon 
                        my long-held and proven DNA of Success philosophy that addresses the specific needs 
                        of everyone that seeks to live their truth and be the person they were meant to be.
                    </h3>
                </span>
    <span class="newthewholestory_block4_wrapper_right spandiv">
                    <img src="../../assets/images/newthewholestory_block4_col1_img2.png" alt="#">
                </span>
    <span class="clearfix spandiv"></span>
    <h4>I have a wealth of experience and offer proven strategies to assist individuals to develop the lasting qualities that make success a reality. I know what works and can help you expand your view of what you can do. You will strengthen your character
        and find the power within yourself to do the things you never thought possible. Together we can build positive outcomes as you connect with the power within you to succeed. With this all-new Success Education Program, you will learn the right
        tools to gain the results you want.
    </h4>
    <span class="newabout_block5_btn spandiv"><a href="javascript:void(0);"  routerLink="/pages/products">Pick from one of our Incredible 4 Packages Now!</a></span>
    </span>
    </span>
    </span>
</mat-card>

<mat-card class="container newthewholestory_block5">
    <span class="newthewholestory_main_wrapper spandiv">
        <span class="newthewholestory_block5_row1_wrapper spandiv">
            <h2>MAKE MORE MONEY AND THE LIFESTYLE YOU WANT
            </h2>
            <h3>The facts remain that a good part of our personal beliefs about living successfully includes the ability 
                to create more income. For some of us, we want to experience explosive growth in this area. 
                Are you one of those? This is so much the fact there have been volumes of books and trainings
                 centered on the subject. I am very proud to tell you that not only will the DNA of Success help 
                 you with vital areas in your life on a personal level, but it will massively change your ability 
                 to earn. The same principse you apply to realize your Core Desires are the same principles you apply
                  to get to the top of your league in any industry.<br><br> I have worked directly with sales professionals,
                   business owners, entrepreneurs, and the employees of some of the most successful companies teaching 
                   these principles. If what you seek is a better career, higher monthly earnings, and the lifestyle these 
                   afford, my products are most certainly for you. The added bonus is that this is just one of the incredible
                    equities you will develop through applying the DNA of Success Master Courses.
            </h3>
            <span class="newabout_block5_btn spandiv"><a href="javascript:void(0);"  routerLink="/pages/products">Pick from one of our Incredible 4 Packages Now!</a></span>
    </span>
    </span>
</mat-card>

<mat-card class="container newthewholestory_block6">
    <span class="newthewholestory_main_wrapper spandiv">
        <span class="newthewholestory_block6_row2_wrapper spandiv">
            <h2>This program has made an impact on millions. Let it make an impact with you.
            </h2>
            <h3>Don't be guilty of limiting yourself. By limiting your belief in what you can achieve in life, 
                you are rejecting the success that could be yours. When you learn and properly apply the tenets 
                of the Success philosophy you will be an unstoppable force and will achieve anything you set 
                your mind to.<br><br>This powerful Success Education is a comprehensive training with weekly 
                courses, step-by-step instructions on how to apply the principles, and new concepts that will 
                impact you for life. This is the master course that teaches you new methods on how to make a 
                permanent and positive change that will echo throughout your life and the lives of everyone you know. 
                This is the ultimate accumulation of the most powerful and important knowledge in the world.<br><br>We
                 know what it takes to reach the ultimate level of living your best life and achieving your greatest 
                 success. We want to share it with you. We want you to share it with others. This DNA of Success 
                 philosophy is too important, too powerful not to. Realize your Success today!
            </h3>
        </span>
    </span>
</mat-card>

<mat-card class="container newthewholestory_block7">
    <span class="newthewholestory_main_wrapper spandiv">
        <span class="newthewholestory_block7_row1_wrapper spandiv">
            <h2>
                THERE IS NO REASON TO WAIT FOR SUCCESS ANY LONGER. SIGN UP FOR ONE OF JACK’S LIFE CHANGING 
                SUCCESS PACKAGES TODAY!
            </h2>
            <h3>Go here to learn what your choices are and become one of the people Jack has helped take their lives, careers, and personal lives to a completely new level!
                
            </h3>
            <span class="newabout_block5_btn spandiv"><a href="javascript:void(0);"  routerLink="/pages/products">SEE OUR INCREDIBLE PRODUCTS NOW!</a></span>
    </span>
    </span>
</mat-card>
<app-footer></app-footer>