<app-header></app-header>
<mat-card class="testimonials_newtopbanner">
   
    <div class="testimonials_newtopbanner_wrapper">

          <h2 style="border: solid 1px #fff; border-top: none;">REALIZE YOUR CORE DESIRES <span>*</span> LIVE AN INCREDIBLE LIFE <span>*</span> EARN THE INCOME YOU WANT <span>*</span> BUILD LASTING MEANINGFUL RELATIONSHIPS</h2>

          <img src="../../assets/images/home_banner_top_ankle.png" alt="#" class="aboutbeto_newbannerarrow">
          <div class="testimonials_newtopbanner_con">
              <h3>
                  <label>TESTIMONIALS</label>
                  OF NOTE BY NOTABLE PUBLIC FIGURES AND OTHERS WHO CAME IN CONTACT WITH JACK ZUFELT AND HIS WORK

               

              </h3>
             


            </div>

        
    </div>


</mat-card>

<div class="testimonials_wrapper1">


    <div class="testimonials_block1">

        <div class="testimonials_block1_img">
             <img src="../../assets/images/tes_avt1.jpg" alt="#"> 
             <h2>Brian Tracy</h2>
        </div>

        <div class="testimonials_block1_text"> 

            <div class="testimonials_block1_text_wrapper"> 
                <h3><span>BEST SELLING AUTHOR, 
                    PERFORMANCE EXPERT</span></h3>
                    <h4> "Jack Zufelt has developed and 
                        refined one of the most powerful 
                        ideas in human success and 
                        achievement"</h4>
            
        
            </div>
        
        </div>

   </div> 


   <div class="testimonials_block1">

    <div class="testimonials_block1_img">
         <img src="../../assets/images/tes_avt2.jpg" alt="#"> 
         <h2>Mary Kay Ash</h2>
    </div>

    <div class="testimonials_block1_text"> 

        <div class="testimonials_block1_text_wrapper"> 
            <h3><span>FOUNDER OF MARY KAY 
                COSMETICS</span></h3>
                <h4> Mr. Zufelt's formula gives you that 
                    intense drive to conquer obstacles and succeed despite any 
                    circumstances. His concepts are 
                    unbelievably powerful and they 
                    work!</h4>
        
    
        </div>
    
    </div>

</div> 



<div class="testimonials_block1">

    <div class="testimonials_block1_img">
         <img src="../../assets/images/tes_avt3.jpg" alt="#"> 
         <h2>Norman Vincent Peale</h2>
    </div>

    <div class="testimonials_block1_text"> 

        <div class="testimonials_block1_text_wrapper"> 
            <h3><span><p>AMERICAN MINISTER AND AUTHOR OF</p> “THE POWER OF POSITIVE THINKING”
            </span></h3>
                <h4> "It is very astute thinking that Zufelt puts forth."  </h4>
        
    
        </div>
    
    </div>

</div> 

<div class="testimonials_block1">

    <div class="testimonials_block1_img">
         <img src="../../assets/images/tes_avt4.jpg" alt="#"> 
         <h2>Mark Victor Hansen</h2>
    </div>

    <div class="testimonials_block1_text"> 

        <div class="testimonials_block1_text_wrapper"> 
            <h3><span><p>NEW YORK TIMES BESTSELLING AUTHOR, AUTHOR OF “ONE MINUTE MILLIONAIRE” 
                AND “CHICKEN SOUP FOR SOUL”</p>  
            </span></h3>
                <h4> With Jack's DNA of Success you'll become vastly successful super fast!  </h4>
        
    
        </div>
    
    </div>

</div> 

<div class="testimonials_block1">

    <div class="testimonials_block1_img">
         <img src="../../assets/images/tes_avt5.jpg" alt="#"> 
         <h2>Jack Canfield</h2>
    </div>

    <div class="testimonials_block1_text"> 

        <div class="testimonials_block1_text_wrapper"> 
            <h3><span><p>NEW YORK TIME BESTSELLING AUTHOR, AUTHOR OF</p> “THE SUCCESS 
                PRINCIPLES”
            </span></h3>
                <h4> "Jack Zufelt successfully challenges the standard concepts about 
                    success. He proves we all have the DNA of success in our hearts and can pull it out to create any level of success you want."
                     </h4>
        
    
        </div>
    
    </div>

</div> 

<div class="testimonials_block1">

    <div class="testimonials_block1_img">
         <img src="../../assets/images/tes_avt6.jpg" alt="#"> 
         <h2>Scott Carpenter</h2>
           
    </div>

    <div class="testimonials_block1_text"> 

        <div class="testimonials_block1_text_wrapper"> 
            <h3><span>Celebrated United States Astronaut 
            </span></h3>
                <h4> “Jack has provided a method for 
                    success that is powerful and gets 
                    results! Liston to him and follow his advice.” 
                     </h4>
        
    
        </div>
    
    </div>

</div> 



</div> 



<div class="testimonials_wrapper2">

    <div class="testimonials_block2">

        <div class="testimonials_block2_imgblock">

            <img src="../../assets/images/tes_avt7.jpg" alt="#"> 
            <h2>Doris Wood</h2>
            
         </div>   

         <div class="testimonials_block2_textblock">
            <img src="../../assets/images/tes_textq1.png" alt="#"  class="tes_textq1"> 
            In all the years I have been in the MLM industry I have never had as much response about a speaker as I have had about you. Every MLM company and 
            distributor in the world should hear your message. 
            I am glad to award you the distinguished    <a href="javascript:void(0);" (click)="DorisWoodModal();">...<span>view more</span></a>


            </div>

            <h3><span>Chair/CEO MLMIA, Top Speaker/Trainer/Coach,  
                Management Consultant
            </span>
                
                </h3>



     </div>

     <div class="testimonials_block2">

        <div class="testimonials_block2_imgblock">

            <img src="../../assets/images/tes_avt8.jpg" alt="#"> 
            <h2>Kathy Whittington</h2>
            
         </div>   

         <div class="testimonials_block2_textblock">
            <img src="../../assets/images/tes_textq1.png" alt="#" class="tes_textq1"> 
            I've been recommending your audio program to my team and to everyone else I know in Arbonne.  
            One day I am sure that I'll get rid of all the other books and CDs  I've invested in but leave YOURS in my library of resources.
            <img src="../../assets/images/tes_textq2.png" alt="#"  class="tes_textq2"> 

            </div>

            <h3><span>Business Support Administrator at Central Ohio  
                Urology Group   </span> </h3>



     </div>

     <div class="testimonials_block2">

        <div class="testimonials_block2_imgblock">

            <img src="../../assets/images/tes_avt9.jpg" alt="#"> 
            <h2>Benjamin Leppier</h2>
            
         </div>   

         <div class="testimonials_block2_textblock">
            <img src="../../assets/images/tes_textq1.png" alt="#" class="tes_textq1"> 
            My life has really opened up since before I read your book.  I haven’t yet said thank you yet…so THANK YOU! I will making numerous references to the exercises that you have designed as they are brilliant.
            <img src="../../assets/images/tes_textq2.png" alt="#"  class="tes_textq2"> 

            </div>

            <h3><span>Executive Coach and Management Consultant at Benjamin 
                Leppier Enterprises Limited.
                
                 </span> </h3>



     </div>

     <div class="testimonials_block2">

        <div class="testimonials_block2_imgblock">

            <img src="../../assets/images/tes_avt10.jpg" alt="#"> 
            <h2>Alicia Thibadeau </h2>
            
         </div>   

         <div class="testimonials_block2_textblock">
            <img src="../../assets/images/tes_textq1.png" alt="#" class="tes_textq1"> 
            I definitely enjoyed your book 100% - One of the best books I've read. Reading this book made me realize that I need to change and get out of my comfort zone. Your book is worth reading not just once, but several times.
            <img src="../../assets/images/tes_textq2.png" alt="#"  class="tes_textq2"> 

            </div>

            <h3><span>CEO at OnDemandClients.com, Author of Growth 
                Hacking Guerilla.
                
                
                 </span> </h3>



     </div>


     <div class="testimonials_block2">

        <div class="testimonials_block2_imgblock">

            <img src="../../assets/images/tes_avt11.jpg" alt="#"> 
            <h2>Dawn Marie</h2>
            
         </div>   

         <div class="testimonials_block2_textblock">
            <img src="../../assets/images/tes_textq1.png" alt="#" class="tes_textq1"> 
            What can I say Jack Zufelt, I have the BEST MENTOR anyone could ask for!!! YOU!!!"

            <img src="../../assets/images/tes_textq2.png" alt="#"  class="tes_textq2"> 

            </div>

            <h3><span>American actress, retired professional wrestler
                
                 </span> </h3>



     </div>

     <div class="testimonials_block2">

        <div class="testimonials_block2_imgblock">

            <img src="../../assets/images/tes_avt12.jpg" alt="#"> 
            <h2>Graham Park </h2>
            
         </div>   

         <div class="testimonials_block2_textblock">
            <img src="../../assets/images/tes_textq1.png" alt="#" class="tes_textq1"> 
            I found Jack’s ability to help people to be amazingly effective! He gets to the heart of what it takes to succeed and helps people move forward quickly. Far more than just a great speaker, Jack delivers real and lasting results. I cannot recommend him highly enough.

            <img src="../../assets/images/tes_textq2.png" alt="#"  class="tes_textq2"> 

            </div>

            <h3><span>Award Winning Author, Speaker, Mentor, Social Entrepreneur and Director of International Leadership Development PL</span> </h3>



     </div>

     <div class="testimonials_block2">

        <div class="testimonials_block2_imgblock">

            <img src="../../assets/images/tes_avt13.jpg" alt="#"> 
            <h2>John Stiles </h2>
            
         </div>   

         <div class="testimonials_block2_textblock">
            <img src="../../assets/images/tes_textq1.png" alt="#" class="tes_textq1"> 
            He and his message are awesome! I had the pleasure of seeing Jack Zufelt speak live. Edge of your seat speaker. See him live if you can.

            <img src="../../assets/images/tes_textq2.png" alt="#"  class="tes_textq2"> 

            </div>

            <h3><span>Brand Marketing | Customer Acquisition | SEO Marketing 
                Consultant
                
                </span> </h3>



     </div>

     <div class="testimonials_block2">

        <div class="testimonials_block2_imgblock">

            <img src="../../assets/images/tes_avt14.jpg" alt="#"> 
            <h2>Joe Garcia </h2>
            
         </div>   

         <div class="testimonials_block2_textblock">
            <img src="../../assets/images/tes_textq1.png" alt="#" class="tes_textq1"> 
            I totally endorse Jack’s program. It was influential in my building a Global business in more than 50 
            countries doing  well over 1 billion in sales. I have spent most of my adult life  on a crusade with regards to my personal development. I came across

            <a href="javascript:void(0);"  (click)="JoeGarciaModal();">...<span>view more</span></a>

            </div>

            <h3><span>Global Marketing Expert & Entrepreneur Author of YOUR BEST 
                YEAR EVER! & GLOBAL PARADIGM SHIFT
                
                
                </span> </h3>



     </div>

     <div class="testimonials_block2">

        <div class="testimonials_block2_imgblock">

            <img src="../../assets/images/tes_avt15.jpg" alt="#"> 
            <h2>Paul Barrs ~ Australia </h2>
            
         </div>   

         <div class="testimonials_block2_textblock">
            <img src="../../assets/images/tes_textq1.png" alt="#" class="tes_textq1"> 
            Jack, I want you to know that your material helped me re-shape my life from a broken down old alcoholic to a brand new, revitalized and renewed man. Thank you.

            <img src="../../assets/images/tes_textq2.png" alt="#" class="tes_textq2"> 

            </div>

            <h3><span>Owner at Paul Barrs Publishing</span> </h3>



     </div>

     <div class="testimonials_block2">

        <div class="testimonials_block2_imgblock">

            <img src="../../assets/images/tes_avt16.jpg" alt="#"> 
            <h2>Jason Moss  </h2>
            
         </div>   

         <div class="testimonials_block2_textblock">
            <img src="../../assets/images/tes_textq1.png" alt="#" class="tes_textq1"> 
            There is always one person that stands out from the crowd. Jack Zufelt was that person for me. I saw the logic in his message. I cannot speak for anyone else, but I know that I had a major paradigm shift that has made a significant difference in my

            <a href="javascript:void(0);" (click)="JasonMossModal();">...<span>view more</span></a>

            </div>

            <h3><span>CEO of Georgia Manufacturing Alliance</span> </h3>



     </div>


     <div class="testimonials_block2">

        <div class="testimonials_block2_imgblock">

            <img src="../../assets/images/tes_avt17.jpg" alt="#"> 
            <h2>Robert Bolduc </h2>
            
         </div>   

         <div class="testimonials_block2_textblock">
            <img src="../../assets/images/tes_textq1.png" alt="#" class="tes_textq1"> 
            Your presentation to the DSA Canada made it one of the best annual conferences ever! Your presence and message was definitely an asset.


            <img src="../../assets/images/tes_textq2.png" alt="#" class="tes_textq2"> 

            </div>

            <h3><span>President</span> </h3>



     </div>

     <div class="testimonials_block2">

        <div class="testimonials_block2_imgblock">

            <img src="../../assets/images/tes_avt18.jpg" alt="#"> 
            <h2>Mary Lou Arveseth  </h2>
            
         </div>   

         <div class="testimonials_block2_textblock">
            <img src="../../assets/images/tes_textq1.png" alt="#" class="tes_textq1"> 
            You were fabulous! Our two national leaders 
            conferences were a resounding success because of your message. Everyone was enthralled at the way you describe what it takes to be successful in life and MLM. It was new and different! I would

            <a href="javascript:void(0);" (click)="MaryLouModal();">...<span>view more</span></a>

            </div>

            <h3><span>Former Manager Nature’s Sunshine</span> </h3>



     </div>


     <div class="testimonials_block2">

        <div class="testimonials_block2_imgblock">

            <img src="../../assets/images/tes_avt19.jpg" alt="#"> 
            <h2>Mike DeLuca  </h2>
            
         </div>   

         <div class="testimonials_block2_textblock">
            <img src="../../assets/images/tes_textq1.png" alt="#" class="tes_textq1"> 
            I have had the privilege of knowing Jack Zufelt 
            professionally and personally for 17 years. I have 
            personally benefited from Jack’s products and have seen thousands of others do so both professionally and in their private lives. Jack has the unique ability to help you find the keys within your own

            <a href="javascript:void(0);"  (click)="MikeDeLucaModal();">...<span>view more</span></a>

            </div>

            <h3><span>Vice President - Latin American Region</span> </h3>



     </div>

     <div class="testimonials_block2">

        <div class="testimonials_block2_imgblock">

            <img src="../../assets/images/tes_avt20.jpg" alt="#"> 
            <h2>Steadwick D'Penha </h2>
            
         </div>   

         <div class="testimonials_block2_textblock">
            <img src="../../assets/images/tes_textq1.png" alt="#" class="tes_textq1"> 
            Let me begin by saying that it was God who directed you to send me the email regarding the Conquering Force information. Your message has worked wonders for me. The greatest achievement of this day for me was that I am now classified as an 'A' Class snooker player among the Seniors.

            <a href="javascript:void(0);"  (click)="SteadwickModal();">...<span>view more</span></a>

            </div>

            <h3><span>Independent Real Estate Professional, Actor, 
                Stuntman, Singer</span> </h3>



     </div>

     


</div>



<div class="testimonials_wrapper3">

    <div class="testimonials_block3">

        <div class="testimonials_block3_imgblock">

            <span>
            <img src="../../assets/images/tes_avt21.jpg" alt="#"> 

        </span>
            <h2>Kate Baker</h2>
            
         </div>   

         <div class="testimonials_block3_textblock">
            <img src="../../assets/images/tes_textq3.png" alt="#"  class="tes_textq3"> 
            A master of his craft, Jack is passionate and 
knowledgable about creating an ecosystem for success. He is enthusiastic and genuine, listens carefully, and is thoughtful in conversation. Jack's recommendations 
for professional and personal growth    <a href="javascript:void(0);" (click)="KateBakerModal();">...<span>view more</span></a>


            </div>
            <div class="tsbottomarrow"></div>
            <h3><span>Founder, Zen Donkey Farms. Head of Global Partnerships, 
                CX Adviser
            </span>
                
                </h3>

              



     </div>
     <div class="testimonials_block3">

        <div class="testimonials_block3_imgblock">

            <span>
            <img src="../../assets/images/tes_avt22.jpg" alt="#"> 

        </span>
            <h2>Sharyl Allen</h2>
            
         </div>   

         <div class="testimonials_block3_textblock">
            <img src="../../assets/images/tes_textq3.png" alt="#"  class="tes_textq3"> 
            Jack is a dynamic man who speaks the truth, sees your potential and helps you uncover your core 
            desires. If you want more, in your life, 
            Jack can help you.
            
            <img src="../../assets/images/tes_textq4.png" alt="#"  class="tes_textq4"> 


            </div>
            <div class="tsbottomarrow"></div>
            <h3><span>Deputy Superintendent at The Montana Office of Public Instruction
            </span>
                
                </h3>

              



     </div>
     <div class="testimonials_block3">

        <div class="testimonials_block3_imgblock">

            <span>
            <img src="../../assets/images/tes_avt23.jpg" alt="#"> 

        </span>
            <h2>Patrick S.K.Y</h2>
            
         </div>   

         <div class="testimonials_block3_textblock">
            <img src="../../assets/images/tes_textq3.png" alt="#"  class="tes_textq3"> 
            These are just some of the words that describes Jack M Zufelt.
               <br/> <br/>
              
            "Super Intelligent! Awesome! Wow! How does he know that?!, Fun Loving! .
            
            <img src="../../assets/images/tes_textq4.png" alt="#"  class="tes_textq4"> 


            </div>
            <div class="tsbottomarrow"></div>
            <h3><span>Singapore's Prime Luxury Real Estate Wealth Strategist 
                & Advisor</span>
                
                </h3>

              



     </div>

     <div class="testimonials_block3">

        <div class="testimonials_block3_imgblock">

            <span>
            <img src="../../assets/images/tes_avt24.jpg" alt="#"> 

        </span>
            <h2>John Rock</h2>
            
         </div>   

         <div class="testimonials_block3_textblock">
            <img src="../../assets/images/tes_textq3.png" alt="#"  class="tes_textq3"> 
            Jack is a close friend of almost 20 years. He has always been there whenever I've called upon him whether it was for personal guidance or for business. I've had the priviledge of working with Jack in the same company, and he has been a Key Note Speaker at 
            
            <a href="javascript:void(0);"  (click)="JohnRockModal();">...<span>view more</span></a>

            </div>
            <div class="tsbottomarrow"></div>
            <h3><span>Owner, J. W. Rock & Assoc. Management and 
                Consulting Services</span>
                
                </h3>

              



     </div>

     <div class="testimonials_block3">

        <div class="testimonials_block3_imgblock">

            <span>
            <img src="../../assets/images/tes_avt25.jpg" alt="#"> 

        </span>
            <h2>Phil Polson</h2>
            
         </div>   

         <div class="testimonials_block3_textblock">
            <img src="../../assets/images/tes_textq3.png" alt="#"  class="tes_textq3"> 
            What can I say about Jack Zufelt other than.....WOW!
               <br/> <br/>
              
               Jack knows success! He had a very successful career in the investment industry before being called to the speaking industry.
            
            <img src="../../assets/images/tes_textq4.png" alt="#"  class="tes_textq4"> 


            </div>
            <div class="tsbottomarrow"></div>
            <h3><span>Author Proven Online Profit Process</span>
                
                </h3>

              



     </div>

     <div class="testimonials_block3">

        <div class="testimonials_block3_imgblock">

            <span>
            <img src="../../assets/images/tes_avt26.jpg" alt="#"> 

        </span>
            <h2>Preston Palmer</h2>
            
         </div>   

         <div class="testimonials_block3_textblock">
            <img src="../../assets/images/tes_textq3.png" alt="#"  class="tes_textq3"> 
            Absolutely amazing. Take advantage of every 
            opportunity to work with Jack. You will NOT be 
            disappointed!
            
            
            <img src="../../assets/images/tes_textq4.png" alt="#"  class="tes_textq4"> 


            </div>
            <div class="tsbottomarrow"></div>
            <h3><span>CEO at Brovado Media, INC</span>
                
                </h3>

              



     </div>

     <div class="testimonials_block3">

        <div class="testimonials_block3_imgblock">

            <span>
            <img src="../../assets/images/tes_avt27.jpg" alt="#"> 

        </span>
            <h2>Roger Allen</h2>
            
         </div>   

         <div class="testimonials_block3_textblock">
            <img src="../../assets/images/tes_textq3.png" alt="#"  class="tes_textq3"> 
            It has been my pleasure to know Jack and his work for many years. Not only is he a man of honor and integrity but is a master of his craft and who can get right at the heart of helping you achieve personal and business success.

            
            
            <img src="../../assets/images/tes_textq4.png" alt="#"  class="tes_textq4"> 


            </div>
            <div class="tsbottomarrow"></div>
            <h3><span> Author, Consultant, Coach, Teacher, Owner at Roger K Allen</span>
                
                </h3>

              



     </div>

     <div class="testimonials_block3">

        <div class="testimonials_block3_imgblock">

            <span>
            <img src="../../assets/images/tes_avt28.jpg" alt="#"> 

        </span>
            <h2>Dr. Symeon Rodger</h2>
            
         </div>   

         <div class="testimonials_block3_textblock">
            <img src="../../assets/images/tes_textq3.png" alt="#"  class="tes_textq3"> 
            Jack and I have worked together several times over the past five years. At one point I was privileged to attend his "Zufelt Experience" three day event, where he takes participants through an intense transformational 
            process focusing on one particular issue in 

            <a href="javascript:void(0);" (click)="SymeonRodgerModal();">...<span>view more</span></a>
            </div>
            <div class="tsbottomarrow"></div>
            <h3><span> Founder at The Leader Revolution, Chief Training Officer 
                Global Resilience Solutions</span>
                
                </h3>

              



     </div>


     <div class="testimonials_block3">

        <div class="testimonials_block3_imgblock">

            <span>
            <img src="../../assets/images/tes_avt29.jpg" alt="#"> 

        </span>
            <h2>Christina Winsey</h2>
            
         </div>   

         <div class="testimonials_block3_textblock">
            <img src="../../assets/images/tes_textq3.png" alt="#"  class="tes_textq3"> 
            Jack is one of the most sincere people I have ever met. He truly and deeply cares about making a difference in the lives and businesses of those he works with. His integrity is impeccable and his business acumin is beyond question! I have taken

            <a href="javascript:void(0);" (click)="ChristinaWinseyModal();">...<span>view more</span></a>
            </div>
            <div class="tsbottomarrow"></div>
            <h3><span> Stress Management Expert, Spiritual Health ...</span>
                
                </h3>

              



     </div>

     
     <div class="testimonials_block3">

        <div class="testimonials_block3_imgblock">

            <span>
            <img src="../../assets/images/tes_avt30.jpg" alt="#"> 

        </span>
            <h2>Penny Lopez</h2>
            
         </div>   

         <div class="testimonials_block3_textblock">
            <img src="../../assets/images/tes_textq3.png" alt="#"  class="tes_textq3"> 
            Jack is a fabulous speaker. He doesn't motivate but he gets people to MOVE, take action in their life to 
            accomplish the things that their heart has desired. I have heard Jack speak to small groups of 40 to groups numbering in the 1000's.
            <a href="javascript:void(0);" (click)="PennyLopezModal();">...<span>view more</span></a>
            </div>
            <div class="tsbottomarrow"></div>
            <h3><span>Professional Sales and Marketing Coach</span>
                
                </h3>

              



     </div>

     <div class="testimonials_block3">

        <div class="testimonials_block3_imgblock">

            <span>
            <img src="../../assets/images/tes_avt31.jpg" alt="#"> 

        </span>
            <h2>Michael G Manning</h2>
            
         </div>   

         <div class="testimonials_block3_textblock">
            <img src="../../assets/images/tes_textq3.png" alt="#"  class="tes_textq3"> 
            Jack has high integrity, and I say that about only a few people, and Jack has earned it. He is an expert in 
several areas that I am aware of, and I highly 
recommend him.
<img src="../../assets/images/tes_textq4.png" alt="#"  class="tes_textq4"> 
            </div>
            <div class="tsbottomarrow"></div>
            <h3><span>Spiritual and Transformational Coach and Dynamism 
                Practitioner
                </span>
                
                </h3>

              



     </div>

     <div class="testimonials_block3">

        <div class="testimonials_block3_imgblock">

            <span>
            <img src="../../assets/images/tes_avt32.jpg" alt="#"> 

        </span>
            <h2>Jan Mallach</h2>
            
         </div>   

         <div class="testimonials_block3_textblock">
            <img src="../../assets/images/tes_textq3.png" alt="#"  class="tes_textq3"> 
            Jack has high integrity, and I say that about only a few people, and Jack has earned it. He is an expert in several areas that I am aware of, and I highly recommend him.
<img src="../../assets/images/tes_textq4.png" alt="#"  class="tes_textq4"> 
            </div>
            <div class="tsbottomarrow"></div>
            <h3><span>Creator of the 50:50 Fitness System especially for women 
                over 50. Feel Fit & Fabulous in 50 Days!
                </span>
                
                </h3>

              



     </div>

     <div class="testimonials_block3">

        <div class="testimonials_block3_imgblock">

            <span>
            <img src="../../assets/images/tes_avt33.jpg" alt="#"> 

        </span>
            <h2>Dragonist, Dov Baron</h2>
            
         </div>   

         <div class="testimonials_block3_textblock">
            <img src="../../assets/images/tes_textq3.png" alt="#"  class="tes_textq3"> 
            Jack Zufelt, is a very knowledgeable, engaging and 
playful guest. It was a pure pleasure to have Jack on The Accidental Guru Radio Show. If you are looking for a guest who actually knows what an interview needs to be...Jack Zufelt is your guy.
<img src="../../assets/images/tes_textq4.png" alt="#"  class="tes_textq4"> 
            </div>
            <div class="tsbottomarrow"></div>
            <h3><span>IncMag Top100 leadership #Speaker, #1 Fortune500 
                PodcastHost Entrepreneur, Mag writer, Loyalty Authority, 
                Dragonist
                </span>
                
                </h3>

              



     </div>

     <div class="testimonials_block3">

        <div class="testimonials_block3_imgblock">

            <span>
            <img src="../../assets/images/tes_avt34.jpg" alt="#"> 

        </span>
            <h2>Debbie (Allen) Gates</h2>
            
         </div>   

         <div class="testimonials_block3_textblock">
            <img src="../../assets/images/tes_textq3.png" alt="#"  class="tes_textq3"> 
            Jack is one of the finest men it has ever been my 
            privilege to know. His heart is in everything he does and he lives with absolute integrity. He knows what he's talking about - trust him.

<img src="../../assets/images/tes_textq4.png" alt="#"  class="tes_textq4"> 
            </div>
            <div class="tsbottomarrow"></div>
            <h3><span>Training, Project Management

                </span>
                
                </h3>

              



     </div>

     <div class="testimonials_block3">

        <div class="testimonials_block3_imgblock">

            <span>
            <img src="../../assets/images/tes_avt35.jpg" alt="#"> 

        </span>
            <h2>Scott A. Dennison</h2>
            
         </div>   

         <div class="testimonials_block3_textblock">
            <img src="../../assets/images/tes_textq3.png" alt="#"  class="tes_textq3"> 
            was introduced to Jack 6-7 years ago while seeking 
            content to license for my content company Inspired 
            Life. We spoke by phone regularly and I found his 
            message to be important and yet misunderstood.

<img src="../../assets/images/tes_textq4.png" alt="#"  class="tes_textq4"> 
            </div>
            <div class="tsbottomarrow"></div>
            <h3><span>Home Improvement Services Online Visibility Expert</span>
                
                </h3>

              



     </div>

     <div class="testimonials_block3">

        <div class="testimonials_block3_imgblock">

            <span>
            <img src="../../assets/images/tes_avt36.jpg" alt="#"> 

        </span>
            <h2>Larry Lynch</h2>
            
         </div>   

         <div class="testimonials_block3_textblock">
            <img src="../../assets/images/tes_textq3.png" alt="#"  class="tes_textq3"> 
            Jack has been the most influential person to me in my life. He led me to a life changing situation. Without having met, Jack I would not have the joy in my life. I met Jack when I was 54 and I am now 71 and since that meeting I have never had more joy in my life. 

<img src="../../assets/images/tes_textq4.png" alt="#"  class="tes_textq4"> 
            </div>
            <div class="tsbottomarrow"></div>
            <h3><span>Teacher as a Manager</span>
                
                </h3>

              



     </div>

     <div class="testimonials_block3">

        <div class="testimonials_block3_imgblock">

            <span>
            <img src="../../assets/images/tes_avt37.jpg" alt="#"> 

        </span>
            <h2>Scott A. Dennison</h2>
            
         </div>   

         <div class="testimonials_block3_textblock">
            <img src="../../assets/images/tes_textq3.png" alt="#"  class="tes_textq3"> 
            Jack is truly THE Mentors' Mentor! No hype, simply put... you will never have a better opportunity to work with someone that understands, lives and teaches 
            success principles. His results have been and continue to be the very best available anywhere.
            

<img src="../../assets/images/tes_textq4.png" alt="#"  class="tes_textq4"> 
            </div>
            <div class="tsbottomarrow"></div>
            <h3><span>Home Improvement Services Online Visibility Expert</span>
                
                </h3>

              



     </div>
     <div class="testimonials_block3">

        <div class="testimonials_block3_imgblock">

            <span>
            <img src="../../assets/images/tes_avt38.jpg" alt="#"> 

        </span>
            <h2>Dean Mannheimer</h2>
            
         </div>   

         <div class="testimonials_block3_textblock">
            <img src="../../assets/images/tes_textq3.png" alt="#"  class="tes_textq3"> 
            Jack brings true business practices that will 
fundamentally help poeple to be successful in their endeavor if they apply his teachings. To be successful in any business means "work" and jack does not shy away from that fact. Instead he helps

<a href="javascript:void(0);" (click)="DeanMannheimerModal();">...<span>view more</span></a>
            </div>
            <div class="tsbottomarrow"></div>
            <h3><span>President at World Marketing Group, President International 
                Success Group</span>
                
                </h3>

              



     </div>

     <div class="testimonials_block3">

        <div class="testimonials_block3_imgblock">

            <span>
            <img src="../../assets/images/tes_avt39.jpg" alt="#"> 

        </span>
            <h2>Viveka (Vivica) von Rosen</h2>
            
         </div>   

         <div class="testimonials_block3_textblock">
            <img src="../../assets/images/tes_textq3.png" alt="#"  class="tes_textq3"> 
            I don't even know where to start in my praise of Jack Zufelt.I met Jack at an event where we were both 
            speaking and was immediately attracted to his 
            presence. Jack personifies wisdom, kindness, success and charisma. One is simply drawn to him.
            

<img src="../../assets/images/tes_textq4.png" alt="#"  class="tes_textq4"> 
            </div>
            <div class="tsbottomarrow"></div>
            <h3><span>Speaker, listed as Forbes Top 20 Most Influential people</span>
                
                </h3>

              



     </div>
     <div class="testimonials_block3">

        <div class="testimonials_block3_imgblock">

            <span>
            <img src="../../assets/images/tes_avt40.jpg" alt="#"> 

        </span>
            <h2>John Schopf</h2>
            
         </div>   

         <div class="testimonials_block3_textblock">
            <img src="../../assets/images/tes_textq3.png" alt="#"  class="tes_textq3"> 
            Jack is a man of his word. What he promises he fulfils, and this dispite his large involvement base. This is a capacity I haven't experienced in many

<a href="javascript:void(0);" (click)="JohnSchopfModal();">...<span>view more</span></a>
            </div>
            <div class="tsbottomarrow"></div>
            <h3><span>Manager at glassfence.com MERGELOCK Systems</span>
                
                </h3>
 

     </div>
 
     
 </div>   
 
 
 <div class="testimonials_bottom_banner">
    <div class="testimonials_bottom_banner_wrapper">
            <h2>BETO PAREDES TESTIMONIALS</h2>
            <h3>See what some of the most influential people in the world</h3>
            <h4>have to say about Jack's partner Beto Paredes.</h4>
            <a href="/pages/aboutbeto" class="tesviewlink">view more</a>

    </div>


 </div>
<app-footer></app-footer>