<app-header></app-header>
<mat-card class="newhomebanner">

    <span class="newhomebanner_body1">

        <span class="newhomebanner_img">
  <img src="../../assets/images/nhome_banner_img1.png" alt="#"> 

        </span>

        <span class="newhomebanner_text">
            <h2>
                 
                JACK M. ZUFELT, MENTOR TO MILLIONS,<br/>
                IS BRINGING HIS TEACHINGS TO YOU! 
            </h2>


            <h3>
                the dna of success
               </h3>


            <h4>
            
                Master Courses
                 </h4>


            <h5>


                Identify your personal barriers to a successful life and destroy them. Never give them power
                 over you again. Jack Zufelts Success Attitude Formula and the incredible change his DNA 
                 Master Course system will make in your life is proven to work.

                 </h5>

            <a href="javascript:void(0);" routerLink="/product"><h6>
                
                Pick from one of our Incredible 4 Packages Now!

                </h6></a>


            <div class="clearfix"></div>


        </span>

        <div class="clearfix"></div>



    </span>

</mat-card>



<mat-card class="newhomeblock2">

    


    <span class="newhomeblock2_body">

        <span class="newhomeblock2_bodywrapper">

        <span class="newhomeblock2_body_text">
        <h2>
            <!--DADEF-newhomeblock2h2text:0aae768876-->
                Get <span>INSTANT ACCESS</span>        </h2>

        <h3>
            to these incredible products, trainings and online courses. Our Success Methods are a combination of amazing physical products, digital downloads and online training! Pick your Level of Success and get Started Today!        </h3>

        </span>

    </span>
    </span>


</mat-card>



<mat-card class="newhomeblock3">

    <span class="row">

    <span class="newhomeblock3_sub1">

        <span class="newhomeblock3_text">
            <h2>
                GOOD
            </h2>

            <h3>
                The Essential Success Method
            </h3>

            <h4>
               $ 149.00
            </h4>


            <h5>
             Get immediate access to this 
life changing online course, 
shippable products, and more!
            </h5>

  <span class="newhomeblock3_link">

            <a href="javascript:void(0);" (click)="learnproduct('1')">buy now</a>
      <a href="javascript:void(0);" (click)="learnproduct1('1')">Learn More</a>


      <div class="clearfix"></div>
  </span>





        </span>


    </span>
    <span class="newhomeblock3_sub2">

        <span class="newhomeblock3_text">
            <h2> 
                better 
            </h2>

            <h3> 
               The Essential Success 
Method PLUS 
(With Weekly PLUS extras). 
            </h3>

            <h4>  
              $ 249.00 
            </h4>


            <h5> 
           Get everything in the "Good" course and incredible WEEKLY PLUS benefits! 
            </h5>

  <span class="newhomeblock3_link">
 
            <a href="javascript:void(0);" (click)="learnproduct('2')">buy now</a>
      <a href="javascript:void(0);" (click)="learnproduct1('2')">Learn More</a> 



      <div class="clearfix"></div>
  </span>





        </span>


    </span>
    <span class="newhomeblock3_sub3">

        <span class="newhomeblock3_text">
            <h2> 
                BEST 
            </h2>

            <h3> 
              The Ultimate Success Method 
            </h3>

            <h4> 
              $ 349.00 
            </h4>


            <h5> 
         Get everything in the "Better" package AND access to LIVE webinar training events! 
            </h5>

  <span class="newhomeblock3_link">
 
            <a href="javascript:void(0);" (click)="learnproduct('3')">buy now</a>
      <a href="javascript:void(0);" (click)="learnproduct('3')">Learn More</a> 
      <div class="clearfix"></div>
  </span>





        </span>


    </span>
    <span class="newhomeblock3_sub4">

        <span class="newhomeblock3_text">
            <h2> 
                MENTOR 
            </h2>

            <h3> 
              Become a Platinum MENTOR DNA 
of Success Master 
Course Certification 
            </h3>

            <h4> 
              $749.00 
            </h4>


            <h5> 
       Now you can become a certified DNA of Success Mentor and make money 
helping others achieve more with Jack’s proven methods for success! 
            </h5>

  <span class="newhomeblock3_link">
 
            <a href="javascript:void(0);" (click)="learnproduct('4')">buy now</a>
      <a href="javascript:void(0);" (click)="learnproduct('4')">Learn More</a> 



      <div class="clearfix"></div>
  </span>





        </span>


    </span>



   <div class="clearfix"></div>
    </span>

</mat-card>



<mat-card class=" newhomeblock4">

    <span class="newhomeblock4_body">

        <span class="newhomeblock4_bodycon">

            <span class="newhomeblock4_bodycon_text">
        <h2> 
               THE <span>DNA of SUCCESS</span> METHOD IS A SCIENTIFICALLY PROVEN WAY TO ACHIEVE YOUR UNLIMITED POTENTIAL 
        </h2>

        <h3> 
             This one-of-a-kind system was developed by Jack M. Zufelt, the world famous, speaker, author and 
             “Mentor to Millions” to help people like you make fast and radical changes in their lives. Now you 
             can learn the celebrated methods of one of the most incredible thinkers of our time. Being highly 
             successful in all areas of life, including making more money, IS achievable if you use Jack’s proven method! 
        </h3>

        <h4> 
              <a href="javascript:void(0);"  routerLink="/successgenetics">SCIENCE BEHIND SUCCESS GENETICS</a> 
        </h4>

                <div class="clearfix"></div>

            </span>
        </span>

    </span>

</mat-card>


<mat-card class=" newhomeblock5">


    <mat-card class="newhomeblock5_left">

        <mat-card class="newhomeblock5_left_block1">

            <span class="home_new_imgblock1">

            <h1>
               
             THESE PRODUCTS WILL UNLEASH AN UNSTOPPABLE FORCE WITHIN YOU
            </h1>

            <h2>
         
           You have heard all your life that you have the ability to do, have or become whatever you want. It’s true. We are all born with it since the beginning of time. It was this power that got the pyramids built and a man on the moon. However you won’t access it through daily affirmations, goal setting or positive thinking. There is a “Conquering Force” inside you just waiting to be tapped into that will bring you the incredible results you are seeking. 
<br/> 
This is the most advanced method for achieving success. It is truly the <span>DNA OF all SUCCESS</span>. Millions 
have been taught this method and now you can have it too.
            </h2>


            <span class="newhomeblock5_left_con1_link1">
            
            <a href="javascript:void(0);"  routerLink="/product">See Full Product Detail NOW!</a>
            </span>


            <h1 class="h1text2">
                
                SCIENCE PROVES MY CONCEPTS WORK! “SUCCESS GENETICS” IS WRITTEN IN ALL HUMAN DNA. YOU JUST NEED TO LEARN HOW TO GET IT TO WORK FOR YOU.
            </h1>
                <h3>
                    IT’S JUST AS EASY AS FLIPPING ON A LIGHT SWITCH.

                </h3>
            </span>

            <span class="home_new_imgblock3">





            <h2 class="h2text2 h2text2new">
                
          Science has now proven that what I teach about the DNA of all success is a FACT! And…I am the only one teaching this! And it is very easy to do! You can change your very DNA to acquire the attributes and 
characteristics needed for success. It is called Epigenetic Control. 
<br/>
I am the only one that can show you how to achieve the <span>MAXIMIZE BENEFIT</span> 
from this science for success.
            </h2>


            <span class="newhomeblock5_left_con1_link2">
                
            <a href="javascript:void(0);"  routerLink="/successgenetics">Read More Now!</a>
            </span>
        </span>


        </mat-card>

        <mat-card class="newhomeblock5_left_block2">


            <h1>
                
            BE A DNA OF SUCCESS MENTOR 
            </h1>

            <h2> 
            <span>JOIN MY TEAM</span> as a certified DNA of Success Mentor! Experience the joy of mentoring others to achieve success too! You will gain access to my 
unparalleled system on how to be a successful Mentor. 
            </h2>

            <span class="newhomeblock5_left_con2_link">
                 
            <a href="javascript:void(0);" routerLink="/mentor">Become a Mentor Today!</a> 
            </span>


        </mat-card>

        <mat-card class="newhomeblock5_left_block3">
            <span class="newhomeblock5_left_block3_sub subcon1">

                <span class="subcon_imgdiv">
                    <img src="../../assets/images/nhome_left_con3_img1.png" alt="#">
                </span>

                <span class="subcon_textdiv1">
                  MAKE MORE MONEY
                </span>

                <span class="subcon_textdiv2">
                   Unleash your Conquering Force and Explode your Income Potential.
                </span>

                <span class="subcon_link">
                   <a href="javascript:void(0);" routerLink="/thewholestory">Get the whole story</a>
                </span>




            </span>

            <span class="newhomeblock5_left_block3_sub subcon2">

                <span class="subcon_imgdiv">
                   <img src="../../assets/images/nhome_left_con3_img2.png" alt="#">
                </span>

                <span class="subcon_textdiv1">
                    CREATEMEANINGFUL RELATIONSHIPS
                </span>

                <span class="subcon_textdiv2">
                   We have a special place in our training for maintaining healthy relationships.
                </span>

                <span class="subcon_link">
                    <a href="javascript:void(0);" routerLink="/thewholestory">Get the whole story</a>
                </span>




            </span>


            <span class="newhomeblock5_left_block3_sub subcon3">

                <span class="subcon_imgdiv">
                  <img src="../../assets/images/nhome_left_con3_img3.png" alt="#">
                </span>

                <span class="subcon_textdiv1">
                   GAIN THE UNRELENTING "SUCCESS ATTITUDE"
                </span>

                <span class="subcon_textdiv2">
                   Self Confidence and Self Esteem is built on the foundations of Attitude.
                </span>

                <span class="subcon_link">
                     <a href="javascript:void(0);" routerLink="/thewholestory">Get the  whole story</a>
                </span>




            </span>

            <div class="clearfix"></div>

        </mat-card>

        <mat-card class="newhomeblock5_left_block4">
            <span class="newhomeblock5_left_block4_img">


                <span class="left_block4_img_div">
                     <img src="../../assets/images/nhome_left_con5_img.jpg" alt="#">
                </span>
                <div class="clearfix"></div>
                <span class="left_block4_img_text_div">


                    <label> Jack M. Zufelt

                    </label>

                    <span>  “Mentor to Millions”

                    </span>


                </span>


            </span>
            <span class="newhomeblock5_left_block4_text">

            <h2><span>Jack Zufelt</span> HAS HELPED MILLIONS AROUND THE WORLD AND NOW HIS 
                NEW AND EXCITING MASTER COURSES ARE HERE TO HELP YOU TOO!
            </h2>

            <h3>Before I became highly successful I really struggled….much like you might be doing. I had no self-esteem, no confidence, no college education, and no money. I was not known outside of my family, and my “job”. And yet, because of what I figured out, I ended up in this amazing position of mentoring millions of people in 127 countries around the globe. 
<br/> 
My one-of-a-kind message on how to achieve success has gotten me on about 2,000 radio and TV talk shows including The 
TODAY SHOW and PBS.

            </h3>
                <h3>
                    <span class="aslogowrapper">
                        <span class="top_logo_div">
                            <a href="javascript:void(0);"><img src="../../assets/images/top_snewlogo1.png" alt="#"></a>
                            <a href="javascript:void(0);" class="" style="opacity: 1;"><img src="../../assets/images/top_snewlogo2.png" alt="#"></a>
                            <a href="javascript:void(0);"><img src="../../assets/images/top_snewlogo3.png" alt="#"></a>
                            <a href="javascript:void(0);"><img src="../../assets/images/top_snewlogo4.png" alt="#"></a>
                            <a href="javascript:void(0);"><img src="../../assets/images/top_snewlogo5.png" alt="#"></a>
                            <a href="javascript:void(0);"><img src="../../assets/images/top_snewlogo6.png" alt="#"></a>
                            <a href="javascript:void(0);"><img src="../../assets/images/top_snewlogo7.png" alt="#"></a>
                            <a href="javascript:void(0);" class="" style="opacity: 1;"><img src="../../assets/images/top_snewlogo8.png" alt="#"></a>
                            <a href="javascript:void(0);"><img src="../../assets/images/top_snewlogo9.png" alt="#"></a>
                            <a href="javascript:void(0);"><img src="../../assets/images/top_snewlogo10.png" alt="#"></a>
                            <a href="javascript:void(0);"><img src="../../assets/images/top_snewlogo11.png" alt="#"></a>
                            <a href="javascript:void(0);"><img src="../../assets/images/top_snewlogo12.png" alt="#"></a>
                             <div class="clearfix"></div>
                        </span>
                    </span>

                    And….I have hobnobbed with some of the highest level leaders, business people, entertainers and sports icons on the planet.
                </h3>
            </span>

            <div class="asnewhomeblock5_block04">

                <div class="asnewhomeimgcontainer">
                    <div class="asnewhomemainwrapper">
                        <div class="asnewimgsubwrapper">
                            <div class="asnewimgwrapper">
                                <img src="../../assets/images/asnewhomeimg1.jpg">
                            </div>
                        </div>
                        <div class="asnewtextwrapper">
                            <p>Former President of the United States
                                and our wives
                            </p>
                        </div>
                    </div>
                    <div class="asnewhomemainwrapper">
                        <div class="asnewimgsubwrapper">
                            <div class="asnewimgwrapper">
                                <img src="../../assets/images/asnewhomeimg2.jpg">
                            </div>
                        </div>
                        <div class="asnewtextwrapper">
                            <p>Tony Robbins and me…both speaking that day to the same organization</p>
                        </div>
                    </div>
                    <div class="asnewhomemainwrapper">
                        <div class="asnewimgsubwrapper">
                            <div class="asnewimgwrapper">
                                <img src="../../assets/images/asnewhomeimg3.jpg">
                            </div>
                        </div>
                        <div class="asnewtextwrapper">
                            <p>Apolo Ohno Gold Medalist in the WinterOlympics. The most decorated American
                                Olympian at those Olympics</p>
                        </div>
                    </div>
                    <div class="asnewhomemainwrapper">
                        <div class="asnewimgsubwrapper">
                            <div class="asnewimgwrapper">
                                <img src="../../assets/images/asnewhomeimg4.jpg">
                            </div>
                        </div>
                        <div class="asnewtextwrapper">
                            <p>Mark V. Hanson
                                Co-author of the famed
                                Chicken Soup For the Soul</p>
                        </div>
                    </div>
                    <div class="asnewhomemainwrapper">
                        <div class="asnewimgsubwrapper">
                            <div class="asnewimgwrapper">
                                <img src="../../assets/images/asnewhomeimg5.jpg">
                            </div>
                        </div>
                        <div class="asnewtextwrapper">
                            <p>Scott Johnson
                                Gold Medalist in Gymnastics
                            </p>
                        </div>
                    </div>
                    <div class="asnewhomemainwrapper">
                        <div class="asnewimgsubwrapper">
                            <div class="asnewimgwrapper">
                                <img src="../../assets/images/asnewhomeimg6.jpg">
                            </div>
                        </div>
                        <div class="asnewtextwrapper">
                            <p>Utah Jazz Basketball Player
                                Thurle Baily
                            </p>
                        </div>
                    </div>
                    <div class="asnewhomemainwrapper">
                        <div class="asnewimgsubwrapper">
                            <div class="asnewimgwrapper">
                                <img src="../../assets/images/asnewhomeimg7.jpg">
                            </div>
                        </div>
                        <div class="asnewtextwrapper">
                            <p>Ken Baschke 4 times World Kick Boxing Champion
                            </p>
                        </div>
                    </div>
                    <div class="asnewhomemainwrapper">
                        <div class="asnewimgsubwrapper">
                            <div class="asnewimgwrapper">
                                <img src="../../assets/images/asnewhomeimg8.jpg">
                            </div>
                        </div>
                        <div class="asnewtextwrapper">
                            <p>My Good Friend Brian Tracy
                            </p>
                        </div>
                    </div>
                    <div class="asnewhomemainwrapper">
                        <div class="asnewimgsubwrapper">
                            <div class="asnewimgwrapper">
                                <img src="../../assets/images/asnewhomeimg9.jpg">
                            </div>
                        </div>
                        <div class="asnewtextwrapper">
                            <p>US Senator Mitt Romney
                            </p>
                        </div>
                    </div>
                    <div class="asnewhomemainwrapper">
                        <div class="asnewimgsubwrapper">
                            <div class="asnewimgwrapper">
                                <img src="../../assets/images/asnewhomeimg10.jpg">
                            </div>
                        </div>
                        <div class="asnewtextwrapper">
                            <p>I was awarded the
                                “Presidential Medal Of Merit” by a former President of the United States
                            </p>
                        </div>
                    </div>
                </div>
                <div class="asbuttomwrapper">
                    <div class="col ascol1">
                        <table>
                            <tr>
                                <td><img src="../../assets/images/homenewconimg1.jpg"></td>
                                <td> <p>I was also honored by the entire US Senate and the FLAG that flew
                                        over the US Capital that day was given to me.</p></td>

                            </tr>

                        </table>




                        <div class="clearfix"></div>
                    </div>
                    <div class="col ascol2">



                        <table>
                            <tr>
                                <td><img src="../../assets/images/nhome_left_con5_imgnewhome.jpg"></td>
                                <td> <p> If you didn’t see me on TV or hear me on a radio interview my name might be new to you but for millions of people around the world my methods for success have been life changing. Now I want to do that for you.”</p></td>

                            </tr>

                        </table>


                        <div class="clearfix"></div>
                    </div>
                </div>


            </div>

            <div class="clearfix"></div>



            <!--<div class="newhomeblock5_left_block4_devider"></div>-->

        </mat-card>
     
        <span class="newhomeblock5_left_block5">

            <span class="newhomeblock5_left_block5_bg1">

                <span class="newhomeblock5_left_block5_bg2">



                    <span class="leftblock5_img_div1">
                       <img src="../../assets/images/nhome_left_con6_img1.png" alt="#">
                    </span>



                    <span class="leftblock5_text_div1">
                        <b>AUTHOR OF THE BEST</b> <span>SELLING BOOK</span>
                    </span>

                    <span class="leftblock5_text_div2">
                         "The <span>DNA of Success</span>" and creator of <br/>
"The <span>DNA of Success Master Courses</span>".
                    </span>


                    <span class="leftblock5_img_div2">
                         <img src="../../assets/images/nhome_left_con6_img2.png" alt="#">
                    </span>


                    <span class="leftblock5_linkdiv">
                          <a href="javascript:void(0);"  routerLink="/about">see jack's bio here</a>
                    </span>




                </span>

            </span>

        </span>

    </mat-card>



    <mat-card class=" newhomeblock5_right">

        <h2>
            TESTIMONIALS
            
        </h2>

        <span class="newhome_testimonial_con">

           <span class="tes_imgdiv">
              
            <img src="../../assets/images/new_home_tes_img1.jpg" alt="#">
        </span>

            <span class="tes_namediv">
               
                 BRIAN TRACY
                
            </span>

            <span class="tes_textdiv1">
             
                Bestselling authorPerformance expert
                
            </span>

            <span class="tes_textdiv2">
             
                 "Anyone who taps into Jack's formula will unleash a torrent power and 
                ability that will enable them to accomplish goals that others only dream about."
                
            </span>


        </span>

        <span class="newhome_testimonial_con">

            <span class="tes_imgdiv">
             
                <img src="../../assets/images/new_home_tes_img2.jpg" alt="#">
                
            </span>

            <span class="tes_namediv">
               
                 MARK VICTOR HANSEN
                
            </span>

            <span class="tes_textdiv1">
              
                 (New York Times bestselling author 
Author of "One Minute Millionaire" 
and "Chicken Soup for Soul")

            </span>

            <span class="tes_textdiv2">
                
                 "With Jack\'s DNA of Success Method you\'ll become vastly 
                successful super fast! Jack takes popular beliefs on how to be successful and blows them 
                apart with simple truths. Then he gives you the formulas that work every time."
                
            </span>


        </span>

        <span class="newhome_testimonial_con">

            <span class="tes_imgdiv">
              
                <img src="../../assets/images/new_home_tes_img3.jpg" alt="#">
                
            </span>

            <span class="tes_namediv">
              
                 JACK CANFIELD
                
            </span>

            <span class="tes_textdiv1">
                
                NEW YORK TIMES BEST-SELLING AUTHOR AUTHOR OF "ONE MINUTE MILLIONAIRE" AND "CHICKEN SOUP FOR THE SOUL"
            </span>

            <span class="tes_textdiv2">
                
                "Jack Zufelt challenges every standard 
concept about success. He proves we all have	the'DNA for Success' and can pull it out ANY time to create ANY 
level of success you want."

            </span>


        </span>

        <span class="newhome_testimonial_con">

            <span class="tes_imgdiv">
               
                 <img src="../../assets/images/new_home_tes_img4.jpg" alt="#">
                
            </span>

            <span class="tes_namediv">
               
                MARY KAY ASH
                
            </span>

            <span class="tes_textdiv1">
               
                 Founder of Mary Kay Cosmetics
                
            </span>

            <span class="tes_textdiv2">
                
                "Mr. Zufelt\'s formula gives you that intense drive to conquer 
                obstacles and succeed despite any 
circumstances. His concepts are unbelievably 
powerful and they work!"

            </span>


        </span>

        <span class="newhome_testimonial_con">

            <span class="tes_imgdiv">
             <img src="../../assets/images/new_home_tes_img5.jpg" alt="#"> 
            </span>

            <span class="tes_namediv">
                DANNY GLOVER 
            </span>

            <span class="tes_textdiv1">
                 Movie Star 
            </span>

            <span class="tes_textdiv2"> "Jack is an amazing and brilliant man. I am lucky to know him." </span>


        </span>

        <span class="newhome_testimonial_linkdiv">

            <a href="javascript:void(0)">View More</a>

        </span>





    </mat-card>


    <div class="clearfix"></div>
</mat-card>
<div class="clearfix"></div>
<app-footer></app-footer>